{% extends layout_template %}


{% block content %}
  <h1>User administration: <tt>{{ user.id }}</tt></h1>

  <form method="post">
    <div>
      <input type="checkbox" id="user-active" name="active"
             {%- if user.active %} checked{% endif %}>
      <label for="user-active">Active</label>
    </div>
    <label>Roles</label>
    <select name="roles" multiple>
      {% for role, role_name in all_roles.items() %}
        <option value="{{ role }}"
            {%- if role in current_user_roles %}selected{% endif %}>
            {{ role_name }}
        </option>
      {% endfor %}
    </select>
    <div>
      <button type="submit">Save</button>
    </div>
  </form>
{% endblock content %}
