{% extends layout_template %}


{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs(APP_BREADCRUMBS + [
      ('users list', url_for('.users')),
      (user.id, None),
    ]) }}
{% endblock %}


{% block content %}
  <h1>User administration: <tt>{{ user.id }}</tt></h1>

  <form method="post">
    <div>
      <input type="checkbox" id="admin_user-active" name="active"
             {%- if user.active %} checked{% endif %}>
      <label for="admin_user-active">Active</label>
    </div>

    <div>
      <label for="admin_user-roles">Roles</label><br>
      <select name="roles" multiple id="admin_user-roles">
        {% for role, role_name in all_roles.items() %}
          <option value="{{ role }}"
              {%- if role in current_user_roles %}selected{% endif %}>
              {{ role_name }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div>
      <button type="submit">Save</button>

      <input type="checkbox" name="notify_user" id="admin_user-notify_user">
      <label for="admin_user-notify_user">Notify user about role changes</label>
    </div>
  </form>
{% endblock content %}
