{% extends layout_template %}
{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs(APP_BREADCRUMBS + [
('users list', url_for('.users')),
(user.id, None),
]) }}
{% endblock %}
{% block content %}
  {% from '_macros.html' import render_field_with_errors %}
  <h1>Reset password for: <em>{{ user.id }}</em></h1>
  <form class="box inline-block form" method="post">
    <div class="form-group">
      <label>
        {{ form.password.label.text }}
        {{ form.password }}
        {{ form.password_confirm.label.text }}
        {{ form.password_confirm }}
      </label>
    </div>
    <div class="btn-toolbar no-bottom">
      <button class="btn-blue" type="submit" name="btn" value="save">Save</button>
    </div>
  </form>
{% endblock content %}
