{% extends layout_template %}


{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs([
      ('art17', url_for(HOMEPAGE_VIEW_NAME)),
      ('change password', None),
    ]) }}
{% endblock %}


{% block content %}
  {%- from "security/_macros.html" import
      render_field_with_errors, render_field %}

  <h1>Change password</h1>

  <form method="post">
    {{ form.hidden_tag() }}
    {{ render_field_with_errors(form.password) }}
    {{ render_field_with_errors(form.new_password) }}
    {{ render_field_with_errors(form.new_password_confirm) }}
    {{ render_field(form.submit) }}
  </form>
{% endblock content %}
