{% extends 'layout.html' %}

{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs(APP_BREADCRUMBS + [
      ('Password recovery', None),
    ]) }}
{% endblock %}


{% block content %}

  {% from "security/_macros.html" import render_field_with_errors, render_field %}
  <form method="post" name="forgot_password_form" class="form-login">
    {{ forgot_password_form.hidden_tag() }}
    <div>{{ render_field_with_errors(forgot_password_form.email) }}</div>
    <button type="submit" class="btn btn-default margin-top">Recover password</button>
  </form>
{% endblock content %}
