{% extends layout_template %}


{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs(APP_BREADCRUMBS + [
      ('registration (eionet)', None),
    ]) }}
{% endblock %}


{% block content %}

  {%- from "security/_macros.html" import
        render_field_with_errors, render_field %}
  <h1>Register with Eionet account</h1>

  {%- if user %}
    <p>
      You have already registered your account:
      <tt>{{ user_id }}</tt>.
    </p>
  {%- else %}
    <form method="post" name="user">
      <p>
        Register the account named
        <tt>{{ user_id }}</tt>.
      </p>

      {{ register_user_form.hidden_tag() }}
      {{ register_user_form.MS() }}

      {{ render_field_with_errors(register_user_form.name) }}
      {{ render_field_with_errors(register_user_form.email) }}
      {{ render_field_with_errors(register_user_form.institution) }}
      {{ render_field_with_errors(register_user_form.abbrev) }}
      {{ render_field_with_errors(register_user_form.qualification) }}
      {{ render_field_with_errors(register_user_form.country_options) }}

      <div id="other_country_container">
        {{ render_field_with_errors(register_user_form.other_country) }}
      </div>

      <div>
        <button type="submit">Register</button>
      </div>
      </form>
  {%- endif %}

{% endblock content %}


{% block scripts %}

  <script src="{{ url_for('static', filename='js/auth_register.js') }}"></script>

{% endblock %}
