{% extends layout_template %}

{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs(APP_BREADCRUMBS + [
      ('registration (eionet)', None),
    ]) }}
{% endblock %}


{% block content %}

  {% from '_macros.html' import render_field_with_errors %}
  <h1>Register with Eionet account</h1>

  {%- if user %}
    <p>
      You have already registered your account:
      <tt>{{ user_id }}</tt>.
    </p>
  {%- else %}
    <form class="box inline-block form" method="POST" name="user">

    <div class="clearfix">
      <div class="box-col width-300">
          <p>
            Register the account named
            <b><tt>{{ user_id }}</tt></b>.
          </p>

          {{ register_user_form.hidden_tag() }}
          {{ register_user_form.MS() }}

          <!-- NAME -->
          <div class="form-group">
            {{ render_field_with_errors(register_user_form.name) }}
          </div>
          <!-- INSTITUTION -->
          <div class="form-group clearfix">
            <div class="pull-left" style="width: 75%;">
              {{ render_field_with_errors(register_user_form.institution) }}
            </div>
            <div class="pull-left" style="width: 25%;">
              {{ render_field_with_errors(register_user_form.abbrev, maxlength='4') }}
            </div>
          </div>
          <!-- MEMBER STATE -->
          <div class="form-group">
            {{ render_field_with_errors(register_user_form.country_options) }}
          </div>
          <!-- ??? -->
          <div class="form-group" id="other_country_container">
            {{ render_field_with_errors(register_user_form.other_country) }}
          </div>
      </div>

      <div class="box-col width-300">
        <!-- EMAIL -->
        <div class="form-group">
          {{ render_field_with_errors(register_user_form.email) }}
        </div>

        <!-- QUALIFICATION -->
        <div class="form-group">
          {{ render_field_with_errors(register_user_form.qualification) }}
        </div>
      </div>
    </div>

    <hr>
    <div class="text-right">
      <input id="submit" class="btn-blue" type="submit" value="Register" name="submit"></input>
    </div>

    </form>
  {%- endif %}
{% endblock content %}


{% block scripts %}
  <script src="{{ url_for('static', filename='js/auth_register.js') }}"></script>
{% endblock %}
