{% extends layout_template %}


{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs([
      ('art17', url_for(HOMEPAGE_VIEW_NAME)),
      ('auth', None),
      ('registration', None),
    ]) }}
{% endblock %}


{% block content %}
  <!-- <h1>Register</h1> -->
<div class="clearfix">
  <div class="register-choice">
    <p>Register with your EIONET account</p>
    <button class="block">Eionet Account</button>
  </div>
  <div class="register-choice">
    <p>Register for an <em>Article</em> 17 account</p>
    <button class="block">New Account</button>
  </div>
</div>

  <p>
    Activate your existing EIONET account
    (first <a href="/loggedin">log in</a>)
  </p>

  <p>or</p>

  <p>
    If you don't have an EIONET account, register for a
    {%- set register_url = url_for('security.register') %}
    <a href="{{ register_url }}">new art17 consultation account</a>.
  </p>



{% endblock content %}
