{% extends layout_template %}


{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs([
      ('art17', url_for(HOMEPAGE_VIEW_NAME)),
      ('auth', None),
      ('registration', None),
    ]) }}
{% endblock %}


{% block content %}
<h1>Register</h1>

<div class="box inline-block clearfix">
  <div class="register-option">
    <p class="h4">EIONET Account</p>

    <form class="form">
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" name="username" type="text">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" name="password" type="password">
      </div>
      <button type="submit" class="block">Register with EIONET</button>
    </form>
  </div>
  <div class="register-option">
    <p class="text-center no-top"><em>Don't have an EIONET Account?</em></p>
    <p class="text-center"><a href="">Request a new Article 17 consultation account</a></p>
  </div>
</div>

<!--   <p>
    Activate your existing EIONET account
    (first <a href="/loggedin">log in</a>)
  </p>

  <p>or</p>

  <p>
    If you don't have an EIONET account, register for a
    {%- set register_url = url_for('security.register') %}
    <a href="{{ register_url }}">new art17 consultation account</a>.
  </p> -->



{% endblock content %}
