{% extends 'layout.html' %}

{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs(APP_BREADCRUMBS + [
      ('registration (eionet)', None),
    ]) }}
{% endblock %}


{% block content %}
  <h1>Reset password</h1>

  {% from "security/_macros.html" import render_field_with_errors, render_field %}
  <form method="post" name="reset_password_form">
    {{ reset_password_form.hidden_tag() }}
    {{ render_field_with_errors(reset_password_form.password) }}
    {{ render_field_with_errors(reset_password_form.password_confirm) }}
    {{ render_field(reset_password_form.submit) }}
  </form>
{% endblock content %}
