{% extends layout_template %}


{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs([
      ('art17', url_for(HOMEPAGE_VIEW_NAME)),
      ('users list', None),
    ]) }}
{% endblock %}


{% block content %}
  <h1>Users</h1>
 
  <table class="table-list">
    <thead>
      <tr>
        <th rowspan="2">Username</th>
        <th rowspan="2">Created</th>
        <th rowspan="2">For</th>
        <th rowspan="2">Qualified as</th>
        <th colspan="4">Roles</th>
        <th rowspan="2">Status</th>
      </tr>
      <tr>
        <th><abbr title="Administrator">Adm.</abbr></th>
        <th><abbr title="ETC Expert">ETC</abbr></th>
        <th><abbr title="NAT Expert">NAT</abbr></th>
        <th><abbr title="Stakeholder">Stk.</abbr></th>
      </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
      {% set each_roles = role_map.get(user.id, []) %}
      <tr>
        <td>
          <a href="{{ url_for('.admin_user', user_id=user.id) }}">{{ user.id }}</a>
        </td>
        <td>{{user.confirmed_at or ''}}2010-04-22 08:06<br>
        via {{ 'Eionet' if user.is_ldap else 'local' }}</td>
        <td>
          {{ user.name or '' }}First-Last Name<br>
          {{ user.institution or '' }}Institution<br>
          <a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <td>{{ user.qualification or '' }}Qualification</td>
          <td>{% if 'admin' in each_roles %}*{% endif %}</td>
          <td>{% if 'etc' in each_roles %}*{% endif %}</td>
          <td>{% if 'nat' in each_roles %}*{% endif %}</td>
          <td>{% if 'stakeholder' in each_roles %}*{% endif %}</td>
        <td>
          {% if not user.active %}inactive{% endif %}Active
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}
