{% extends layout_template %}


{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs([
      ('art17', url_for(HOMEPAGE_VIEW_NAME)),
      ('auth', None),
      ('users list', None),
    ]) }}
{% endblock %}


{% block content %}
  <h1>Users</h1>

  <table class="datatable">
    <thead>
      <tr>
        <th rowspan="2">Username</th>
        <th rowspan="2">Name</th>
        <th rowspan="2">Email</th>
        <th rowspan="2">Institution</th>
        <th rowspan="2">MS</th>
        <th rowspan="2">Qualification</th>
        <th rowspan="2">Source</th>
        <th colspan="4">Roles</th>
        <th rowspan="2">Status</th>
        <th rowspan="2">Created</th>
      </tr>
      <tr>
        <th>Administrator</th>
        <th>ETC Expert</th>
        <th>NAT Expert</th>
        <th>Stakeholder</th>
      <tr>
    </thead>

    {% for user in user_list %}
      {% set each_roles = role_map.get(user.id, []) %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name or '' }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.institution or '' }}</td>
        <td></td>
        <td>{{ user.qualification or '' }}</td>
        <td>{{ 'Eionet' if user.is_ldap else 'local' }}</td>
        <td align=center>{% if 'admin' in each_roles %}<strong>*<strong/>{% endif %}</td>
        <td align=center>{% if 'etc' in each_roles %}<strong>*</strong>{% endif %}</td>
        <td align=center>{% if 'nat' in each_roles %}<strong>*</strong>{% endif %}</td>
        <td align=center>{% if 'stakeholder' in each_roles %}<strong>*</strong>{% endif %}</td>

        <td>
          {% if not user.active %}inactive{% endif %}
        </td>
        <td>{{user.confirmed_at or ''}}</td>
        <td>
          <a href="{{ url_for('.admin_user', user_id=user.id) }}">
            edit
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
