gen
.webassets-cache
sandbox
*~
*.pyc
__pycache__
env.ini
env
.secret
art17.env
art17.devel.env
art17.staging.env
rsync.key
.skip-db-init
.DS_Store
*.sql
docker/app.env
docker/db.env
.idea
docker-compose.override.yml


art17/templates/plone/head.html
art17/templates/plone/header.html
art17/templates/plone/before_login.html
art17/templates/plone/before_breadcrumbs.html
art17/templates/plone/header_before_container.html
art17/templates/plone/header_after_container.html
art17/templates/plone/footer.html