-f http://eggshop.eaudeweb.ro/
alembic==1.3.1
beautifulsoup4==4.8.1
bs4==0.0.1
colander==0.9.9
eea.usersdb==1.3.44
Flask-Assets==0.12
Flask-Collect==1.2.2
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Script==2.0.6
Flask-Security==3.0.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
Flask==1.1.1
inflect==3.0.2
itsdangerous==1.1.0
Jinja2==2.10.3
jsmin==2.2.2
Mako==1.1.0
MarkupSafe==1.1.1
mock==3.0.5
MySQL-python==1.2.5
path.py==7.2
passlib==1.7.2
phonenumbers==8.11.0
python-ldap==3.2.0
Pillow==8.2.0
raven==6.10.0
requests==2.22.0
rst2pdf==0.94.1
sqlacodegen==2.1.0
Sphinx==1.8.5
SQLAlchemy==1.3.0
translationstring==1.3
webassets==0.12.1
Werkzeug==0.16.0
WTForms==2.2.1
smart_getenv==1.1.0
