alembic==0.6.2
Flask-Assets==0.8
Flask-Login==0.2.9
Flask-Mail==0.9.0
Flask-Principal==0.4.0
Flask-Script==0.6.6
Flask-Security==1.7.1
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.4
Flask==0.10.1
inflect==0.2.4
itsdangerous==0.23
Jinja2==2.7.2
jsmin==2.0.8
Mako==0.9.1
MarkupSafe==0.18
MySQL-python==1.2.5
passlib==1.6.2
requests==2.2.1
sqlacodegen==1.1.4
SQLAlchemy==0.9.1
test-pkg==0.0
webassets==0.9
Werkzeug==0.9.4
WTForms==1.0.5
