# Change `user` and `password` into your Postgres user and password
#SQLALCHEMY_DATABASE_URI = 'postgresql://root@localhost/art17'
from smart_getenv import getenv
#SQLALCHEMY_BINDS = {
#   'factsheet': 'postgresql://user:password@localhost/art17old'
#}

# This is mandatory. Please define a secret key - random sequence of characters
SECRET_KEY = 'secret'

# Fields below are optional. Update and uncomment the ones you need.

# ASSETS_DEBUG = False
# AUTH_DEBUG = False

# AUTH_LOG_FILE = '/var/local/art17/logs/flask-auth.log'

# EEA_LDAP_SERVER = ''

# Set this for correct links in emails.
# SERVER_NAME = 'example.com'

# SECURITY_EMAIL_SENDER = DEFAULT_MAIL_SENDER = 'noreply@' + SERVER_NAME

# SECURITY_POST_REGISTER_VIEW = '/article17/'

# SENTRY_DSN = ''

# Destination for PDF reports in the Factsheet module - inside static folder
PDF_DESTINATION = 'pdf'

# Static path location of the maps
MAPS_STATIC = 'maps'

# Maps file format
MAPS_FORMAT = 'map0{which}{type}/{code}_0{which}_{type}.png'

# FACTSHEETS_REMOTE_URL = ""

EU_ASSESSMENT_MODE = getenv('EU_ASSESSMENT_MODE', type=bool, default=False)
