# Change `user` and `password` into your MySQL user and password
#SQLALCHEMY_DATABASE_URI = 'mysql://root@localhost/art17'

#SQLALCHEMY_BINDS = {
#   'factsheet': 'mysql://user:password@localhost/art17old'
#}

# This is mandatory. Please define a secret key - random sequence of characters
SECRET_KEY = 'secret'

# Fields below are optional. Update and uncomment the ones you need.

# ASSETS_DEBUG = False
# AUTH_DEBUG = False

# AUTH_LOG_FILE = '/var/local/art17/logs/flask-auth.log'
# AUTH_ZOPE = True
# AUTH_ZOPE_WHOAMI_URL = 'http://example.com/art17_api/whoami'
# LAYOUT_ZOPE_URL = 'http://example.com/art17_api/layout'

# AUTH_ZOPE_ACL_MANAGER_URL = 'http://example.com/acl_manager'
# AUTH_ZOPE_ACL_MANAGER_KEY = ''

# EEA_LDAP_SERVER = ''

# Set this for correct links in emails.
# SERVER_NAME = 'example.com'

# SECURITY_EMAIL_SENDER = DEFAULT_MAIL_SENDER = 'noreply@' + SERVER_NAME

# SECURITY_POST_REGISTER_VIEW = '/article17/'

# SENTRY_DSN = ''

# Destination for PDF reports in the Factsheet module
# PDF_DESTINATION = './instance/pdf'

# Static path location of the maps
MAPS_STATIC = '/maps/'

import os.path
MAPS_PATH = os.path.join(
    os.path.dirname(__file__), '../art17/static/', MAPS_STATIC[1:]
)

# Maps file format
MAPS_FORMAT = 'map0{which}{type}/CODE_map0{which}_{code}_map0{which}_{type}D.png'
