
SQLALCHEMY_DATABASE_URI = 'mysql://root@localhost/art17'
ASSETS_DEBUG = True

EEA_LDAP_SERVER = ''

# Set this for correct links in emails.
# SERVER_NAME = ''

# Testing setup - prefix 'TESTING_' to any config, example:
#TESTING_SQLALCHEMY_DATABASE_URI = 'mysql://root@localhost/art17test'

# SECURITY_POST_REGISTER_VIEW = '/article17'
