version: '2'

services:

  art17-app:
    image: eeacms/apache:latest
    container_name: art17-app
    ports:
    - "5000:5000"
    depends_on:
    - db
    env_file:
    - ../art17.devel.env
    environment:
      TZ: Europe/Copenhagen
    #volumes:
    #- ../../art17:/var/local/art17/art17/
    #command: /usr/bin/tail -f /dev/null
    #command: ["runserver", "-t", "0.0.0.0", "-p", "5000"]

  db:
    image: postgres:13
    container_name: art17.db 
    environment:
      TZ: Europe/Copenhagen
    volumes:
    - psqldata:/var/lib/postgresql/data
    - ./docker/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  psqldata:
    driver: local
