{% from '_macros.html' import parse_errors with context %}

<!-- MS -->
<td colspan="2" class="border">
  {{ row.assessment_method }}
</td>

{% if not region %}
  <td class="border">{{ row.region }}</td>
{% endif %}

<!-- Range -->
<td class="number border_left text-center">
  {{ row.range_surface_area|parse_semicolon|str2num('')|safe }}
</td>

{% set conclusion_range = row.conclusion_range or row.percentage_range_surface_area %}
{% if row.assessment_method == '0' or row.assessment_method ==  '1' %}
  <td class="{{ CONCLUSION_CLASSES[row.conclusion_range] }}">

    <span class="conclusion">{{ conclusion_range|parse_semicolon|str2num('')|safe }}</span>
  </td>
{% elif conclusion_range %}
  <td class="{{ row.percentage_range_surface_area|colorate }}">
    <span class="conclusion">{{ conclusion_range|parse_semicolon|str2num('')|safe }}</span>
  </td>
{% else %}
 <td></td>
{% endif %}
      
<td class="center text-center">
  {% if row.assessment_method == '0 '%}
    {{ row.range_trend|parse_semicolon|str2num('')|safe or '' }}
  {% endif %}

  {% if row.assessment_method == '1' %}
    {{ row.percentage_range_trend|parse_semicolon|str2num('')|safe or '' }}
  {% endif %}
</td>
      
<td class="center border_right text-center">
  {{ row.complementary_favourable_range|parse_semicolon|str2num('')|safe }}
</td>

<!--Population-->
<td class="number border_left text-center">
  {{ row.population_minimum_size }}
</td>

<td class="number center text-center">
  {{ row.population_maximum_size }}
</td>
      
<td class="number center text-center">
  {{ row.population_size }}
</td>
      
<td class="number center text-center">
  {{ row.population_size_unit|parse_semicolon|str2num('')|safe }}
</td>
      
<td class="number center text-center">
  {{ row.population_estimate_type|parse_semicolon|str2num('')|safe }}
</td>
      
<td class="number center text-center">
  {{ row.population_method|parse_semicolon|str2num('')|safe }}
</td>

{% set population_size = row.percentage_population_mean_size or row.conclusion_population %}
{% if row.assessment_method == '0' or row.assessment_method ==  '1' %}
  <td class="{{ CONCLUSION_CLASSES[row.conclusion_population] }}">
    <span class="conclusion">{{ population_size|parse_semicolon|str2num('')|safe }}</span>
  </td>
{% elif population_size %}
  <td class="{{ row.percentage_population_mean_size|colorate }}">
    <span class="conclusion">{{ population_size|parse_semicolon|str2num('')|safe }}</span>
  </td>
{% else %}
 <td></td>
{% endif %}

<td class="center text-center">
  {% if row.assessment_method == '0 '%}
    {{ row.population_trend|parse_semicolon|str2num('')|safe }}
  {% endif %}

  {% if row.assessment_method == '1' %}
    {{ row.percentage_population_trend|parse_semicolon|str2num('')|safe }}
  {% endif %}
</td>
      
<td class="number text-center">
  {{ row.complementary_favourable_population|parse_semicolon|str2num('')|safe }}
</td>

<td class="number border_right text-center">
  {{ row.complementary_favourable_population_unit|parse_semicolon|str2num('')|safe }}
</td>

<!-- Habitat for the species -->
<td class="center border_left text-center">{{ row.habitat_sufficiency_occupied }}</td>

<td class="center text-center">{{ row.habitat_sufficiency_unoccupied }}</td>

{% set habitat_sufficiency = row.percentage_habitat_sufficiency or row.conclusion_habitat %}
{% if row.assessment_method == '0' or row.assessment_method ==  '1' %}
  <td class="{{ CONCLUSION_CLASSES[row.conclusion_habitat] }}">
    <span class="conclusion">{{ habitat_sufficiency|parse_semicolon|str2num('')|safe }}</span>
  </td>
{% elif habitat_sufficiency %}
  <td class="{{ row.percentage_habitat_sufficiency|colorate }}">
    <span class="conclusion">{{ habitat_sufficiency|parse_semicolon|str2num('')|safe }}</span>
  </td>
{% else %}
 <td></td>
{% endif %}

<td class="center border_right text-center">
  {{ row.habitat_trend|parse_semicolon or '' }}
</td>

<!-- Future prospects -->
<td class="center border_left text-center">
  {{ row.future_range|parse_semicolon|str2num('')|safe }}
</td>
  
<td class="center text-center">
  {{ row.future_population|parse_semicolon|str2num('')|safe }}
</td>

<td class="center text-center">
  {{ row.future_habitat|parse_semicolon|str2num('')|safe }}
</td>

{% set percentage_future = row.percentage_future or row.conclusion_future %}
{% if row.assessment_method == '0' or row.assessment_method ==  '1' %}
  <td class="{{ CONCLUSION_CLASSES[row.conclusion_future] }} border_right">
    <span class="conclusion">{{ percentage_future|parse_semicolon|str2num('')|safe }}</span>
  </td>
{% elif percentage_future %}
  <td class="{{ row.percentage_future|colorate }} border_right">
    <span class="conclusion">{{ percentage_future|parse_semicolon|str2num('')|safe }}</span>
  </td>
{% else %}
 <td class="border_right"></td>
{% endif %}

<!-- Overall assessment -->

{% set percentage_assessment = row.percentage_assessment or row.conclusion_assessment %}
{% if row.assessment_method == '0' or row.assessment_method ==  '1' %}
  <td class="{{ CONCLUSION_CLASSES[row.conclusion_assessment] }}">
    <span class="conclusion">{{ percentage_assessment|parse_semicolon|str2num('')|safe }}</span>
  </td>
{% elif percentage_assessment %}
  <td class="{{ row.percentage_assessment|colorate }}">
    <span class="conclusion">{{ percentage_assessment|parse_semicolon|str2num('')|safe }}</span>
  </td>
{% else %}
 <td></td>
{% endif %}

<td class="center" title="Trend for unfavourable status:
                          {{ row.percentage_assessment_trend_unfavourable|parse_semicolon|safe }}">
  {% set percentage_assessment_trend = row.percentage_assessment_trend or row.conclusion_assessment_trend %}
  <span class="conclusion">{{ percentage_assessment_trend|parse_semicolon|str2num('')|safe }}</span>
    <!--todo set class on this field-->
  </span>
</td>

{% set classes=CONCLUSION_CLASSES.get(row.conclusion_assessment_prev, '') %}
<td class="{{ classes }}">
  <span class="conclusion">{{ row.conclusion_assessment_prev|default('', true)|parse_semicolon|safe }}</span>
</td>

<td class="center">
  {{ row.conclusion_assessment_trend_prev|str1num }}
</td>


<td class="center">
  <span class="conclusion">{{ row.percentage_assessment_change|default('', true)|parse_semicolon|safe }}</span>
</td>

<td class="center border_right">
  {{ row.conclusion_assessment_trend_change|str1num }}
</td>

<!-- Distribution area -->

<td class="center border_left">
  {{ row.distribution_grid_area|parse_semicolon|str2num('')|safe }}
</td>

<td class="center">
</td>

<td class="center border_right">
</td>

<td colspan="5"></td>
