<tr {% if is_form %}class="form_row"{% endif %}>
  {% if can_view_decision() %}
    <th rowspan="2"><abbr title="Decision">Dec.</abbr></th>
    <th rowspan="2" title="Member State / EU 28 (for EU assessments)"><abbr>MS/EU28</abbr></th>
  {% else %}
    <th rowspan="2" colspan="2" title="Member State / EU 28 (for EU assessments)"><abbr>MS/EU28</abbr></th>
  {% endif %}

  {% if not region %}
    <th rowspan="2" title="Biogeographical or marine region">Region</th>
  {% endif %}

  <th rowspan="2">Surface</th>
  <th rowspan="2" title="Status of Range (colour)
  Assessment method used (e.g. 2XA)"><abbr>Status<br/>Range</abbr></th>
  <th rowspan="2">Trend</th>
  <th rowspan="2" title="Favourable reference value">FRR</th>

  <th rowspan="2">Min</th>
  <th rowspan="2">Max</th>
  <th rowspan="2">Best value</th>
  <th rowspan="2"></th>
  <th rowspan="2"></th>
  <th rowspan="2" title="Status of Area (colour)
  Assessment method used (e.g. 2XA)"><abbr>Status<br/>Area</abbr></th>
  <th rowspan="2">Trend</th>
  <th rowspan="2">FRA</th>

  <th rowspan="1">Good</th>
  <th rowspan="1">Not good</th>
  <th rowspan="1">Not known</th>

  <th rowspan="2" title="Status of Structure and functions (colour)
Assessment method used (e.g. 2XA)">Status Str.<br/>& funct.</th>
  <th rowspan="2">Trend</th>

  <th rowspan="2">Range<br/>prosp.</th>
  <th rowspan="2">Area<br/>prosp.</th>
  <th rowspan="2">S & f<br/>prosp.</th>
  <th rowspan="2" title="Status of Future prospects (colour)
Assessment method used (e.g. 2XA)">Status<br/>Future<br/>prosp.</th>

  <th rowspan="2" title="Conservation status - current period (colour)
Assessment method used (e.g. MTX)">Curr. CS</th>
  <th rowspan="2" title="Overall trend in conservation status - current period">Curr. CS<br/>trend</th>
  <th rowspan="2" title="Conservation status - previous period">2012 CS</th>
  <th rowspan="2" title="Previous conservation status trend">2012 CS<br/>trend</th>
  <th rowspan="2" title="Main reason for change
a - Genuine change
no - Non-genuine change or no information
nc  - No change">Status<br/>Nat.<br/>of ch.</th>
  <th rowspan="2" title="Current status trend of Nature of Change">CS trend<br/>Nat. of ch.</th>
  <th rowspan="2" title="Conservation status - backcasted conservation status for reference period (2000-2006)">2001-06 status<br/>with<br/>backcasting</th>
  <th colspan="1" title="Contribution to target 1
  A= - favourable or unknown in 2000 - 2006 and favourable in 2013 - 2018 period
  A+ - favourable but unfavourable in 2000-2006 period
  B1 - improved status (change in conservation status category)
  B2 - fimproved status (improving trend)
   C  - deteriorated status
   D  - unfavourable and unknown assessments that did not change
   E  - status became unknown">Target 1</th>
  <th rowspan="2" colspan="5">{# padding #}</th>
</tr>
