<tbody class="thead">
  <tr class="section-header">
    <th class="table-title" colspan="{{ colspan_all }}">
      Member States reports
    </th>
  </tr>
  <tr>
    {% if show_report_headers %}
      <th rowspan="2">Habitat</th>
    {% endif %}
    {% if not country %}
      <th colspan="2" rowspan="2" title="Member state">MS</th>
    {% endif %}
    {% if not region %}<th rowspan="2" title="Biogeographical or marine region">Region</th>{% endif %}
      <th colspan="5">Range (km<sup>2</sup>)</th>
      <th colspan="10">Area (km<sup>2</sup>)</th>
      <th colspan="5" title="Structure and Functions">Structure and functions (km<sup>2</sup>)</th>
      <th colspan="4" title="Future prospects">Future prospects</th>
      <th colspan="6">Overall assessment</th>
      <th colspan="3" title="Area was calculated in km<sup>2</sup> based on distribution and range spatial data mapped in 10x10km grid."
      >Distribution area(km<sup>2</sup>)</th>
  </tr>
  <tr>
    <th title="Main reason for change if current value is different from the previous period
                genuine
                knowledge 
                method  
                unknown
                other
                noChange
                N/A (applicable e.g. when first time reported)">Surface</th>
    <th title="Status of Range (colour)
               Percentage of surface of the range per MS region (figure)">Status<br/>(% MS)</th>
    <th title="Short-term trend
                -  - Decreasing
                +  - Increasing
                =  - Stable
                u  - Uncertain
                x  - Unknown">Trend</th>
    <th>FRR</th>
    <th title="Pre-defined range increments to indicate if the range is: 
                appr. equal - approximately equal to the favourable reference range (less than 2% smaller) 
                2-10 % smaller - between 2% and 10% smaller than the FRR
                11-50 % smaller - between 11% and 50% smaller than the FRR
                51-100 % smaller - between 51% and 100% smaller than the FRR">range vs<br/>FRR<br/>predefined</th> 
    <th>Min</th>
    <th>Max</th>
    <th title="Main reason for change if current value is different from the previous period
                genuine
                knowledge 
                method  
                unknown
                other
                no change
                N/A (applicable e.g. when first time reported)">Best value</th>
    <th title="Type of estimate
                estimate  - Best estimate
                interval  - 95% confidence interval
                mean  - Multi-year mean
                minimum  - Minimum">Type est.</th>
    <th title="Method used
                a  - Complete survey or a statistically robust estimate
                b  - Based mainly on extrapolation from a limited amount of data
                c  - Based mainly on expert opinion with very limited data
                d  - Insufficient or no data available">Method</th>
    <th title="Status of Area (colour)
               Percentage of surface of the area of habitat per MS region (figure)">Status<br/>(% MS)</th>
    <th title="Short-term trend
                -   - Decreasing
                +  - Increasing
                =   - Stable
                u  - Uncertain
                x  - Unknown
                Hovering over the MS entry displays the method used">Trend</th>
   <th title="Trend magnitude pre-defined ranges:
                - 0 – 12% 
                - 13-25% 
                - 26 – 50% 
                - 51 – 100% 
                - >100%">Trend<br/>magnitude<br/>min-max</th>
    <th>FRA</th>
    <th title="Pre-defined range increments to indicate if the area is:
               appr. equal - approximately equal to the favourable reference area (less than 2% smaller) 
                2-10 % smaller - between 2% and 10% smaller than the FRA
                11-25 % smaller - between 11% and 25% smaller than the FRA
                26-50 % smaller - between 26% and 50% smaller than the FRR
                51-100 % smaller - between 51% and 100% smaller than the FRP">area vs FRA<br/>predefined</th>               
    <th>
      <div class="popout-wrapper hover">
        <div class="popout size_unit_th right caret">
          <table class="popout-table">
            <tr>
              <th colspan="3" style="text-align: center;">Area in good condition (km2)</th>
            </tr>
            <tr>
              <th>Good<br>(adjusted mean value)</th>
              <th>Not good<br>(adjusted mean value)</th>
              <th>Not Known<br>(adjusted mean value)</th>
            </tr>
            {% for row in objects %}
              <tr>
                <td>{{ row.hab_condition_good|str2num }}</td>
                <td>{{ row.hab_condition_notgood|str2num }}</td>
                <td>{{ row.hab_condition_unknown|str2num }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
        Good
      </div>
    </th>
    <th title="Area in not-good condition (km2)">Not good</th>
    <th title="Area where condition is not known (km2)">Not known</th>
    <th title="Status of Structure and functions  including typical species">Status</th>
    <th title="Short-term trend
                -  - Decreasing
                +  - Increasing
                =  - Stable
                u  - Uncertain
                x  - Unknown
                Hovering over the MS entry displays the method used">Trend of<br/>good<br/>condition</th>
    <th title="Prospects of parameter Range">Range<br/>prosp.</th>
    <th title="Prospects of parameter Area">Area<br/>prosp.</th>
    <th title="Prospects of parameter Structure and functions">S & f<br/>prosp.</th>
    <th title="Status of Future prospects">Status</th>
    <th title="Conservation status - current period">Curr. CS</th>
    <th title="Overall trend in conservation status - current period
                -  - Deteriorating
                +  - Improving
                =  - Stable
                x  - Unknown
                N/A  - Not reported">Curr. CS<br/>trend</th>
    <th title="Conservation status - previous period">Prev. CS</th>
    <th title="Overall trend in conservation status - previous period
               -  - Deteriorating
               +  - Improving
               =  - Stable
               x  - Unknown
               N/A  - Not reported">Prev. CS<br/>trend</th>
    <th title="Main reason for change 
                genuine - Genuine change
                knowledge - Improved knowledge or more accurate data
                method - The use of a different method
                unknown - Unknown reason
                other - Other reasons
                no change - No change
                N/A - No information on the nature of change (also when first time reported)">Status<br/>Nat.<br/>of ch.</th>
    <th title="Main reason for change
                genuine - Genuine change
                knowledge - Improved knowledge or more accurate data
                method - The use of a different method
                unknown - Unknown reason
                other - Other reasons
                no change - No change
                N/A - No information on the nature of change (also when first time reported)">CS trend<br/>Nat. of ch.</th>
    <th title="Distribution
               Area was calcualated in km2 based on distribution mapped in 10x10km grid">Distrib.</th>
    <th title="Method used
                a  - Complete survey or a statistically robust estimate
                b  - Based mainly on extrapolation from a limited amount of data
                c  - Based mainly on expert opinion with very limited data
                d  - Insufficient or no data available">Method</th>
    <th title="Percentage of surface of the distribution per MS region">% MS</th>
  </tr>
</tbody>
