<tbody class="thead">

  <tr class="section-header">
    <th class="table-title" colspan="{{ colspan_all }}">
      {% if dataset.schema == '2006' %}
      ETC/BD treated member states' data
      {% else %}
      Treated data from Member States reports
      {% endif %}
    </th>
  </tr>
  <tr>
    {% if show_report_headers %}
    <th rowspan="2">Habitat</th>
    {% endif %}
    {% if not country %}
    <th rowspan="2" title="Member states">MS</th>
    {% endif %}
    {% if not region %}<th rowspan="2">Reg</th>{% endif %}
    <th colspan="4">Range (km<sup>2</sup>)</th>
    <th colspan="4">Area</th>
    <th rowspan="2" title="Structure and Functions">Struct &amp;<br/>func.</th>
    <th rowspan="2" title="Future prospects">Future<br/>prosp.</th>
    {% if dataset.schema == '2012' %}
    <th colspan="4">Overall asses.</th>
    {% else %}
    <th colspan="4" rowspan="2">Overall<br/>asses.</th>
    {% endif %}
    <th colspan="4" title="Area was calculated in km<sup>2</sup> based on distribution and range spatial data mapped in 10x10km grid."
    >Areas from gridded maps(km<sup>2</sup>)</th>

    {% if dataset.schema == '2006' %}
    <th colspan="2">Quality</th>
    {% else %}
    <th rowspan="2" colspan="5"></th>
    {% endif %}
  </tr>
  <tr>
    <th>Surface</th>
    <th title="Percentage of surface of the Range per MS per region">% MS</th>
    <th title="Short term trend {{ TREND_TOOLTIP }}">Trend</th>
    <th title="{{ favourable_ref_title('complementary_favourable_range',
        dataset.schema) }}">Ref.</th>

    <th>Surface</th>
    <th title="Percentage of surface of the area of the habitat per MS per region">% MS</th>
    <th title="Short term trend {{ TREND_TOOLTIP }}">Trend</th>
    <th title="{{ favourable_ref_title('complementary_favourable_area',
        dataset.schema) }}">Ref.</th>

    {% if dataset.schema == '2012' %}
    <th title="Current conservation status">Curr. CS</th>
    <th title="Overall trend in conservation status {{ TREND_ALL_TOOLTIP }}">Qualifier</th>
    <th title="Previous conservation status">Prev. CS</th>
    <th title="Nature of change {{ NATURE_TOOLTIP }}">Nat. of ch.</th>
    {% endif %}

    <th>Range</th>
    <th title="Percentage of the surface of the Range Map, which has been gridded, per MS, per region">% MS</th>
    <th title="Distribution">Distrib.</th>
    <th title="Percentage of the surface of the Distribution Map, which has been gridded, per MS, per region">% MS</th>

    {% if dataset.schema == '2006' %}
    <th>Range</th>
    <th>Area</th>
    {% endif %}
  </tr>

</tbody>
