<tr {% if is_form %}class="form_row"{% endif %}>
  {% if can_view_decision() %}
    <th rowspan="2"><abbr title="Decision">Dec.</abbr></th>
    <th rowspan="2" title="Member State / EU 28 (for EU assessments)"><abbr>MS/EU28</abbr></th>
  {% else %}
    <th rowspan="2" colspan="2" title="Member State / EU 28 (for EU assessments)"><abbr>MS/EU28</abbr></th>
  {% endif %}

  {% if not region %}
    <th rowspan="2" title="Biogeographical or marine region">Region</th>
  {% endif %}

  <th rowspan="2">Surface</th>
  <th rowspan="2" title="Status of Range (colour)
  Assessment method used (e.g. 2XA)"><abbr>Status<br/>Range</abbr></th>
  <th rowspan="2">Trend</th>
  <th rowspan="2" title="Favourable reference value">FRR</th>

  <th rowspan="2">Min</th>
  <th rowspan="2">Max</th>
  <th rowspan="2">Best value</th>
  <th rowspan="2"></th>
  <th rowspan="2"></th>
  <th rowspan="2" title="Status of Area (colour)
  Assessment method used (e.g. 2XA)"><abbr>Status<br/>Area</abbr></th>
  <th rowspan="2">Trend</th>
  <th rowspan="2">FRA</th>

  <th rowspan="1">Good</th>
  <th rowspan="1">Not good</th>
  <th rowspan="1">Not known</th>

  <th rowspan="2" title="Status of Structure and functions (colour)
Assessment method used (e.g. 2XA)">Status Str.<br/>& funct.</th>
  <th rowspan="2">Trend</th>

  <th rowspan="2">Range<br/>prosp.</th>
  <th rowspan="2">Area<br/>prosp.</th>
  <th rowspan="2">S & f<br/>prosp.</th>
  <th rowspan="2" title="Status of Future prospects (colour)
Assessment method used (e.g. 2XA)">Status<br/>Future<br/>prosp.</th>

  <th rowspan="2" title="Conservation status - current period (colour)
Assessment method used (e.g. MTX)">Curr. CS</th>
  <th rowspan="2" title="Overall trend in conservation status - current period">Curr. CS<br/>trend</th>
  <th rowspan="2" title="Conservation status - previous period">2012 CS</th>
  <th rowspan="2" title="Previous conservation status trend">2012 CS<br/>trend</th>
  <th rowspan="2" title="Main reason for change
                         gen - Genuine change
                         nong - Non-Genuine change or no information
                         nc  - No change">Status<br/>Nat.<br/>of ch.</th>
  <th rowspan="2" title="Main reason for change
                         gen - Genuine change
                         nong - Non-Genuine change or no information
                         nc  - No change">CS trend<br/>Nat. of ch.</th>
  <th rowspan="2" title="Conservation status - backcasted conservation status for reference period (2000-2006)">2001-06 status<br/>with<br/>backcasting</th>
  <th colspan="1" title="Contribution to target 1

                         A= - favourable - no improvement of status
                         A+ - favourable - improved status
                         B1 - unfavourable - improved status (for conservation status assessments
                              that did not change or genuinely changed between 2007-2012 and 2013-2018
                         B2 - unfavourable - improved status (for conservation status assessments
                              that changed but not genuinely between 2007-2012 and 2013-2018
                         C - unfavourable - deteriorated status (change in conservation status category or trend)
                         D - unfavourable or unknown - no improvement or deterioration
                         E - status became unknown">Target 1</th>
  <th rowspan="2" colspan="5">{# padding #}</th>
</tr>
