{% if dataset.schema == '2024' %}
<p class="note">
  <strong>Note</strong>: Rows in italic shows data not taken into account when
  performing the assessments (marginal presence, occasional, extinct prior HD,
  information, optional reports, etc).
  For <i>Cladonia</i> subgenus Cladina, Lycopodium and Sphagnum, Member States
  were asked to report on the group rather than individual species, some also
  reported for individual species and these are shown in italics (e.g. Sweden
  also reported <i>Lycopodium zeilleri</i> in the Boreal region).
</p>
{% else %}
<p class="note">
  <strong>Note</strong>: Rows in italic shows data not taken into account when
  performing the assessments (marginal presence, occasional, extinct prior HD,
  information, optional reports, etc).
  For <i>Cladonia</i> subgenus Cladina, Lycopodium and Sphagnum, Member States
  were asked to report on the group rather than individual species, some also
  reported for individual species and these are shown in italics.
</p>
{% endif %}
