  <tr {% if is_form %}class="form_row"{% endif %}>
    <th rowspan="2">
      {% if not is_form %}
      <abbr title="Decision">Dec.</abbr>
      {% endif %}
    </th>
    {% if not region %}<th rowspan="2">Reg</th>{% endif %}
    <th rowspan="2">Area</th>
    <th rowspan="2"><abbr title="Range conclusion">Range<br/>Concl.</abbr></th>
    <th rowspan="2">Trend</th>
    <th rowspan="2" title="Favourable reference value">Ref.</th>

    <th rowspan="2">Size&amp;Unit</th>
    <th rowspan="2"><abbr title="Population conclusion">Pop.<br/>Concl.</abbr></th>
    <th rowspan="2">Trend</th>
    <th rowspan="2" title="Favourable reference value">Ref.</th>

    <th rowspan="2">Area</th>
    <th rowspan="2"><abbr title="Habitat conclusion">Habitat<br/>Concl.</abbr></th>
    <th rowspan="2"></th>
    <th rowspan="2">Trend</th>
    <th rowspan="2">Suitable</th>

    <th rowspan="2" title="Future prospects">Future<br/>prosp.</th>

    {% if dataset.schema == '2006' %}
    <th rowspan="2" colspan="4">
      Overall<br/>asses.
    </th>
    {% else %}
    <th rowspan="2" title="Current conservation status">Curr. CS<br/>Concl.</th>
    <th rowspan="2" title="Overall trend in conservation status">Trend CS</th>
    <th rowspan="2" title="Previous conservation status">Prev. CS<br/>Concl.</th>
    <th rowspan="2" title="Nature of change">Nat. of ch.</th>
    {% endif %}

    {% if dataset.schema == '2006' %}
    <th rowspan="2" colspan="2"></th>
    {% else %}
    <th colspan="2">Target 1</th>
    {% endif %}
    <th rowspan="2" colspan="2"></th>

    <th rowspan="2" colspan="5">{# padding #}</th>
  </tr>
  {% if dataset.schema != '2006' %}
  <tr {% if is_form %}class="form_row"{% endif %}>
    <th title="Contribution to target 1">Contrib.</th>
    <th>Type</th>
  </tr>
  {% endif %}
