<tbody class="thead">
  <tr class="section-header">
    <th class="table-title" colspan="{{ colspan_all }}">
      Member States reports
    </th>
  </tr>

  <tr>
    {% if show_report_headers %}
      <th rowspan="2">Species</th>
    {% endif %}

    {% if not country %}
      <th rowspan="2" colspan="2" title="Member states">MS</th>
    {% endif %}
    {% if not region %}<th rowspan="2">Region</th>{% endif %}

    <th colspan="4">Range (km<sup>2</sup>)</th>
    <th colspan="6">Population</th>
    <th colspan="2">Habitat<br/>for the<br/>species</th>
    <th colspan="1" title="Future prospects">Future<br/>prospects</th>
    <th colspan="4">Overall<br/>assessment</th>
    <th colspan="2">Distribution<br/>area (km<sup>2</sup>)</th>
    <td colspan="5" rowspan="2"></td>
  </tr>

  <tr>
    <th>Surface</th>
    <th>Status<br/>(% MS)</th>
    <th title="Short term trend {{ TREND_TOOLTIP }}">Trend</th>
    <th title="{{ favourable_ref_title('complementary_favourable_range', dataset.schema) }}">FRR</th>

    <th>
      <div class="popout-wrapper hover">
        <div class="popout size_unit_th right caret">
          <table class="popout-table">
            <tr>
              <th>Agreed units</th>
              <th>Other units</th>
            </tr>
            {% for row in objects %}
              <tr>
                <td>{{ row.population_units_agreed|format_units }}</td>
                <td>{{ row.population_units_other|format_units }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
        Min-max
      </div>
    </th>
    <th>Best value</th>
    <th>Type est.</th>
    <th>Status<br/>(% MS)</th>
    <th title="Short term trend {{ TREND_TOOLTIP }}">Trend</th>
    <th title="{{ favourable_ref_title('complementary_favourable_population', dataset.schema) }}">FRP</th>
    <th>Status</th>
    <th title="Short term trend {{ TREND_TOOLTIP }}">Trend</th>

    <th>Status</th>
    <th title="Current conservation status">Curr. CS</th>
    <th title="Current conservation status trend">Curr. CS<br/>trend</th>
    <th title="Previous conservation status">Prev. CS</th>
    <th title="Status Nature of change {{ NATURE_TOOLTIP }}">Status<br/>Nat. of ch.</th>

    <th title="Distribution">Distrib.</th>
    <th title="Percentage of the surface of the Distribution Map, which has been gridded, per MS, per region">% MS</th>
  </tr>
</tbody>
