<div class="legend clearfix">
  <strong>Legend</strong>
  <dl>
    <dt class="conclusion FV">
      <abbr title="Favourable">FV</abbr>
    </dt>
    <dd>
      Favourable
    </dd>

    <dt class="conclusion XX">
      <abbr title="Unknown">XX</abbr>
    </dt>
    <dd>
      Unknown
    </dd>

    <dt class="conclusion U1">
      <abbr title="Inadequate">U1</abbr>
    </dt>
    <dd>
      Inadequate
    </dd>

    <dt class="conclusion U2">
      <abbr title="Unfavorable">U2</abbr>
    </dt>
    <dd>
      Unfavorable
    </dd>    
  </dl>
</div>