<div class="legend clearfix">
  <strong>Legend</strong>
  <dl>
    <dt class="FV">
      <abbr title="Favourable" class="conclusion">FV</abbr>
    </dt>
    <dd>
      Favourable
    </dd>

    <dt class="XX">
      <abbr title="Unknown" class="conclusion">XX</abbr>
    </dt>
    <dd>
      Unknown
    </dd>

    <dt class="U1">
      <abbr title="Inadequate" class="conclusion">U1</abbr>
    </dt>
    <dd>
      Inadequate
    </dd>

    <dt class="U2">
      <abbr title="Unfavourable" class="conclusion">U2</abbr>
    </dt>
    <dd>
      Unfavorable
    </dd>    
  </dl>
</div>
