{% from '_macros.html' import parse_errors, reason_title, set_method_title, set_reason_title, set_extrapolation with context %}

<!-- Range  -->
<td {{ parse_errors('range_surface_area', row, qa_errors, classes='number border_left text-center') }}
    {{ set_reason_title(row.range_change_reason ) }}>
  {{ row.range_surface_area|str2num }}
</td>

{% set classes=CONCLUSION_CLASSES.get(row.conclusion_range, '') %}
<td {{ parse_errors(['conclusion_range', 'percentage_range_surface_area'],
                    row, qa_errors, classes=classes) }}>
  <span class="conclusion">{{ row.percentage_range_surface_area|str2num(0) }}</span>
</td>

<td {{ parse_errors('range_trend', row, qa_errors, classes="center text-center") }}
    {{ set_method_title(row.range_trend_method|get_method_name) }}>
  {{ row.range_trend|str2num or 'N/A' }}
</td>

<td {{ parse_errors('derived_favourable_reference_range_combined', row, qa_errors, classes="center text-center") }}>
  {{ row.derived_favourable_reference_range_combined|str2num or 'N/A' }}
  <div class="popout-wrapper hover">
    <div class="popout size_unit_th right caret">
      <table class="popout-table">
        <tr>
          <th colspan="4">FRR values as used for the automatic EU assessments</th>
        </tr>
        <tr>
          <th>Country</th>
          <th>FRR min</th>
          <th>FRR max</th>
          <th>FRR mean</th>
        </tr>
        {% for row in objects %}
          <tr>
            <td>{{ row.eu_country_code }}</td>
            <td>{{ row.derived_favourable_reference_range_min|str2num }}</td>
            <td>{{ row.derived_favourable_reference_range_max|str2num }}</td>
            <td>{{ row.derived_favourable_reference_range_mean|str2num }}</td>
          </tr>
        {% endfor %}
        <tr>
          <th colspan="4">
            <p>
              If a specific FRR value was reported, this value is used as min, max, and mean.
            </p>
            <p>
              If FRR is reported as a predefined range, the min, max, and mean are calculated based on the reported current range.
            </p>
            <p>
              If the FRR is unknown, the reported current range is used as FRR min, max, and mean.
            </p>
          </th>
        </tr>
      </table>
    </div>
  </div>
</td>

<td {{ parse_errors('S_5_12_b_favourable_reference_range_predefined ', row, qa_errors, classes="center text-center") }}>
  {{ row.S_5_12_b_favourable_reference_range_predefined|str2num('') }}
</td>


<!-- Population -->

<td class="number border_left center text-center">
  {{ row.population_minimum_size|str2num }}
</td>

<td class="number center text-center">
  {{ row.population_maximum_size|str2num }}
</td>

<td {{ parse_errors('population_change_reason', row, qa_errors, classes="center text-center") }}
{{ set_reason_title(row.population_change_reason) }}>
  {% set population_size = row.population_size or 'N/A' %}
  {{ population_size|str2num }}
</td>

<td {{ parse_errors('population_size_unit', row, qa_errors, classes="center text-center") }}
{{ set_extrapolation(row.S_6_4_population_size_quality_of_extrapolation) }}>
  {{ row.population_size_unit }}
</td>

<td class="number center text-center">
  {{ row.S_6_2_e_population_size_class|str2num }}
</td>

<td class="number center text-center">
  {{ row.population_estimate_type }}
</td>

<td class="number center text-center">
  {{ row.population_method }}
</td>

{% set classes=CONCLUSION_CLASSES.get(row.conclusion_population, '') %}
<td {{ parse_errors(['conclusion_population',
                     'percentage_population_mean_size'],
                     row, qa_errors, classes=classes) }}>
  <span class="conclusion">{{ row.percentage_population_mean_size|str2num(0) }}</span>
</td>

{% set qtitle, qclasses = parse_qa_errors('row.population_trend', row, qa_errors) %}
<td {{ parse_errors('population_trend_method', row, qa_errors,  classes="number center text-center") }}
    {{ set_method_title(row.population_trend_method|get_method_name) }}>
  {{ row.population_trend|str2num or 'N/A' }}
</td>

<td class="number center text-center">
  {{ row.derived_population_size_trend_magnitude }}
</td>

<td class="number center text-center">
  {{ row.derived_favourable_reference_population_combined|str2num }}
  <div class="popout-wrapper hover">
    <div class="popout size_unit_th right caret">
      <table class="popout-table">
        <tr>
          <th colspan="4">FRP values as used for the automatic EU assessments</th>
        </tr>
        <tr>
          <th>Country</th>
          <th>FRP min</th>
          <th>FRP max</th>
          <th>FRP mean</th>
        </tr>
        {% for row in objects %}
          <tr>
            <td>{{ row.eu_country_code }}</td>
            <td>{{ row.derived_favourable_reference_population_min|str2num }}</td>
            <td>{{ row.derived_favourable_reference_population_max|str2num }}</td>
            <td>{{ row.derived_favourable_reference_population_mean|str2num }}</td>
          </tr>
        {% endfor %}
        <tr>
          <th colspan="4">
            <p>
              If a specific FRP value was reported, this value is used as FRP min, max, and mean.
            </p>
            <p>
              If FRP is reported as a predefined range, the FRP min, max, and mean are calculated </br>
              based on the mean current population (best single value or average of min and max of pop. size class).
            </p>
            <p>
              If the FRP is unknown, the mean current population is used as FRP min, max, and mean.
            </p>
            <p>
              If the specific FRP or predefined range is in a unit not matching the current population it is ignored and the value is empty.
            </p>
          </th>
        </tr>
      </table>
    </div>
  </div>
</td>

<td class="number center text-center">
  {{ row.S_6_18_b_favourable_reference_population_predefined|str2num('') }}
</td>

<td class="number center border_right text-center">
  {{ row.complementary_favourable_population_unit }}
</td>

 
<!-- Habitat for the species -->
<td class="center text-center"
    {{ set_method_title(row.habitat_sufficiency_method|set_correct_sufficiency_occupied) }}>
  {{ row.habitat_sufficiency_occupied }}
</td>

<td class="center text-center"
    {{ set_method_title(row.S_7_2_habitat_sufficiency_method_quality|set_correct_sufficiency_occupied) }}>
  {{ row.S_7_1_b_habitat_sufficiency_occupied_quality  }}
</td>

<td class="center text-center">
  {{ row.habitat_sufficiency_unoccupied }}
</td>

{% set classes=CONCLUSION_CLASSES.get(row.conclusion_habitat, '') %}
<td {{ parse_errors('conclusion_habitat', row, qa_errors, classes=classes) }}>
  <span class="conclusion">{{ row.conclusion_habitat|str1num }}</span>
</td>

<td {{ parse_errors('habitat_trend', row, qa_errors, classes='center text-center') }}
    {{ set_method_title(row.habitat_trend_method|get_method_name) }}>
  {{ row.habitat_trend or 'N/A' }}

<!-- Future prospects -->
<td class="center border_left text-center">
  {{ row.future_range|str2num }}
</td>

<td class="center text-center">
  {{ row.future_population|str2num }}
</td>

<td class="center text-center">
  {{ row.future_habitat|str2num }}
</td>

{% set classes=CONCLUSION_CLASSES.get(row.conclusion_future, '') %}
<td {{ parse_errors('conclusion_future', row, qa_errors, classes=classes) }}>
  <span class="conclusion">{{ row.conclusion_future|str2num }}</span>
</td>

<!-- Overall assessment -->

{% set classes=CONCLUSION_CLASSES.get(row.conclusion_assessment, '') %}
<td {{ parse_errors('conclusion_assessment', row, qa_errors, classes=classes) }}>
  <span class="conclusion">{{ row.conclusion_assessment|str1num }}</span>
</td>

<td class="center text-center">{{ row.conclusion_assessment_trend|na_if_none }}</td>

{% set classes=CONCLUSION_CLASSES.get(row.conclusion_assessment_prev, '') %}
<td class="{{ classes }}">
  <span class="conclusion">{{ row.conclusion_assessment_prev|str1num }}</span>
</td>

<td class="center text-center">
  {{ row.conclusion_assessment_trend_prev }}
</td>

<td class="center text-center">{{ row.conclusion_assessment_change|na_if_none }}</td>

<td class="center border_right text-center">
  {{ row.conclusion_assessment_trend_change|str1num }}
</td>

<!-- Distribution area -->

<td class="center text-center">
  {{ row.distribution_grid_area|str2num }}
</td>

<td class="center text-center">
  {{ row.distribution_method|str2num }}
</td>

<td class="center border_right text-center">
  {{ row.percentage_distribution_grid_area|str2num(0) }}
</td>

<td class="border_right" colspan="5"></td>
