{% from '_macros.html' import parse_errors, reason_title with context %}

<td {{ parse_errors('range_surface_area', row, qa_errors,
        title=reason_title(dataset.schema, row.range_change_reason),
        classes='number border_left') }}>
  {{ row.range_surface_area|str2num }}
</td>

{% set classes=CONCLUSION_CLASSES.get(row.conclusion_range, '') %}
<td {{ parse_errors(['conclusion_range', 'percentage_range_surface_area'],
                    row, qa_errors, classes=classes) }}>
  <span class="conclusion">{{ row.percentage_range_surface_area|str1num }}</span>
</td>

{% set qtitle, qclasses = parse_qa_errors('range_yearly_magnitude', row, qa_errors) %}
{% if not qtitle %}
  {% if row.range_yearly_magnitude -%}
    {% set qtitle = 'Yearly magnitude = ' + row.range_yearly_magnitude|string %}
  {%- endif -%}
{% endif %}
<td class="{{ qclasses }}" {% if qtitle %}title="{{ qtitle }}"{% endif %}>
  {{ row.range_trend or 'N/A' }}
</td>

<td class="border_right" {{ parse_errors(['complementary_favourable_range_q',
                     'complementary_favourable_range'],
                     row, qa_errors, '', 'text-right') }}>
  {% set range_q = row.complementary_favourable_range_q or '' %}
  {% set range = row.complementary_favourable_range %}

  {% if range_q or range %}
    {{ range_q }}{{range|str2num('')}}
  {% else %}
    N/A
  {% endif %}
</td>
