{% extends layout_template %}


{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs([
      ('art17', url_for(HOMEPAGE_VIEW_NAME)),
      ('history', None),
    ]) }}
{% endblock %}


{% block content %}
    <h1>User summary <small>for {{ period.name }}</small></h1>

    <a class="button btn-bigger {% if subject_name == 'species' %}active{% endif %}"
       href="{{ url_for('.species-history') }}">Species</a>
    <a class="button btn-bigger {% if subject_name == 'habitat' %}active{% endif %}"
      href="{{ url_for('.habitat-history') }}">Habitats</a>

    <p class="h2">Recent comments</p>
    {% if history.comments %}
    <table class="table-list">
      <thead>
        <tr>
          <th>Date</th>
          <th>Author</th>
          <th>User</th>
          <th>{{ subject_name|capitalize }}</th>
          <th>Region</th>
          <th>Read</th>
        </tr>
      </thead>
      <tbody>
        {% for c in history.comments %}
        <tr>
          <td>{{ c.post_date }}</td>
          <td>{{ c.author.name or c.author_id }}</td>
          <td>{{ c.user.name or c.user_id }}</td>
          <td>{{ c.subject }}</td>
          <td>{{ c.region }}</td>
          <td>{{ c.read_for(user) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="muted">No comments left unread.</p>
    {% endif %}


    <p class="h2">Recent conclusions</p>
    <table class="table-list">
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>{{ subject_name|capitalize }}</th>
          <th>Region</th>
        </tr>
      </thead>
      <tbody>
        {% for c in history.conclusions %}
        <tr>
          <td><a href="{{ url_for(summary_endpoint, subject=c.subject, region=c.region) }}">{{ c.last_update }}</a></td>
          <td>{{ c.user.name or c.user_id }}</td>
          <td>{{ c.subject }}</td>
          <td>{{ c.region }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    
{% endblock %}
