{% extends layout_template %}


{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs(APP_BREADCRUMBS + [
      ('history', None),
    ]) }}
{% endblock %}


{% block content %}
    <h1>User summary <small>for {{ period.name }}</small></h1>

    <div class="tabbed">
      <ul class="tabs">
        <li class="{% if subject_name == 'species' %}active{% endif %}">
          <a href="{{ url_for('.species-history') }}">Species</a>
        </li>
        <li class="{% if subject_name == 'habitat' %}active{% endif %}">
          <a href="{{ url_for('.habitat-history') }}">Habitats</a>
        </li>
      </ul>
    </div>

    <p class="h2">Recent comments</p>
    {% if history.comments %}
    <table class="table-list">
      <thead>
        <tr>
          <th>Date</th>
          <th>Author</th>
          <th>User</th>
          <th>{{ subject_name|capitalize }}</th>
          <th>Region</th>
          <th>Read</th>
        </tr>
      </thead>
      <tbody>
        {% for c in history.comments %}
        <tr>
          <td><a href="{{ url_for(summary_endpoint, subject=c.subject,
                  region=c.region, period=c.dataset_id) + "#manual-thead" }}"
                  >{{ c.post_date }}</a></td>
          <td>{{ (c.author.name or c.author_id) | hide_adm_etc_username }}</td>
          <td>{{ (c.user.name or c.user_id) | hide_adm_etc_username }}</td>
          <td>{{ c.subject }}</td>
          <td>{{ c.region }}</td>
          <td>{{ c.read_for(g.user) }}</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="muted">No comments left unread.</p>
    {% endif %}


    <p class="h2">Recent conclusions</p>
    <table class="table-list">
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>{{ subject_name|capitalize }}</th>
          <th>Region</th>
        </tr>
      </thead>
      <tbody>
        {% for c in history.conclusions %}
        <tr>
          <td><a href="{{ url_for(summary_endpoint, subject=c.subject,
                  region=c.region, period=c.dataset_id) + "#manual-thead" }}">{{ c.last_update }}</a></td>
          <td>{{ (c.user.name or c.user_id) | hide_adm_etc_username }}</td>
          <td>{{ c.subject }}</td>
          <td>{{ c.region }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <p class="h2">Recent data sheet info entries</p>
    <table class="table-list">
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>{{ subject_name|capitalize }}</th>
          <th>Region</th>
        </tr>
      </thead>
      <tbody>
        {% for d in history.datasheets %}
        <tr>
          <td><a href="{{ url_for('wiki.datasheet', page=subject_name,
            period=d.dataset_id, subject=d.wiki.subject, region=d.wiki.region_code) }}"
            id="wikibutton">{{ d.changed }}</a></td>
          <td>{{ d.editor | hide_adm_etc_username }}</td>
          <td>{{ d.wiki.subject }}</td>
          <td>{{ d.wiki.region_code or 'All bioregions' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <p class="h2">Recent data sheet info comments</p>
    <table class="table-list">
      <thead>
        <tr>
          <th>Date</th>
          <th>Author</th>
          <th>{{ subject_name|capitalize }}</th>
          <th>Region</th>
          <th>Read</th>
        </tr>
      </thead>
      <tbody>
        {% for c in history.datasheet_comments %}
        <tr>
          <td><a href="{{ url_for('wiki.datasheet', page=subject_name,
            period=c.dataset_id, subject=c.wiki.subject, region=c.wiki.region_code) }}"
            id="wikibutton">{{ c.posted }}</a></td>
          <td>{{ (c.author.name or c.author_id) | hide_adm_etc_username }}</td>
          <td>{{ c.wiki.subject }}</td>
          <td>{{ c.wiki.region_code or 'All bioregions' }}</td>
          <td>{{ c.read_for(g.user) }}</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>

    <p class="h2">Recent audit trail entries</p>
    <table class="table-list">
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>{{ subject_name|capitalize }}</th>
          <th>Region</th>
        </tr>
      </thead>
      <tbody>
        {% for a in history.audittrails %}
        <tr>
          <td><a href="{{ url_for('wiki.audittrail', page=subject_name,
            period=a.dataset_id, subject=a.wiki.subject, region=a.wiki.region_code) }}"
            id="wikibutton">{{ a.changed }}</a></td>
          <td>{{ a.editor | hide_adm_etc_username }}</td>
          <td>{{ a.wiki.subject }}</td>
          <td>{{ a.wiki.region_code }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
