<form id="filterform" class="inline-form" name="filterform" method="get">

  <div class="form_group">
    <label>{{ progress_filter_form.period.label }}</label>
    {{ progress_filter_form.period() }}
  </div>

  <div class="form_group">
    <label>{{ progress_filter_form.group.label }}</label>
    {{ progress_filter_form.group(**{'data-href': groups_url}) }}
  </div>

  <div class="form_group">
    <label>{{ progress_filter_form.conclusion.label }}</label>
    {{ progress_filter_form.conclusion() }}
  </div>

  <button class="offset_top_label" type="submit">Filter</button>

</form>

<div class="current_selection">
  {% if current_selection %}
  <p>
    <b>Current selection</b>:
    {{ current_selection|join(', ') }}.
    <a href="">Show all {{ group }}</a>
  </p>
  {% else %}
    <p><b>Please select a group and a species.</b></p>
  {% endif %}

</div>
