<form id="progress-filterform" class="form box box-small inline-block" name="filterform" method="get">

  <div class="box-col">
    {{ progress_filter_form.period.label }}
    {{ progress_filter_form.period(class="select2-period") }}
  </div>

  <div class="box-col">
    {{ progress_filter_form.group.label }}
    {{ progress_filter_form.group(class="select2-group", **{'data-href': groups_url }) }}
  </div>

  <div class="box-col">
    {{ progress_filter_form.conclusion.label }}
    {{ progress_filter_form.conclusion(class="select2-conclusion") }}
  </div>

  {% if can_select_assessor() %}
  <div class="box-col">
    {{ progress_filter_form.assessor.label }}
    {{ progress_filter_form.assessor(class="select2-assessor", **{'data-href': assessors_url}) }}
  </div>
  {% endif %}

  {% if can_view_details() %}
  <div class="pull-left right-12 no-width">

    <label class="offset_top_label btn-align">
        {{ progress_filter_form.extra(value='on') }}
        {{ progress_filter_form.extra.label.text }}
    </label>
  </div>
  {% endif %}

  <button class="btn-blue btn-primary offset_top_label" type="submit" {% if disable_group %} formtarget="_self" target="_self" {% endif %}>Filter</button>

</form>

<script>
  $(document).ready(function() {
    $('.select2-period').select2({
      placeholder: 'Search period...',
      allowClear: true,
      width: '100%'
    });
    $('.select2-group').select2({
      placeholder: 'Search group...',
      allowClear: true,
      width: '100%'
    });
    $('.select2-conclusion').select2({
      placeholder: 'Search conclusion...',
      allowClear: true,
      width: '100%'
    });
    $('.select2-assessor').select2({
      placeholder: 'Search assessor...',
      allowClear: true,
      width: '100%'
    });
  });
</script>
