{% extends layout_template %}

{% block content %}
    {% block text_description %}{% endblock text_description %}
    <p><strong>NOTE:</strong> Texts in blue shows relevant information on mouse
      over. The conservation status colours are explained on mouse over. Rows in
      italic shows data not taken into account when performing the assessments
      (marginal presence, occasional, extinct prior HD, information, etc).
    Select from "Period..." value "2001-2006" in order to see the previous
      reported data.</p>

    {% include 'progress/filters.html' %}

    {% if current_selection %}

    {% include 'common/table_legend.html' %}

    <table class="complex_datatable datatable">
      <caption>
        <b>Current selection</b>:
        {{ current_selection|join(', ') }}.
      </caption>

      <thead>
        <tr>
          <th rowspan="2">{% block first_column_title %}{% endblock first_column_title %}</th>
          <th colspan="{{ regions|count }}">Regions</th>
        </tr>
        <tr>
          {% for region in regions %}
          <th>
            {{ region.reg_code }}
          </th>
          {% endfor %}
        </tr>
      </thead>

      <tbody>
        {% for subject in subjects %}
        {% set subject_name, subject_title = subject %}
        <tr>
          <th>
            {{ subject_title }}
          </th>
          {% for region in regions %}
            {% set data = objects.get(subject_name, {}).get(region.reg_code, '') %}
            {% set url = url_for(summary_endpoint, subject=subject_name, region=region.reg_code) %}

            {% if data %}
              <td class="{{ CONCLUSION_CLASSES[data['conclusion']] }} conclusion"
                  title="{{ data['title'] }}">
                  <span>
                    <a href="{{ url }}">
                    {% if can_view_details() %}
                      {{ data['main_decision'] }}
                      {{ ' '.join(data['other_decisions']) }}
                      {{ data['method']|methodify }}
                      {% if data.get('comments') %}<br/>
                        {{ data['comments']['user'] }}
                        {{ data['comments']['all'] }}
                        {{ data['comments']['wiki'] }}
                      {% endif %}
                    {% else %}
                      {{ data['method']|methodify }}
                    {% endif %}
                    </a>
                  </span>
              </td>
            {% else %}
              <td></td>
            {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
        <p><b>Please select a group and a species.</b></p>
    {% endif %}

{% endblock %}
