{% extends 'progress/generic_progress.html'  %}


{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs(APP_BREADCRUMBS + [
      ('Habitat progress', None),
    ]) }}
{% endblock %}


{% block text_description %}

<h2>Habitat assessments at EU biogeographical level</h2>

<p>Choose a period, a group, a conclusion type and press the <i>Filter</i> button. You will get an overview of the assessment for the habitat<br>
   in that group over the various biogeographical regions. Move the mouse over each cell in order to get more details about that assessment.<br>
   Clicking on each cell will lead you to the full detailed page of that habitat in the chosen region.</p>
{% endblock %}

{% block first_column_title %}Habitats{% endblock %}
