{% extends 'progress/generic_progress.html'  %}


{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs(APP_BREADCRUMBS + [
      ('Species progress', None),
    ]) }}
{% endblock %}


{% block text_description %}

<h1>Species assessments at EU 27 level</h1>

<p>Choose a group, a conclusion type and press the <i>Filter</i> button. You will get an overview of the assessment for the species in that group over the various bioregions. Move the mouse over each cell in order to get more details about that assessment. Clicking on each cell will lead you to the full detailed page of that species in the chosen region.</p>
{% endblock %}

{% block first_column_title %}Species{% endblock %}
