{% extends 'layout_pdf.html' %}

{% block content %}

  <h1 class="cover-title"><small>Species name:</small> {{ name }}</h1>

  <dl class="cover-summary">
    <dt>Habitat code</dt>
    <dd>{{ code }}</dd>
    <dt>Habitat group</dt>
    <dd>{{ group }}</dd>
    <dt>Priority</dt>
    <dd>{{ priority }}</dd>
    <dt>Regions</dt>
    <dd>{{ format_regions(regions) }}</dd>
  </dl>

  {{ wiki | safe }}

  <section>
    <header>
      <h2>Assessment of conservation status at the European biogeographical level</h2>
      <p class="subtitle">(all biogeographic and marine regions – EU27)</p>
    </header>

    [map]

    <table class="complex_datatable">
      <thead>
        <tr>
          <th rowspan="2">Region</th>
          <th colspan="4">Conservation status parameters</th>
          <th rowspan="2">Conclusion 2007-2012</th>
          <th rowspan="2">Trend in conservation status</th>
          <th rowspan="2">% in biogeo. region</th>
          <th rowspan="2">Conclusion 2001-2006</th>
          <th rowspan="2">Reason for change</th>
        </tr>
        <tr>
          <th>Range</th>
          <th>Area</th>
          <th>Structure &amp; Functions</th>
          <th>Future prospects</th>
        </tr>
      </thead>
      <tbody>
      {% for row in manual_objects %}
        <tr class="stripe_row">
          <td>{{ row.region }}</td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_range, '') }}">
            <span class="conclusion">{{ row.conclusion_range }}</span>
          </td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_area, '') }}">
            <span class="conclusion">{{ row.conclusion_area}}</span>
          </td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_structure, '') }}">
            <span class="conclusion">{{ row.conclusion_structure }}</span>
          </td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_future, '') }}">
            <span class="conclusion">{{ row.conclusion_future }}</span>
          </td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_assessment, '') }}">
            <span class="conclusion">{{ row.conclusion_assessment }}</span>
          </td>
          <td>{{ row.conclusion_assessment_trend }}</td>
          <td>{{ get_percentage(total_range, row.coverage_surface_area) }}</td>
          <td>{{ row.conclusion_assessment_prev }}</td>
          <td>{{ get_reason_for_change_manual(row.conclusion_assessment_change) }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <header>
      <h2>Assessment of conservation status at the Member State level</h2>
      <p class="subtitle">(all biogeographic and marine regions – EU27)</p>
    </header>

    [map]

    <table class="complex_datatable">
      <thead>
        <tr>
          <th rowspan="2">MS</th>
          <th rowspan="2">Region</th>
          <th colspan="4">Conservation status parameters</th>
          <th rowspan="2">Conclusion 2007-2012</th>
          <th rowspan="2">Trend in conservation status</th>
          <th rowspan="2">% in biogeo. region</th>
          <th rowspan="2">Conclusion 2001-2006</th>
          <th rowspan="2">Reason for change</th>
        </tr>
        <tr>
          <th>Range</th>
          <th>Area</th>
          <th>Structure &amp; functions</th>
          <th>Future prospects</th>
        </tr>
      </thead>
      <tbody>
      {% for row in objects %}
        <tr class="stripe_row">
          <td>{{ row.eu_country_code }}</td>
          <td>{{ row.region }}</td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_range, '') }}">
            <span class="conclusion">{{ row.conclusion_range }}</span>
          </td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_area, '') }}">
            <span class="conclusion">{{ row.conclusion_area }}</span>
          </td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_structure, '') }}">
            <span class="conclusion">{{ row.conclusion_structure }}</span>
          </td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_future, '') }}">
            <span class="conclusion">{{ row.conclusion_future }}</span>
          </td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_assessment, '') }}">
            <span class="conclusion">{{ row.conclusion_assessment }}</span>
          </td>
          <td>{{ row.conclusion_assessment_trend or '' }}</td>
          <td>{{ (row.percentage_coverage_surface_area or 0) | round(1) }}</td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_assessment_prev, 'NA') }}">
            <span class="conclusion">{{ row.conclusion_assessment_prev or '' }}</span>
          </td>
          <td>{{ get_reason_for_change(row.conclusion_assessment_change) }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <p>Knowing that not all changes in conservation status between the
    reporting periods were genuine, Member States were asked to give the
    reasons for changes in conservation status. Bulgaria and Romania only
    joined the EU in 2007 and Greece did not report for 2007-12 so no reason is
    given for change for these countries. Greek data shown above is from
    2001-06.</p>
  </section>

  {% include 'factsheet/common/pressures_threats.html' %}
  {% include 'factsheet/common/n2000_coverage.html' %}
  {% include 'factsheet/common/measures.html' %}

{% endblock %}
