{% extends 'layout_pdf.html' %}

{% block content %}

  <table>
    <tr>
      <th colspan="2">Habitat name</th>
      <td colspan="2">{{ name }}</td>
    </tr>
    <tr>
      <th>Habitat code</th>
      <td>{{ code }}</td>
      <th>Habitat group</th>
      <td>{{ group }}</td>
    </tr>
    <tr>
      <th>Priority</th>
      <td>{{ priority }}</td>
      <th>Regions</th>
      <td>{{ regions }}</td>
    </tr>
    <tr>
      <th colspan="2"></th>
      <td colspan="2"></td>
    </tr>
  </table>

  <p>{{ wiki | safe }}</p>
{% endblock %}
