{% extends 'layout_pdf.html' %}

{% block content %}

  <h2>Species name: {{ name }}</h2>

  <table class="complex_datatable">
    <tbody class="thead">
      <tr>
        <th>Annex</th>
        <td>{{ annexes }}</td>
      </tr>
      <tr>
        <th>Priority</th>
        <td>{{ priority }}</td>
      </tr>
      <tr>
        <th>Species group</th>
        <td>{{ group }}</td>
      </tr>
      <tr>
        <th>Regions</th>
        <td>{{ format_regions(regions) }}</td>
      </tr>
    </tbody>
  </table>

  <p>{{ wiki | safe }}</p>

  <section>
    <header>
      <h2>Assessment of conservation status at the European biogeographical level</h2>
      <p class="subtitle">(all biogeographic and marine regions – EU27)</p>
    </header>

    [map]

    <table class="complex_datatable">
      <thead>
        <tr>
          <th rowspan="2">Region</th>
          <th colspan="4">Conservation status parameters</th>
          <th rowspan="2">CS 2012</th>
          <th rowspan="2">Trend in conservation status</th>
          <th rowspan="2">% in biogeo. region</th>
          <th rowspan="2">CS 2006</th>
          <th rowspan="2">Reason for change</th>
        </tr>
        <tr>
          <th>Range</th>
          <th>Population</th>
          <th>Habitat</th>
          <th>Future prospects</th>
        </tr>
      </thead>
      <tbody>
      {% for row in manual_objects %}
        <tr class="stripe_row">
          <td>{{ row.region }}</td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_range, '') }}">
            <span class="conclusion">{{ row.conclusion_range }}</span>
          </td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_population, '') }}">
            <span class="conclusion">{{ row.conclusion_population }}</span>
          </td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_habitat, '') }}">
            <span class="conclusion">{{ row.conclusion_habitat }}</span>
          </td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_future, '') }}">
            <span class="conclusion">{{ row.conclusion_future }}</span>
          </td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_assessment, '') }}">
            <span class="conclusion">{{ row.conclusion_assessment }}</span>
          </td>
          <td>{{ row.conclusion_assessment_trend }}</td>
          <td>{{ get_percentage(total_range, row.range_surface_area) }}</td>
          <td>{{ row.conclusion_assessment_prev }}</td>
          <td>{{ get_reason_for_change_manual(row.conclusion_assessment_change) }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <header>
      <h2>Assessment of conservation status at the Member State level</h2>
      <p class="subtitle">(all biogeographic and marine regions – EU27)</p>
    </header>

    [map]

    <table class="complex_datatable">
      <thead>
        <tr>
          <th rowspan="2">MS</th>
          <th rowspan="2">Region</th>
          <th colspan="4">Conservation status parameters</th>
          <th rowspan="2">CS 2012</th>
          <th rowspan="2">Trend in conservation status</th>
          <th rowspan="2">% in biogeo. region</th>
          <th rowspan="2">CS 2006</th>
          <th rowspan="2">Reason for change</th>
        </tr>
        <tr>
          <th>Range</th>
          <th>Population</th>
          <th>Habitat</th>
          <th>Future prospects</th>
        </tr>
      </thead>
      <tbody>
      {% for row in objects %}
        <tr class="stripe_row">
          <td>{{ row.eu_country_code }}</td>
          <td>{{ row.region }}</td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_range, '') }}">
            <span class="conclusion">{{ row.conclusion_range }}</span>
          </td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_population, '') }}">
            <span class="conclusion">{{ row.conclusion_population }}</span>
          </td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_habitat, '') }}">
            <span class="conclusion">{{ row.conclusion_habitat }}</span>
          </td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_future, '') }}">
            <span class="conclusion">{{ row.conclusion_future }}</span>
          </td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_assessment, '') }}">
            <span class="conclusion">{{ row.conclusion_assessment }}</span>
          </td>
          <td>{{ row.conclusion_assessment_trend or '' }}</td>
          <td>{{ row.percentage_range_surface_area | round(1) }}</td>
          <td class="{{ CONCLUSION_CLASSES.get(row.conclusion_assessment_prev, 'NA') }}">
            <span class="conclusion">{{ row.conclusion_assessment_prev }}</span>
          </td>
          <td>{{ get_reason_for_change(row.conclusion_assessment_change) }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <p>Knowing that not all changes in conservation status between the
    reporting periods were genuine, Member States were asked to give the
    reasons for changes in conservation status. Bulgaria and Romania only
    joined the EU in 2007 and Greece did not report for 2007-12 so no reason is
    given for change for these countries. Greek data shown above is from
    2001-06.</p>
  </section>

  <section>
    <header>
      <h2>Main pressures and threats reported by Member States</h2>
    </header>

    <p>Member states were asked to report the 20 most important threats and
    pressures using an agreed hierarchical list which can be found on the
    Article 17 Reference Portal
    (<a href="http://bd.eionet.europa.eu/activities/Reporting/Article_17/reference_portal">
    </a>). Pressures are activities which are currently having an impact on the
    species and threats are activities expected to have an impact in the near
    future. Pressures and threats were ranked in three classes ‘High, Medium
    and low importance, the tables below only show threats and pressures
    classed as ‘High’, for some species there were less than ten threats or
    pressures reported as highly important.</p>

    <h3>Ten most frequently reported 'Highly important' pressures</h3>

    <table class='table-simple'>
      <thead>
        <tr>
          <th>Code</th>
          <th>Activity</th>
          <th>% of reports</th>
        </tr>
      </thead>
      <tbody>
        {% for pressure in pressures %}
          <tr>
            <td>{{ pressure['code'] }}</td>
            <td>{{ pressure['activity'] }}</td>
            <td>{{ pressure['pc'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3>Ten most frequently reported 'Highly important' threats</h3>

    <table class='table-simple'>
      <thead>
        <tr>
          <th>Code</th>
          <th>Activity</th>
          <th>% of reports</th>
        </tr>
      </thead>
      <tbody>
        {% for threat in threats %}
          <tr>
            <td>{{ threat['code'] }}</td>
            <td>{{ threat['activity'] }}</td>
            <td>{{ threat['pc'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  <section>
    <header>
      <h2>Percentage of coverage by Natura 2000</h2>
    </header>

    <p>Member States were asked to report the area of the habitat which is
    covered by the Natura 2000 network. In some cases this information has been
    estimated using a different methodology to the estimate of overall area and
    this can lead to percentage covers greater than 100%. In such case the
    value has been given as 100% and highlighted with an asterisk (*). ‘na’
    indicates that the MS has not reported the habitat area and/or the coverage
    by Natura 2000. No information is available for Greece.</p>

    <table class='table-simple'>
      <thead>
        <tr>
          <th></th>
          {% for region in regions %}
            <th>{{ region }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for country, region_pc in coverage.iteritems() %}
          <tr>
            <th>{{ country }}</th>
            {% for region in regions %}
              <td>{{ region_pc.get(region, '') }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </section>

  <section>
    <header>
      <h2>Ten most frequently reported Conservation Measures</h2>
    </header>

    <p>Member states were asked to report the 10 most important conservation
    measures being implemented for this species using an agreed list which can
    be found on the Article 17 Reference Portal.</p>

    <table class='table-simple'>
      <thead>
        <tr>
          <th>Measure</th>
          <th>% reports where noted</th>
        </tr>
      </thead>
      <tbody>
        {% for row in measures %}
          <tr>
            <td>{{ row['activity'] }}</td>
            <td>{{ row['pc'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <p>This information is derived from the Member State national reports
    submitted to the European Commission under Article 17 of the Habitats
    Directive in 2013 and covering the period 2007-2012. More detailed
    information, including the MS reports, is available at:
    <a href="{{ url }}"></a>
    </p>

  </section>

{% endblock %}
