{% macro parse_errors(fields, row, qa_errors, title='', classes='') %}
    {% set qtitle, qclasses = parse_qa_errors(fields, row, qa_errors) %}
    {% set letitle = (title or '') + ' ' + qtitle %}
    {% set letitle = letitle|trim %}
    {% if letitle -%}
    title="{{ letitle }}"
    {% endif %}
    class="{{ classes }} {{ qclasses }}"
{% endmacro %}

{% macro conclusion_td(color, content, colspan=1) %}
  <td class="{{ CONCLUSION_CLASSES.get(color, '') }}" colspan="{{ colspan }}">
      <span class="conclusion">{{ content }}</span>
  </td>
{% endmacro %}

{% macro breadcrumbs(page_list) %}
  {%- for label, url in page_list %}
    {%- set cls = 'breadcrumbitemlast' if loop.last else 'breadcrumbitem' %}
    <div class="{{ cls }}">
      {%- if url %}
        <a href="{{ url }}">{{ label }}</a>
      {%- else %}
        {{ label }}
      {%- endif %}
    </div>
  {%- endfor %}
{%- endmacro %}

{% macro render_field_with_errors(field) %}
    {% set cls = 'form-error' if field.errors else '' %}
    <label>
      {{ field.label.text }}
      {%- if field.flags.required %}*{% endif %}
    </label>
    {{ field(class=cls, **kwargs)|safe }}
    {% if field.errors %}
      {% for error in field.errors %}
        <p class="form-error-msg">{{ error }}</p>
      {% endfor %}
    {% endif %}
{% endmacro %}

{% macro conclusion_li(conclusion, name, checked) %}
    {% set css_class = CONCLUSION_CLASSES.get(conclusion, '') %}
    <li class="clearfix">
        <label  class="radio-label {{ css_class }} conclusion inline width-third pull-right"
                for="radio-{{ name }}-{{ css_class|lower }}">
                <input  id="radio-{{ name }}-{{ css_class|lower }}"
                        type="radio"
                        name="{{ name }}"
                        value="{{ css_class }}"
                        data-class="{{ css_class }}"
                        {% if checked %}checked{% endif %}>
                {{ css_class }}
            </label> {{ COUNTRY_ASSESSMENTS.get(conclusion, '') }}
    </li>
{% endmacro %}

{% macro method_conclusion_popout(title, method_field, conclusion_field) %}
  <div class="popout-wrapper">
      <div class="popout assesment caret">
      <div class="popout-title">
          <span class="close pull-right"><i class="fa fa-times"></i></span>
          {{ title }}
      </div>
      <div class="form-group clearfix no-bottom">
          <label class="pull-left no-bottom">Method</label>
          <div class="width-third pull-right">{{ method_field() }}</div>
      </div>
      <hr>
      <div class="form-group no-bottom">
          <label class="no-bottom">Conclusion</label>
          <ul class="select-list no-list">
              {% for conclusion, c in conclusion_field.choices %}
                {% if conclusion %}
                  {{ conclusion_li(conclusion, conclusion_field.name,
                                   conclusion_field.data == conclusion) }}
                {% endif %}
              {% endfor %}
          </ul>
      </div>
      </div>
      <a class="conclusion select block {{ CONCLUSION_CLASSES.get(conclusion_field.data, '') }}"
         tab-index
         data-popout="assesment"
         data-initial="{{ CONCLUSION_CLASSES.get(conclusion_field.data, '') }}">
        {% if conclusion_field.data %}
          <span class="selected-value"></span>
        {% else %}
          <span class="selected-value hidden"></span>
        {% endif %}
        {% if method_field.data %}
          {{ method_field.data }}
        {% else %}
          <i class="fa fa-hand-o-up"></i>
        {% endif %}
      </a>
  </div>
{% endmacro %}

{% macro method_conclusion_td(title, method_field, conclusion_field) %}
    <td {% if method_field.errors or conclusion_field.errors %}class="form-error-td"{% endif %}
        {{ cm_pair_title() }}>
        {{ method_conclusion_popout(title, method_field, conclusion_field) }}
    </td>
{% endmacro %}

{% macro size_unit(pop_size_field, size, pop_size_unit_field) %}
  <div class="popout-wrapper">
      <div class="popout size_unit caret width-120">
      <a class="close pull-right"><i class="fa fa-times"></i></a>
      <div class="form-group clearfix no-bottom">
          <label class="pull-left no-bottom">Size</label>
          <div {{ numeric_values_title() }} class="width-2third pull-right">{{ pop_size_field(size=size) }}</div>
      </div>
      <div class="form-group clearfix no-bottom">
          <label class="pull-left no-bottom">Unit</label>
          <div class="width-2third pull-right">{{ pop_size_unit_field() }}</div>
      </div>
      </div>
      <a class="select block" tab-index data-popout="size_unit">
          <span class="selected-value no-break hidden"></span>
          {% if pop_size_field.data %}
            {{ pop_size_field.data }}
          {% else %}
          <i class="fa fa-hand-o-up"></i>
          {% endif %}
      </a>
  </div>
{% endmacro %}

{% macro numeric_values_title() %}
    title="Only numeric values or intervals are accepted.
The numbers can be with decimals only if the numbers are smaller than 10.
Full stop '.' should be used as decimal separator The numbers can be preceded by a qualifier: '~', '>', '>>', '<'.
Leave the cell blank only if it is not possible to calculate a value.
Reference values should be indicated only by a qualifier if the numerical value is the same as the actual value.
The automatic computation for the reference values is not able to calculate a value, unless the corresponding conclusion is favourable, therefore the reference values need to be computed manually."
{% endmacro %}

{% macro cm_pair_title() %}
    title="At least one conclusion and method pair shall be added."
{% endmacro %}
