{% macro parse_errors(fields, row, qa_errors, title='', classes='') %}
    {% set qtitle, qclasses = parse_qa_errors(fields, row, qa_errors) %}
    {% set letitle = (title or '') + ' ' + qtitle %}
    {% set letitle = letitle|trim %}
    {% if letitle -%}
    title="{{ letitle }}"
    {% endif %}
    class="{{ classes }} {{ qclasses }}"
{% endmacro %}

{% macro conclusion_td(color, content, colspan=1) %}
  <td class="{{ CONCLUSION_CLASSES.get(color, '') }}" colspan="{{ colspan }}">
      <span class="conclusion">{{ content }}</span>
  </td>
{% endmacro %}

{% macro breadcrumbs(page_list) %}
  {%- for label, url in page_list %}
    {%- set id = 'breadcrumbs-current' if loop.last else '' %}
      {% if not loop.first %}
       >
      {% endif %}

      {% if id %}
        <span id="{{ id }}"> {{ label }}</span>
      {% else %}
        <a href="{{ url }}"> {{ label }}</a>
      {% endif %}
    </span>
  {%- endfor %}
{%- endmacro %}

{% macro render_field_with_errors(field) %}
    {% set cls = 'form-error' if field.errors else '' %}
    <label>
      {{ field.label.text }}
      {%- if field.flags.required %}*{% endif %}
    </label>
    {{ field(class=cls, **kwargs)|safe }}
    {% if field.errors %}
      {% for error in field.errors %}
        <p class="form-error-msg">{{ error }}</p>
      {% endfor %}
    {% endif %}
{% endmacro %}

{% macro conclusion_li(conclusion, name, checked) %}
    {% set css_class = CONCLUSION_CLASSES.get(conclusion, '') %}
    <li class="clearfix">
        <label  class="radio-label {{ css_class }} conclusion inline width-third pull-right"
                for="radio-{{ name }}-{{ css_class|lower }}">
                <input  id="radio-{{ name }}-{{ css_class|lower }}"
                        type="radio"
                        name="{{ name }}"
                        value="{{ css_class }}"
                        data-class="{{ css_class }}"
                        {% if checked %}
                        checked
                        secondClick="true"
                        {% endif %}>
                {{ css_class }}
            </label> {{ COUNTRY_ASSESSMENTS.get(conclusion, '') }}
    </li>
{% endmacro %}

{% macro method_conclusion_popout(title, method_field, conclusion_field) %}
  <div class="popout-wrapper">
      <div class="popout assesment caret">
      <div class="popout-title">
          <span class="close pull-right"><i class="fa fa-times"></i></span>
          {{ title }}
      </div>
      <div class="form-group clearfix no-bottom">
          <label class="pull-left btn-align no-bottom">Method</label>
          <div class="width-third pull-right">{{ method_field() }}</div>
      </div>
      <hr>
      <div class="form-group no-bottom">
          <p class="bold btn-align">Conclusion</p>
          <ul class="select-list no-list">
              {% for conclusion, c in conclusion_field.choices %}
                {% if conclusion %}
                  {{ conclusion_li(conclusion, conclusion_field.name,
                                   conclusion_field.data == conclusion) }}
                {% endif %}
              {% endfor %}
          </ul>
      </div>
      </div>
      <a class="conclusion select block {{ CONCLUSION_CLASSES.get(conclusion_field.data, '') }}"
         tab-index
         data-popout="assesment"
         data-initial="{{ CONCLUSION_CLASSES.get(conclusion_field.data, '') }}"
         data-value="method">
        {% if method_field.data %}
          <span class="selected-value">
            {{ method_field.data }}
          </span>
        {% else %}
          <span class="selected-value hidden"></span>
        {% endif %}
      </a>
  </div>
{% endmacro %}

{% macro select_conclusion_popout(title, conclusion_field) %}
  <div class="popout-wrapper">
      <div class="popout assesment caret">
      <div class="popout-title">
          <span class="close pull-right"><i class="fa fa-times"></i></span>
          {{ title }}
      </div>
      <div class="form-group no-bottom">
          <p class="bold btn-align">Conclusion</p>
          <ul class="select-list no-list">
              {% for conclusion, c in conclusion_field.choices %}
                {% if conclusion %}
                  {{ conclusion_li(conclusion, conclusion_field.name,
                                   conclusion_field.data == conclusion) }}
                {% endif %}
              {% endfor %}
          </ul>
      </div>
      </div>
      <a class="conclusion select block {{ CONCLUSION_CLASSES.get(conclusion_field.data, '') }}"
         tab-index
         data-popout="assesment"
         data-initial="{{ CONCLUSION_CLASSES.get(conclusion_field.data, '') }}"
         data-value="radio">
        {% if conclusion_field.data %}
          <span class="selected-value">
            {{ conclusion_field.data }}
          </span>
        {% else %}
          <span class="selected-value hidden"></span>
        {% endif %}
      </a>
  </div>
{% endmacro %}

{% macro method_conclusion_td(title, method_field, conclusion_field) %}
    <td {% if method_field.errors or conclusion_field.errors %}class="form-error-td"{% endif %}
        {{ cm_pair_title() }}>
        {{ method_conclusion_popout(title, method_field, conclusion_field) }}
    </td>
{% endmacro %}

{% macro select_conclusion_td(title, conclusion_field) %}
    <td {% if conclusion_field.errors %}class="form-error-td"{% endif %}
        {{ cm_pair_title() }}>
        {{ select_conclusion_popout(title, conclusion_field) }}
    </td>
{% endmacro %}

{% macro size_unit(pop_size_field, size, pop_size_unit_field) %}
  <div class="popout-wrapper">
      <div class="popout size_unit caret width-120">
      <a class="close pull-right"><i class="fa fa-times"></i></a>
      <div class="form-group clearfix no-bottom">
          <label class="btn-align pull-left no-bottom">Size</label>
          <div {{ numval_species_title(x=False) }} class="width-2third pull-right">{{ pop_size_field(size=size) }}</div>
      </div>
      <div class="form-group clearfix no-bottom">
          <label class="btn-align pull-left no-bottom">Unit</label>
          <div class="width-2third pull-right">{{ pop_size_unit_field() }}</div>
      </div>
      </div>
      <a class="select block" tab-index data-popout="size_unit">
          {% if pop_size_field.data %}
          <span class="selected-value no-break">
            {{ pop_size_field.data }}
            {{ pop_size_unit_field.data }}
          </span>
          {% else %}
          <span class="selected-value no-break hidden"></span>
          {% endif %}
      </a>
  </div>
{% endmacro %}

{% macro reason_title(dataset_schema, change_reason) %}
    {% set reason = "" %}
    {% if dataset_schema == '2006' %}
        {% set reason = "Reason for change: " %}
    {% elif dataset_schema == '2012' %}
        {% set reason = "Reasons for change if current value is different than in 2007: " %}
    {% endif %}
    {{ reason + (change_reason or 'N/A') }}
{% endmacro %}

{% macro numval_species_title(lt=True, x=True) %}
    title="Only numeric values or intervals are accepted.
The numbers can be with decimals only if the numbers are smaller than 10.
Full stop '.' should be used as decimal separator. The numbers can be preceded by a qualifier: '~', '>', '>>'
{%- if lt -%}
    , '<'
{%- endif -%}.
Leave the cell blank only if it is not possible to calculate a value.
{%- if x %}
Mark unknown values with an 'x'.
{% endif -%}
Reference values should be indicated only by a qualifier if the numerical value is the same as the actual value.
The automatic computation for the reference values is not able to calculate a value, unless the corresponding conclusion
is favourable, therefore the reference values need to be computed manually."
{% endmacro %}

{% macro numval_habitat_title(x=True) %}
    title="Only numeric values or intervals are accepted.
The numbers can be float with '.' for decimals and 2 decimals.
Leave the cell blank only if it is not possible to calculate a value.
{%- if x %}
Mark unknown values with an 'x'.
{% endif -%}
"
{% endmacro %}

{% macro cm_pair_title() %}
    title="At least one conclusion and method pair shall be added."
{% endmacro %}
