{% extends layout_template %}


{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs([
      ('art17', url_for(HOMEPAGE_VIEW_NAME)),
      ('configuration', None),
    ]) }}
{% endblock %}


{% block content %}
  <h1>Configuration</h1>

  <form id="config-form" class="box box-small inline-block" name="config" method="post">

    {% for field in form %}
      {% if field.name == 'csrf_token' %}
        <input type="hidden" name="{{ field.name }}" value="{{ field.value }}">
      {% else %}
        <div>
          <label for="{{ field.name }}">{{ field.label }}</label>:
          {{ field(class="css_class") }}
        </div>
        {% if field.errors %}
          <ul class="errors">
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    {% endfor %}

    <div>
      <button type="submit">Save</button>
    </div>

  </form>
{% endblock content %}
