{% extends layout_template %}


{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs(APP_BREADCRUMBS + [
      ('configuration', None),
    ]) }}
{% endblock %}


{% block content %}
{% from '_macros.html' import render_field_with_errors %}
  <h1>Configuration</h1>

  <form id="config-form" class="form box box-small inline-block" name="config" method="post">

    <div class="form-group">
      {{ render_field_with_errors(form.start_date) }}
    </div>

    {% for field in form %}
      {% if field.name == 'csrf_token' %}
        <input type="hidden" name="{{ field.name }}" value="{{ field.value }}">
      {% else %}
        <div class="form-group">
          {{ render_field_with_errors(field) }}
        </div>
      {% endif %}
    {% endfor %}

    <div>
      <button class="btn-blue" type="submit">Save</button>
    </div>

  </form>
{% endblock content %}
