<form id="filterform" name="filterform" method="get">

  <fieldset>
    <legend>{{ summary_filter_form.group.label }}</legend>
    {{ summary_filter_form.group }}
  </fieldset>

  <fieldset>
    <legend>{{ summary_filter_form.species.label }}</legend>
    {% set species_url = url_for('summary.species-summary-species') %}
    {{ summary_filter_form.species(**{'data-href': species_url}) }}
  </fieldset>

  <fieldset>
    <legend>{{ summary_filter_form.region.label }}</legend>
    {% set regions_url = url_for('summary.species-summary-regions') %}
    {{ summary_filter_form.region(**{'data-href': regions_url}) }}
  </fieldset>

  <button type="submit">Filter</button>

</form>
