<form id="filterform" name="filterform" method="get">

  <fieldset>
    <legend>{{ summary_filter_form.period.label }}</legend>
    {{ summary_filter_form.period }}
  </fieldset>

  <fieldset>
    <legend>{{ summary_filter_form.group.label }}</legend>
    {{ summary_filter_form.group }}
  </fieldset>

  <fieldset>
    <legend>{{ summary_filter_form.species.label }}</legend>
    {% set species_url = url_for('summary.species-summary-species') %}
    {{ summary_filter_form.species(**{'data-href': species_url}) }}
  </fieldset>

  <fieldset>
    <legend>{{ summary_filter_form.region.label }}</legend>
    {% set regions_url = url_for('summary.species-summary-regions') %}
    {{ summary_filter_form.region(**{'data-href': regions_url}) }}
  </fieldset>

  <button type="submit">Filter</button>

</form>

<div class="current_selection">
  {% if current_selection %}
  <p>
    <b>Current selection</b>:
    {{ current_selection|join(', ') }}.
    {% if annexes %}
      <b>Annexes</b> {{ annexes|join(', ') }}.
    {% endif %}
    <a href="">Show all {{ group }}</a>
  </p>
  {% else %}
    <p><b>Please select a group and a species.</b></p>
  {% endif %}

</div>
