<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% assets "js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/formalize.css') }}"
      media="screen">

<link rel="stylesheet" type="text/css" media="screen"
      href="http://www.eionet.europa.eu/styles/eionet2007/screen.css">

<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/font-awesome.min.css') }}"
      media="screen">

<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/jquery.powertip.css') }}"
      media="screen">

<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/art17-ui.css') }}"
      media="screen">

<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed"
      rel="stylesheet" type="text/css">
