{% extends layout_template %}


{% block content %}

  <h1>Online report on Article 17 of the Habitats Directive</h1>

  <p class="documentDescription">
    Welcome to the Article 17 Web Tool on biogeographical assessments
    of conservation status for species and habitats, as reported by
    Member States according to the provisions of Article 17 of the
    Habitats Directive.
  </p>

  <p>
    The MS assessments as well as the biogeographical assessments performed
    by the ETC/BD are now available for public view.
  </p>

  <div class="warning">
    <p>
      <strong>DEMO:</strong>
      You can use this site as playground, testing various functionalities and modify the data as you like.
    </p>

    <small>
      <a href="http://eea.europa.eu" rel="external">EEA</a> is not responsible or liable for information on this site. Content does not necessarily reflect the official opinion of <a href="http://eea.europa.eu" rel="external">EEA</a> or other European Communities bodies and institutions.
    </small>
  </div>

  <h2>
    The consultation is open only for users that will register. To register:
  </h2>

  <ul>
    <li>
      If you have an Eionet account please
      <a href="{{ url_for('auth.register_ldap') }}">register here</a>.
    </li>
    <li>
      If you don't have an Eionet account please
      <a href="{{ url_for('security.register') }}">register here</a>.
    </li>
    <li>
      If you are a National Data Coordinator for Article 17,
      you are already registered.
    </li>
  </ul>

  <p>
    There is no need to register if you just want to view the data.
    You just click on one of the links below. If you want as well to
    indicate how the assessments should be changed, than you will need
    to register.
  </p>

  <h2>Quick links for the impatient</h2>

  <p><strong>Biogeographical assessments at Member State level:</strong></p>
  <ul>
    <li><a href="{{ url_for('report.species-report') }}">Species assessments</a></li>
    <li><a href="{{ url_for('report.habitat-report') }}">Habitats assessments</a></li>
  </ul>

  <p><strong>Biogeographical assessments at EU 27 level:</strong></p>
  <ul>
    <li><a href="{{ url_for('progress.species-progress') }}">Species asssessments</a></li>
    <li><a href="{{ url_for('progress.habitat-progress') }}">Habitats assessments</a></li>
    <li><a href="{{ url_for('.species-summary') }}">Species data summaries</a></li>
    <li><a href="{{ url_for('.habitat-summary') }}">Habitat data summaries</a></li>
  </ul>

  <br/>

  <h2>Activity logs</h2>
  <ul>
    <li>
      <a href="{{ url_for('comments.species-history') }}">Species</a>
    </li>
    <li>
      <a href="{{ url_for('comments.habitat-history') }}">Habitats</a>
    </li>
  </ul>


  {% if admin_perm.can() %}
  <h2>Administrator</h2>
    <ul>
    {% if AUTH_BLUEPRINT_INSTALLED %}
      <li><a href="{{ url_for('auth.users') }}">Users</a></li>
    {% endif %}
      <li><a href="{{ url_for('auth.dataset_list') }}">Dataset admin</a></li>
      <li><a href="{{ url_for('common.config') }}">Settings</a></li>
    </ul>
  {% endif %}
{% endblock content %}
