{% extends layout_template %}


{% block content %}

  <h1>Online report on Article 17 of the Habitats Directive</h1>

  <p class="documentDescription">
    Welcome to the Article 17 web tool on biogeographical assessments
    of conservation status of species and habitats under Article 17 of the
    Habitats Directive.
  </p>

  <p>
  The biogeographical assessments from the Member States are now available for
  public view; the EU biogeographical assessments performed by the EEA and the
  ETC/BD are under development and will become available for public view and
  consultation during the second quarter of 2014.
  </p>

  <div class="warning">
    {% if DEMO_SERVER %}
    <p>
      <strong>DEMO:</strong>
      You can use this site as playground, testing various
      functionalities and modify the data as you like.
    </p>
    {% endif %}

    <small>
      <a href="http://eea.europa.eu" rel="external">EEA</a> is not
      responsible or liable for information on this site. Content does
      not necessarily reflect the official opinion of <a
      href="http://eea.europa.eu" rel="external">EEA</a> or other
      European Communities bodies and institutions.
    </small>
  </div>

  {% if AUTH_BLUEPRINT_INSTALLED %}
    {% if not start_date %}
      <h2>The consultation has not started yet.</h2>

      <p>
        You cannot sign-up for a new account because the registration
        process has not started yet.
      </p>
    {% elif start_date and start_date > today %}
      <h2>The consultation has not started yet.</h2>

      <p>
        You cannot sign-up for a new account because the registration
        process will start on {{ start_date }}.
      </p>

    {% elif end_date and end_date < today %}
      <h2>The deadline for this consultation has passed.</h2>

      <p>
        You cannot sign-up for a new account because the registration
        process ended on {{ end_date }}.
      </p>

    {% else %}
      <h2>
        The consultation is open only for users that will register.
        To register:
      </h2>

      <ul>
        {% if g.identity.id %}
            <li>
                You have logged in and already registered for this consultation.
            </li>
        {% else %}
            <li>
              If you have an Eionet account please
              <a href="{{ url_for('auth.register_ldap') }}">register here</a>.
            </li>
            <li>
              If you don't have an Eionet account please
              <a href="{{ url_for('auth.register_local') }}">register here</a>.
            </li>
        {% endif %}
        <li>
          If you are a National Data Coordinator for Article 17,
          you are already registered.
        </li>
      </ul>
    {% endif %}
  {% endif %}

  <p>
    There is no need to register if you just want to view the data.
    You just click on one of the links below. If you want as well to
    indicate how the assessments should be changed, than you will need
    to register.
  </p>

  <h2>Quick links for the impatient</h2>

  <p>
    <strong>Biogeographical assessments at Member State level:</strong>
  </p>

  <ul>
    <li><a href="{{ url_for('report.species-report') }}">
        Species assessments</a></li>
    <li><a href="{{ url_for('report.habitat-report') }}">
        Habitats assessments</a></li>
  </ul>

  <p><strong>Biogeographical assessments at EU 27 level:</strong></p>
  <ul>
    <li><a href="{{ url_for('progress.species-progress') }}">
        Species assessments</a></li>
    <li><a href="{{ url_for('progress.habitat-progress') }}">
        Habitats assessments</a></li>
    <li><a href="{{ url_for('summary.species-summary') }}">
        Species data summaries</a></li>
    <li><a href="{{ url_for('summary.habitat-summary') }}">
        Habitat data summaries</a></li>
  </ul>

  <br/>

  <h2>Activity logs</h2>
  <ul>
    <li>
      <a href="{{ url_for('comments.species-history') }}">Species</a>
    </li>
    <li>
      <a href="{{ url_for('comments.habitat-history') }}">Habitats</a>
    </li>
  </ul>


  {% if admin_perm.can() %}
      <h2>Administrator</h2>
        <ul>
        {% if AUTH_BLUEPRINT_INSTALLED %}
          <li><a href="{{ url_for('auth.users') }}">Users</a></li>
        {% endif %}
          <li><a href="{{ url_for('auth.dataset_list') }}">Dataset admin</a></li>
          <li><a href="{{ url_for('common.config') }}">Settings</a></li>
          <li><a href="{{ url_for('auth.change_password') }}">Change password</a></li>
        </ul>
  {% elif current_user.is_authenticated() %}
      <h2>My account</h2>
        <ul>
          <li><a href="{{ url_for('auth.change_password') }}">Change password</a></li>
        </ul>
  {% endif %}

{% endblock content %}
