<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %}{% endblock %}</title>

     <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/art17-ui.css') }}"
      media="screen">

    {% block head %}{% endblock %}
  </head>

  <body>

    <div class="cover-header">
      <img src="{{ url_for('static', filename='img/eea-logo-print.jpg') }}">
      <em>European Topic Centre<br>on Biological Diversity</em>
    </div>

    <h2>Habitats Directive Article 17 Reporting</h2>
    <h3>Period 2007-2012</h3>

    {% block content %}{% endblock %}
  </body>

</html>
