{{ g.zope_layout.start_to_title }}

  {%- block title %}{% endblock -%}

{{ g.zope_layout.title_to_endofhead }}

  {% include 'header_styles.html' %}

{{ g.zope_layout.endofhead_to_breadcrumbs }}

  {% block breadcrumbs %}
    {% from '_macros.html' import breadcrumbs %}
    {{ breadcrumbs(APP_BREADCRUMBS) }}
  {% endblock %}

{{ g.zope_layout.breadcrumbs_to_content }}

  <script>$('body').addClass('fullscreen')</script>
  {% include 'flash_messages.html' %}
  {% block content %}{% endblock %}
  {% block scripts %}{% endblock %}

{{ g.zope_layout.content_to_end }}
