<!DOCTYPE html>
<html>

  <head>
    {% include 'header_styles.html' %}
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body class="fullscreen">

    <div class="modal-bg hidden">
      <div class="modal">
        <iframe frameborder="0" width="100%" height="100%"></iframe>
      </div>
      <button onclick='closeModal()' class="close">Close <i class="fa fa-times"></i></button>
    </div>

  <a href="{{ url_for('common.homepage') }}">Home</a>
  {% if art17_auth_debug %}
    <a href="{{ url_for('auth.debug') }}">Auth debug</a>
  {% endif %}

  {% if config['AUTH_ZOPE'] %}
    Auth zope: <a href="/loggedin">login</a>, <a href="/loggedout">logout</a>
  {% endif %}

  {% if g.identity.id is none %}
    anonymous
  {% else %}
    {{ g.identity.id }}
  {% endif %}

  <div>
    {% block breadcrumbs %}
      {% from '_macros.html' import breadcrumbs %}
      {{ breadcrumbs(APP_BREADCRUMBS) }}
    {% endblock %}
  </div>

  <div id="container">
    <div id="workarea">
      {% include 'flash_messages.html' %}
      {% block content %}{% endblock content %}
    </div>
    </div>

  {% block scripts %}{% endblock %}
  </body>

</html>
