
{% include 'plone/head.html' %}

{% include 'header_styles.html' %}
{% include 'plone/before_login.html' %}


{% if current_user.is_authenticated() %}
  <a href="http://www.eionet.europa.eu/directory/user?uid={{ current_user.username }}"
     id="profilelink">{{ current_user.username }}</a>
  <a id="loginlink" href="https://plone5demo.eionet.europa.eu/logout">Log out</a>
{% else %}
  <a id="loginlink" href="https://plone5demo.eionet.europa.eu/login">Log in</a>
{% endif %}

<div class="modal-bg hidden">
  <div class="modal">
    <iframe frameborder="0" width="100%" height="100%"></iframe>
  </div>
  <button onclick='closeModal()' class="close">Close <i class="fa fa-times"></i></button>
</div>

{% include 'plone/before_breadcrumbs.html' %}

{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs(APP_BREADCRUMBS) }}
{% endblock %}



{% include 'plone/header_before_container.html' %}
{% block content%} {% endblock %}
{% include 'plone/header_after_container.html' %}

<script>$('body').addClass('fullscreen')</script>
{% include 'flash_messages.html' %}
{% block scripts %} {% endblock %}

{% include 'plone/footer.html' %}
