<!DOCTYPE html>
<html>

  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% assets "js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <!--<link href="{{ url_for('static', filename='css/styles.css') }}"
          type="text/css" rel="stylesheet" />-->
    <link rel="stylesheet" type="text/css" 
          href="{{ url_for('static', filename='css/formalize.css') }}"
          media="screen">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/screen.css') }}"
          media="screen">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/complex_datatable.css') }}"
          media="screen">
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed"
          rel="stylesheet" type="text/css">

    <title></title>
  </head>

  <body class="fullscreen">
  <a href="{{ url_for('summary.homepage') }}">Home</a>
  {% if art17_auth_debug %}
      <a href="{{ url_for('auth.debug') }}">Auth debug</a>
    {% endif %}

    {% if config['AUTH_ZOPE'] %}
      Auth zope: <a href="/loggedin">login</a>, <a href="/loggedout">logout</a>
    {% endif %}

    {% if g.identity.id is none %}
      anonymous
    {% else %}
      {{ g.identity.id }}
    {% endif %}

  <div id="container">
    <div id="workarea">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
          {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock content %}
    </div>
    </div>

  </body>

</html>
