<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %}{% endblock %}</title>

    <style type="text/css">
      {{ inject_static_file('css/print-factsheet.css') }}
    </style>

    {% block head %}{% endblock %}
  </head>

  <body>

    <div class="logo">
      <img src="{{ url_for('static', filename='img/eea-logo-print.jpg') }}">
      <strong>European Environment Agency</strong><br>
      <i>European Topic Centre <br>on Biological Diversity</i>
    </div>
    <p>Report under the Article 17 of the Habitats Directive<br>Period {{ period }}</p>

    {% block content %}{% endblock %}
  </body>

</html>
