{% extends layout_template %}

{% block content %}
  <p>Assessments on the <strong>conservation status of the habitat types and species</strong> of Community interest have been carried out in EU27 for the period {{ period_name }}, compiled as part of the Habitats Directive - Article 17 reporting process. The data summary sheet for species conservation status provides an overview per biogeographical region. Once a selection has been made the conservation status can be visualised in a map view. <br>
    Choose a period, group, then a species belonging to that group. Optionally, further refine your query by selecting one of the available biogeographical regions for that habitat.</p>

  <p><strong>NOTE:</strong> Texts in blue shows relevant information on mouse over. The conservation status colours are explained on mouse over. Rows in italic shows data not taken into account when performing the assessments (marginal presence, occasional, extinct prior HD, information, etc).
    Select from "Period..." value "2001-2006" in order to see the previous reported data.</p>

  {% include 'filters.html' %}

  <table class="complex_datatable datatable">
    <colgroup>
      <col span="1">
      <col span="1" class="col_border">

      <col span="5" class="col_border_left">

      <col span="5" class="col_border_left">

      <col span="6" class="col_border_left">

      <col span="2" class="col_border_left">

      <col span="5" class="col_border_left">

      <col span="5" class="col_border">
    </colgroup>
    <thead>
    <tr class="section-header">
      <th colspan="35">
        ETC/BD treated member states' data
      </th>
    </tr>
    <tr>
      <th rowspan="2">MS</th>
      <th rowspan="2">Reg</th>
      <th colspan="5">Range</th>
      <th colspan="6">Population</th>
      <th colspan="6">Habitat for the species (km<sup>2</sup>)</th>
      <th colspan="2" rowspan="2"><abbr title="Future prospects">FP</abbr></th>
      <th colspan="5">Overall assessment</th>
      <th colspan="4">Grided maps(km<sup>2</sup>)</th>

      {# Padding #}
      <td colspan="5" rowspan="2"></td>
    </tr>
    <tr>
      <th>Area</th>
      <th colspan="2">%MS</th>
      <th><abbr title="Trend">T</abbr></th>
      <th>Ref.</th>

      <th colspan="2">Size&amp;Unit</th>
      <th colspan="2">%MS</th>
      <th><abbr title="Trend">T</abbr></th>
      <th>Ref.</th>

      <th>Area</th>
      <th colspan="2">%MS</th>
      <th>Qual.</th>
      <th><abbr title="Trend">T</abbr></th>
      <th>Suitable</th>

      <th colspan="2">Curr CS</th>
      <th><abbr title="Trend">T</abbr></th>
      <th>Prev CS</th>
      <th>Nat of ch</th>

      <th>Range</th>
      <th title="%GR">%MS</th>
      <th>Distrib.</th>
      <th title="%GD">%MS</th>
    </tr>
    </thead>
    <tbody>
    {% for row in objects %}
    {% set visible = can_view(row, restricted_countries) %}
    {% set qa_errors = record_errors(row) %}
    <tr {% if row.is_assesm %}class="assesm"{% endif %}>
      <td>{{ row.eu_country_code }}</td>
      <td>{{ row.region }}</td>

      {% if not visible %}
      <td colspan="4">
        {{ row.eu_country_code }} has provided a report to the European Commission under Article 17
      </td>
      {% else %}

      {#- Range columns -#}
      {% include 'summary/species/content/range.html' with context %}

      {#- Population columns -#}
      {% include 'summary/species/content/population.html' with context %}

      {#- Habitat columns -#}
      {% include 'summary/species/content/habitat.html' with context %}

      {#- Prospects -#}
      {% include 'summary/species/content/future_prospects.html' with context %}

      {#- Overall assessment -#}
      {% include 'summary/species/content/overall.html' with context %}

      {#- Grided maps columns -#}
      {% include 'summary/species/content/grided_maps.html' with context %}

      {# Padding #}
      <td colspan="5"></td>
      {% endif %}
    </tr>
    {% endfor %}
    </tbody>

    <thead>
    <tr class="section-header">
      <th colspan="35">
        Automatic assessments
        <button onclick="$('#automatic_body').toggle()">show/hide</button>
      </th>
    </tr>
    </thead>
    <tbody id="automatic_body" class="hidden">
    {% for row in auto_objects %}
    <tr>
      <td title="{{ ASSESSMENT_DETAILS.get(row.assessment_method, '') }}">
        {{ row.assessment_method or 'N/A' }}
      </td>
      <td>
        {{ row.region or 'N/A' }}
      </td>

      {# Range #}
      {% include 'summary/species/auto/range.html' %}

      {# Population #}
      {% include 'summary/species/auto/population.html' %}

      {# Habitat #}
      {% include 'summary/species/auto/habitat.html' %}

      {# Prospects #}
      {% include 'summary/species/auto/future_prospects.html' %}

      {# Overall #}
      {% include 'summary/species/auto/overall.html' %}

      {# Grided #}
      {% include 'summary/species/auto/grided_maps.html' %}

      {# Padding #}
      <td colspan="5"></td>
    </tr>
    {% endfor %}
    </tbody>

    {# Add manual assessment #}
    <thead>
      <tr>
        <th rowspan="2"></th>
        <th rowspan="2">Reg</th>
        <th colspan="5">Range</th>
        <th colspan="6">Population</th>
        <th colspan="6">Habitat for the species (km<sup>2</sup>)</th>
        <th colspan="2"><abbr title="Future prospects">FP</abbr></th>
        <th colspan="5">Overall assessment</th>
        <th colspan="2">Contrib. target 1</th>

        <th colspan="2"></th>
        <th colspan="5"></th>
      </tr>
      <tr>
        <th>Area</th>
        <th><abbr title="Method">M</abbr></th>
        <th><abbr title="Conclusion">C</abbr></th>
        <th><abbr title="Trend">T</abbr></th>
        <th>Ref.</th>

        <th>Size</th>
        <th>Unit</th>
        <th><abbr title="Method">M</abbr></th>
        <th><abbr title="Conclusion">C</abbr></th>
        <th><abbr title="Trend">T</abbr></th>
        <th>Ref.</th>

        <th>Area</th>
        <th><abbr title="Method">M</abbr></th>
        <th><abbr title="Conclusion">C</abbr></th>
        <th>{# Qual. #}</th>
        <th><abbr title="Trend">T</abbr></th>
        <th>Suitable</th>

        <th><abbr title="Method">M</abbr></th>
        <th><abbr title="Conclusion">C</abbr></th>

        <th><abbr title="Method">M</abbr></th>
        <th><abbr title="Conclusion">C</abbr></th>
        <th><abbr title="Trend">T</abbr></th>
        <th>{# Prev CS #}</th>
        <th>Nat of ch</th>

        <th><abbr title="Method">M</abbr></th>
        <th><abbr title="Conclusion">C</abbr></th>
        <th colspan="2"></th>

        <td colspan="5"></td>
      </tr>
    </thead>
    <tbody>

    </tbody>

    {# Manual assessments - conclusions #}
    <thead>
    <tr class="section-header">
      <th colspan="35">
        ETC/BD biogeographical assessment &amp; users proposed corrections
      </th>
    </tr>
    <tr>
      <th rowspan="2"><abbr title="Decision">Dec.</abbr></th>
      <th rowspan="2">Reg</th>
      <th colspan="5">Range</th>
      <th colspan="6">Population</th>
      <th colspan="6">Habitat for the species (km<sup>2</sup>)</th>
      <th colspan="2" rowspan="2"><abbr title="Future prospects">FP</abbr></th>
      <th colspan="5">Overall assessment</th>
      <th rowspan="2" colspan="2">Contrib. target 1</th>
      <th rowspan="2" colspan="2"></th>

      <th rowspan="2"><abbr title="Comments">Comm.</abbr></th>
      <th rowspan="2">Date</th>
      <th rowspan="2">Name</th>
      <th rowspan="2"><abbr title="Institution">Instit.</abbr></th>
      <th rowspan="2">MS</th>
    </tr>
    <tr>
      <th>Area</th>
      <th colspan="2">%MS</th>
      <th><abbr title="Trend">T</abbr></th>
      <th>Ref.</th>

      <th colspan="2">Size&amp;Unit</th>
      <th colspan="2">%MS</th>
      <th><abbr title="Trend">T</abbr></th>
      <th>Ref.</th>

      <th>Area</th>
      <th colspan="2">%MS</th>
      <th>Qual.</th>
      <th><abbr title="Trend">T</abbr></th>
      <th>Suitable</th>

      <th colspan="2">Curr CS</th>
      <th><abbr title="Trend">T</abbr></th>
      <th>Prev CS</th>
      <th>Nat of ch</th>
    </tr>
    </thead>

    <tbody>
    {% for row in manual_objects %}
    <tr>
      {# MS and region #}
      {% include 'summary/common/manual/ms.html' %}

      {# Range #}
      {% include 'summary/common/manual/range.html' %}

      {# Population #}
      {% include 'summary/species/manual/population.html' %}

      {# Habitat #}
      <td colspan="6"></td>

      {# Prospects #}
      {% include 'summary/species/manual/future_prospects.html' %}

      {# Overall #}
      {% include 'summary/species/manual/overall.html' %}

      {# Contrib #}
      <td colspan="4"></td>

      {# Comments #}
      <td colspan="5"></td>

    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
