{% extends 'layout.html' %}

{% block content %}

  {% include 'filters.html' %}

  <p>Assessments on the <strong>conservation status of the habitat types and species</strong> of Community interest have been carried out in EU27 for the period 2007-2012, compiled as part of the Habitats Directive - Article 17 reporting process. The data summary sheet for species conservation status provides an overview per biogeographical region. Once a selection has been made the conservation status can be visualised in a map view. <br>
  Choose a group, then a species belonging to that group. Optionally, further refine your query by selecting one of the available biogeographical regions for that habitat.</p>

  <p><strong>NOTE:</strong> Texts in blue shows relevant information on mouse over. The conservation status colours are explained on mouse over. Rows in italic shows data not taken into account when performing the assessments (marginal presence, occasional, extinct prior HD, information, etc)</p>

    <table class="table table-bordered">
      <thead>
        <tr>
          <td colspan="6">
            ETC/BD treated member states' data
          </td>
        </tr>
        <tr>
          <td rowspan="2">MS</td>
          <td rowspan="2">Bio</td>
          <td colspan="4">Range</td>
        </tr>
        <tr>
          <td>Surface</td>
          <td>%XR</td>
          <td>Trend</td>
          <td>Ref.</td>
        </tr>
      </thead>
      <tbody>
      {% for row in objects %}
        {% set visible = can_view(row, restricted_countries) %}
        {% set qa_errors = record_errors(row) %}
        <tr {% if not row.is_assesm %}style="font-style:italic"{% endif %}>
          <td>{{ row.eu_country_code }}</td>
          <td>{{ row.region }}</td>

          {% if not visible %}
          <td colspan="4">
            {{ row.eu_country_code }} has provided a report to the European Commission under Article 17
          </td>
          {% else %}
          <td class="text-right">{{ row.range_surface_area|int }}</td>
          <td class="{{ row.conclusion_range }} text-center">{{ row.percentage_range_surface_area|float }}</td>
          <td>{{ row.range_trend }}</td>
          <td>{{ row.complementary_favourable_range_q }}{{ row.complementary_favourable_range|float }}</td>

          <td>TODO: {{ qa_errors }}</td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}
