{% extends layout_template %}


{% block content %}
  <h1>Temporary page to integrate design stuff</h1>

<!-- <div class="register-option">
      <stron>Request account</strong>
      <form class="wizard">
        <div class="wizard-step">
          <div class="form-group">
            <label for="full_name">Full Name</label>
            <input  id="full_name" data-check="required" name="full_name" type="text" tabindex="1">
            <p class="input-message" data-check="required">You must enter your full name.</p>
          </div>
          <div class="form-group">
            <label for="institution">Institution</label>
            <input  id="institution" name="institution" type="text" tabindex="2">
          </div>
          <div class="form-group">
            <label for="ms">Member State</label>
            <select id="ms" name="ms" tabindex="3">
              <option></option>
            </select>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" rows="4" tabindex="4">Hello</textarea>
          </div>
        </div>
        <div class="wizard-step">
          <div class="form-group">
            <label for="username">Username</label>
            <input  id="username" data-check="required" name="username" type="text" tabindex="6">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" data-check="match" name="password" id="password" tabindex="7">
          </div>
          <div class="form-group">
            <label for="password_confirm">Confirm password</label>
            <input type="password" data-check="match" id="password_confirm" tabindex="8">
          </div>

        </div>
        <div class="wizard-step">
          <div class="form-group">
            <label for="email">Email</label>
            <input  id="email" name="email" type="text" tabindex="10">
          </div>
          <div class="notify">This is not an email address.<button class="close">x</button></div>
          <p>We will send a bla bla bla bla.</p>
        </div>
        <div>
          <input type="submit" value="Request Account">
        </div>
      </form>
    </div> -->






















<div class="comment-section">

<ul class="cmnt-list no-list">


      <li class="cmnt-notread">

        <div class="clearfix">
          <span class="cmnt-type">Not read</span>
          <button class="btn-text">Mark as read</button>
        </div>

        <p>This is someone else's comment.</p>

        <div class="small clearfix">
          <div class="pull-left">
            <strong>Mr. Someone Else</strong>,
            Institution of Departments in Organizations
          </div>
          <span class="muted pull-right">June 13, 2014</span>
        </div>
      </li>




      <li class="cmnt-notread">
        <div class="clearfix">
          <span class="cmnt-type">Not read</span>
          <button class="btn-text">Mark as read</button>
        </div>
        <p>I haven't read this. This is someone else's comment.</p>
        <div class="small clearfix">
          <div class="pull-left">
            <strong>Mr. Someone Else</strong>,
            Institution of Departments in Organizations
          </div>
          <span class="muted pull-right">December 13, 2013</span>
        </div>
      </li>

      <li class="cmnt-owned">
        <div class="clearfix">
          <span class="cmnt-type">Your comment</span>
          <button class="btn-text">Edit comment</button> |
          <button class="btn-text">Delete</button>
        </div>
        <p>This is my comment. My comment is wider and more visible than the rest. This is because I wan't to see what came before and what comes after. Pretty isn't it?</p>
        <div class="clearfix">
          <span class="small muted pull-right">December 12, 2013</span>
        </div>
      </li>

      <li class="cmnt-read">
        <div class="clearfix">
          <span class="cmnt-type">Read this comment</span>
          <button class="btn-text">Mark as unread</button>
        </div>
        <p>This is someone else's comment.</p>
        <div class="small clearfix">
          <div class="pull-left">
            <strong>Mr. Someone Else</strong>,
            Institution of Departments in Organizations
          </div>
          <span class="muted pull-right">November 13, 2013</span>
        </div>
      </li>

      <li class="cmnt-deleted">
        <div class="clearfix">
          <span class="cmnt-type">Deleted</span>
          <button class="btn-text">Undo</button>
        </div>

        <p>This is a deleted comment.</p>

        <div class="small clearfix">
          <div class="pull-left">
            <strong>Mr. Me Myself</strong>,
            Institution of Departments in Organizations
          </div>
          <span class="muted pull-right">September 5, 2013</span>
        </div>
      </li> 
      <li class="cmnt-notread">
        <div class="clearfix">
          <span class="cmnt-type">Not read</span>
          <button class="btn-text">Mark as read</button>
        </div>
        <p>This is a regular, read comment of someone else's.</p>
        <div class="small clearfix">
          <div class="pull-left">
            <strong>Mr. Someone Else</strong>,
            Institution of Departments in Organizations
          </div>
          <span class="muted pull-right">December 13, 2013</span>
        </div>
      </li> 
    </ul>

    <div class="comment-section">


    	{% endblock content %}