MYSQL_ADDR=

FLASK_APP=

DEBUG=
SECRET_KEY=

DB_SCHEMA=
DB_USER=
DB_PASS=
DB_HOST=
DB_NAME=
BIND_NAME=

ASSETS_DEBUG=
AUTH_DEBUG=

EEA_LDAP_PROTOCOL=ldap://
EEA_LDAP_SERVER=
EEA_LDAP_PORT=

SERVER_NAME=
ART17_SERVER_NAME=

DEMO_SERVER=

PDF_URL_PREFIX=

PDF_DESTINATION=
MAPS_STATIC=

#use this to set a prefix for your app
SCRIPT_NAME=

EEA_PASSWORD_RESET=https://www.eionet.europa.eu/password-reset

MAIL_SERVER=postfix
MAIL_PORT=25
MAIL_USE_TLS=
MAIL_USE_SSL=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SITE_URL=
