MYSQL_ADDR=

DEBUG=
SECRET_KEY=

DB_SCHEMA=
DB_USER=
DB_PASS=
DB_HOST=
DB_NAME=
BIND_NAME=

ASSETS_DEBUG=
AUTH_DEBUG=

AUTH_ZOPE_WHOAMI_URL=
LAYOUT_ZOPE_URL=

AUTH_ZOPE_ACL_MANAGER_URL=
AUTH_ZOPE_ACL_MANAGER_KEY=

EEA_LDAP_SERVER=

SERVER_NAME=
ART17_SERVER_NAME=

DEMO_SERVER=

PDF_URL_PREFIX=

PDF_DESTINATION=
MAPS_STATIC=

#use this to set a prefix for your app
SCRIPT_NAME=
