POSTGRES_ADDR=

FLASK_APP=art17/app.py
FLASK_ENV=development

DEBUG=True
SECRET_KEY=my-secret-key

DB_SCHEMA=postgresql
DB_USER=art17prod
DB_PASS=art17prod
DB_HOST=db
DB_NAME=art17prod
BIND_NAME=art17_eu

ASSETS_DEBUG=True
AUTH_DEBUG=True
ADMIN_INTERFACE=True


EEA_LDAP_PROTOCOL=
EEA_LDAP_SERVER=
EEA_LDAP_PORT=

SERVER_NAME=
ART17_SERVER_NAME=

DEMO_SERVER=

PDF_URL_PREFIX=

PDF_DESTINATION=factsheets/
MAPS_STATIC=

#use this to set a prefix for your app
SCRIPT_NAME=/article17/reports2012

FACTSHEETS_REMOTE_URL=

EEA_PASSWORD_RESET=

MAIL_SERVER=postfix
MAIL_PORT=25
MAIL_USE_TLS=
MAIL_USE_SSL=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SITE_URL=
