/*GENERAL TABLE STYLES*/
.complex_datatable {
	border-collapse: collapse;
	border-color: #b6b6b6;
	border-width: 1px;
	border-style: solid;
}

.complex_datatable td,
.complex_datatable th,
.complex_datatable caption {
	border-top-width: 0;
	border-bottom-width: 0;
	border-left-width: inherit;
	border-right-width: inherit;
	border-style: inherit;
	border-color: transparent;
	padding: 5px 4px;
}

.complex_datatable thead,
.complex_datatable tfoot,
.complex_datatable tbody {
	font-family: 'Roboto Condensed';
	font-weight: 300;
	font-size: 12px;
}

/*LINKS*/
.complex_datatable a {
	color: blue;
	text-decoration: none;
}

.complex_datatable a:hover {
	color: blue;
	text-decoration: underline;
}

.complex_datatable tbody a {
	display: block;
}

/*ABBR*/
abbr {
	color: black;
}

/*CAPTION*/
.complex_datatable caption {
	border-color: inherit;
	font-weight: normal;
	text-align: left;
	border-top-width: 1px;
}

/*TABLE HEADER*/
.complex_datatable thead tr:first-child,
.complex_datatable .thead tr:first-child {
	border-top-width: 2px;
}

.complex_datatable thead th,
.complex_datatable thead td,
.complex_datatable .thead th,
.complex_datatable .thead td {
	font-weight: 500;
	color: black;
	border: 1px solid #b6b6b6;
	background: #f6f6f6;
}



/*CELLS*/
.complex_datatable td,
.complex_datatable th {
	white-space: nowrap;
}

.complex_datatable tbody th a,
.complex_datatable tbody td:first-child a {
	font-weight: 300;
	text-align: left;
	background: none;
	max-width: 100px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/*ROWS*/
.complex_datatable tbody tr:nth-child(3n+0) {
	border-bottom: 1px solid #ddd;
}

.complex_datatable tbody tr:hover {
	background-color: #f6f6f6;
}

/*FORM ROW*/
.complex_datatable .form_row:first-child {
	border-top: 3px solid #366888;
}

.complex_datatable .form_row:hover {
	background-color: transparent;
}

.complex_datatable .form_row td {
	white-space: normal;
	padding-left: 0;
	padding-right: 0;
	border: 1px solid #7cadcc;
	background: #7cadcc;
}

.complex_datatable .form_row select,
.complex_datatable .form_row input {
	border: 1px solid #366888;
}

.complex_datatable .form_row button {
	border-color: #366888;
}

.complex_datatable .form_row select,
.complex_datatable .form_row input {
	display: block;
	min-width: 100%;
	margin-bottom: 1px;
	font: inherit;
}

/*FORM CELL*/
.complex_datatable .form_cell {
	white-space: normal;
	padding-left: 1px;
	padding-right: 1px;
}

.complex_datatable .form_cell select,
.complex_datatable .form_cell input {
	display: block;
	min-width: 100%;
	font: inherit;
}




/*COLUMNS*/
.complex_datatable .col_border {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.complex_datatable .col_border_left {
	border-left: 1px solid #ddd;
}

.complex_datatable .col_border_right {
	border-right: 1px solid #ddd;
}

/* Conclusion */
.conclusion > * {
	display: inline-block;
	*zoom: 1;
	padding: 1px 2px;
	margin: -1px 0 -3px -3px;
	text-align: center;
	border-color: transparent;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	min-width: 100%;
	min-height: 16px;
	vertical-align: baseline;
}

.conclusion > * > a {
	color: inherit;
	padding: 1px 2px;
	margin: -2px -3px;
	border-radius: 2px;
	border: 1px solid transparent;
	text-decoration: none;
	display: block;
}

.conclusion > * > a:hover {
	color: inherit;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.25);
	border-color: blue;
}
/* Conclusion Types */
.FV > * {
	color: #000;
	border-color: #639500;
	background-color: #9aca3b;
}

.FVU > * {
	color: #000;
	border-color: #639500;
	background-color: #9aca3b;
}

.U1 > * {
	color: #000;
	border-color: #b05f00;
	background-color: #e69800;
}

.U1U > * {
	color: #000;
	border-color: #b05f00;
	background-color: #e69800;
}

.U1M > * {
	color: #000;
	border-color: #b05f00;
	background-color: #e69800;
}

.U1P > * {
	color: #000;
	border-color: #b05f00;
	background-color: #e69800;
}

.U2 > * {
	color: #000;
	border-color: #742c2c;
	background-color: #eb6847;
}

.U2U > * {
	color: #000;
	border-color: #742c2c;
	background-color: #eb6847;
}

.U2M > * {
	color: #000;
	border-color: #742c2c;
	background-color: #eb6847;
}

.U2P > * {
	color: #000;
	border-color: #742c2c;
	background-color: #eb6847;
}

.XX > * {
	color: #000;
	border-color: #888;
	background-color: #b4b4b4;
}

.XXU > * {
	color: #000;
	border-color: #888;
	background-color: #b4b4b4;
}

.XU > * {
	color: #000;
	border-color: #888;
	background-color: #b4b4b4;
}

.XUU > * {
	color: #000;
	border-color: #888;
	background-color: #b4b4b4;
}

.NA > * {
	color: #000;
	border-color: #4774c7;
	background-color: #78bbee;
}

.assesm {
	color: #666666 !important;
	font-style: italic;
}

/* Legend */
.legend {
	margin: 24px 0;
}
.legend dl {
	float: left;
	margin: 0;
	padding: 0;
}

.legend dt,
.legend dd {
	float: left;
}

.legend dt {
	font-family: 'Roboto Condensed';
	font-weight: 300;
	margin: 0;
}

.legend dd {
	margin: 0 18px 0 6px;
	line-height: 1;
}

.legend .conclusion {
	margin-top: -4px;
}

.legend strong {
	display: block;
	margin-right: 18px;
	float: left;
}
.legend strong:after{
	content: ":";
}

/* added */
.inline-form {
	display: inline-block;
	border: 1px solid #b6b6b6;
  background-color: #fafafa;
  padding: 12px;
	margin-bottom: 12px;
}

.form_group:before,
.form_group:after {
	display:table;
	content:" ";
}

.form_group:after{
	clear:both;
}

.form_group {
	float: left;
	margin-right: 6px;
}

.form_group label {
	display: block;
	margin-bottom: 6px;
	white-space: nowrap;
}

.offset_top_label {
	float: left;
	margin-top: 22px;
}

.form_group input,
.form_group select {
	width: 100%;
	max-width: 200px;
}



.hidden {
    display: none!important;
}

.button_text {
	display: inline;
	background: none;
	padding: 0;
	border: 0;
	color: blue;
	font-weight: normal;
}

.button_text:hover {
	background: none;
	text-decoration: underline;
}


/* popout */
.popout {
	display: block;
	position: relative;
}

.complex_datatable td .popout {
	margin: -5px -4px;
	padding: 5px 4px;
}

.details {
	display: none;
	position: absolute;
	bottom: 100%;
	right:-1px;

	font-family: "Nimbus sans L", Helvetica, Arial, Verdana, sans-serif;
	line-height: 24px;
	color: #333;
	padding: 12px;
	border: 1px solid #ddd;
	background: #fff;
}

.details hr {
	height: 1px;
	margin: 12px 0;
	border: 0;
	background: #ddd;
}

.details.visible {
	display: block;
}


.details .close {
	display: block;
	float: right;
}



.close {
	padding: 0;
	height: 16px;
	width: 16px;
	border: 0;
	background: transparent;
}

.close:hover {
	background: transparent;
}

/* Helpers */
.clearfix:before,
.clearfix:after {
	display:table;
	content:" ";
}

.clearfix:after{
	clear:both;
}

.no-list {
	list-style-type: none!important;
	padding-left: 0!important;
	margin: 0!important;
}

.muted {
	color: #888;
}

/* User registration */
#registration {

}

.register-choice {
	float: left;
	/*max-width: 400px;
	width: 200px;*/
	min-height: 250px;
	padding: 12px;
	border: 1px solid #ddd;
}

/*.register-choice:hover {
	border-color: #ccc;
	background: #fafafa;
}*/

.register-choice:first-child {
	margin-right: 18px;
}

.register-choice > small,
.register-choice > strong {
	display: block;
}

.register-choice > hr {
	margin: 12px -12px;
	border: 0;
	height: 1px;
	background: #ddd;
}

.wizard {
	list-style-type: none;
	padding-left: 0;
}

.wizard-step {
	float: left;
	/*display: none;*/
	width: 200px;
	margin: 0 18px;
}

.wizard-step:first-child {
	display: block;
}

.input-message {
	color: red;
	font-size: smaller;
	font-style: italic;
	margin-top:3px;
	margin-bottom: 0;
}

.notification {
	position: relative;
	padding: 6px 18px 6px 6px;
	background: #fafafa;
	border: 1px solid #ddd;
}



.notification .close {
	position: absolute;
	top: 6px;
	right: 6px;
}


.wizard label,
.wizard input[type="text"],
.wizard input[type="password"],
.wizard select,
.wizard textarea {
	display: block;
	width: 100%;
}


.wizard label {
	font-weight: bold;
	margin-bottom: 3px;
}

.wizard label[for] {
	cursor: pointer;
}

.form-group {
	margin-bottom: 12px;
}

.jq-test {
	color: red!important;
	margin: 20px!important;
	background: green!important;
}

.form-error {
	border: 1px solid red!important;
	color: red!important;
}