/*GENERAL TABLE STYLES*/
.complex_datatable {
	border-collapse: collapse;
	border-color: #b6b6b6;
	border-width: 1px;
	border-style: solid;
}

.complex_datatable td,
.complex_datatable th,
.complex_datatable caption {
	border-top-width: 0;
	border-bottom-width: 0;
	border-left-width: inherit;
	border-right-width: inherit;
	border-style: inherit;
	border-color: transparent;
	padding: 6px 5px;
}

.complex_datatable thead,
.complex_datatable tfoot,
.complex_datatable tbody {
	font-family: 'Roboto Condensed';
	font-weight: 300;
	font-size: 12px;
}

/*LINKS*/
.complex_datatable a {
	color: blue;
	text-decoration: none;
}

.complex_datatable a:hover {
	color: blue;
	text-decoration: underline;
}

.complex_datatable tbody a {
	display: block;
}

/*ABBR*/
abbr {
	color: black;
}

/*CAPTION*/
.complex_datatable caption {
	border-color: inherit;
	font-weight: normal;
	border-top-width: 1px;
}

/*TABLE HEADER*/
.complex_datatable thead tr:first-child,
.complex_datatable .thead tr:first-child {
	border-top-width: 2px;
}

.complex_datatable thead th,
.complex_datatable thead td,
.complex_datatable .thead th,
.complex_datatable .thead td {
	font-weight: 500;
	color: black;
	border: 1px solid #b6b6b6;
	background: #f6f6f6;
}


/*CELLS*/
.complex_datatable td,
.complex_datatable th {
	white-space: nowrap;
}

.complex_datatable tbody th a,
.complex_datatable tbody td:first-child a {
	font-weight: 300;
	text-align: left;
	background: none;
	max-width: 100px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/*ROWS*/
.complex_datatable tbody tr:nth-child(3n+0) {
	border-bottom: 1px solid #ddd;
}

.complex_datatable tbody tr:hover {
	background-color: #f6f6f6;
}

/*FORMS*/
.complex_datatable .form_row:first-child {
	border-top: 3px solid #366888;
}

.complex_datatable .form_row:hover {
	background-color: transparent;
}

.complex_datatable .form_row td {
	white-space: normal;
	padding-left: 0;
	padding-right: 0;
	border: 1px solid #7cadcc;
	background: #7cadcc;
}

.complex_datatable .form_row select,
.complex_datatable .form_row input {
	display: block;
	min-width: 100%;
	border: 1px solid #366888;
	margin-bottom: 1px;
	font: inherit;
}

.complex_datatable .form_row button {
	border-color: #366888;
}



/*COLUMNS*/
.complex_datatable .col_border {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.complex_datatable .col_border_left {
	border-left: 1px solid #ddd;
}

.complex_datatable .col_border_right {
	border-right: 1px solid #ddd;
}

/*HIGHLIGHTS*/
.FV {
	color: #3c6d28;
	background-color: #b4e79f;
}

td.FVU {
	background-image:url(images/corner-9CB34D.gif);
	background-repeat: no-repeat;
	background-position: top right;
	color: #3c6d28;
	background-color: #b4e79f;
}

.U1 {
	color: #866228;
	background-color: #ffd48c;
}

td.U1U {
	background-image:url(images/corner-D16E43.gif);
	background-repeat: no-repeat;
	background-position: top right;
	color: #866228;
	background-color: #ffd48c;
}

.U1M {
	color: #866228;
	background-color: #ffd48c;
}
.U1P {
	color: #866228;
	background-color: #ffd48c;;
}
.U2 {
	color: #742c2c;
	background-color: #e38686;
}

td.U2U {
	background-image:url(images/corner-C22C15.gif);
	background-repeat: no-repeat;
	background-position: top right;
	color: #742c2c;
	background-color: #e38686;
}

.U2M {
	color: #742c2c;
	background-color: #e38686;
}

.U2P {
	color: #742c2c;
	background-color: #e38686;
}

.XX {
	color: inherit;
	background-color: #eee;
}

td.XXU {
	background-image:url(images/corner-6F6C66.gif);
	background-repeat: no-repeat;
	background-position: top right;
	color: inherit;
	background-color: #eee;
}

td.XU {
	background-image:url(images/corner-D16E43.gif);
	background-repeat: no-repeat;
	background-position: top right;
	color: inherit;
	background-color: #eee;
}

td.XUU {
	background-image:url(images/corner-316ac5.gif);
	background-repeat: no-repeat;
	background-position: top right;
	color: inherit;
	background-color: #eee;
}

.NA {
	color: #ccc;
	background-color: #eee;
}
.assesm {
	color: #666666 !important;
	font-style: italic;
}

/* added */
#filterform fieldset {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    background-color: #fafafa;
}
.hidden {
    display: none;
}