/*GENERAL TABLE STYLES*/
.complex_datatable {
	border-collapse: collapse;
	border-color: #b6b6b6;
	border-width: 1px;
	border-style: solid;
}

.complex_datatable td,
.complex_datatable th,
.complex_datatable caption {
	border-top-width: 0;
	border-bottom-width: 0;
	border-left-width: inherit;
	border-right-width: inherit;
	border-style: inherit;
	border-color: transparent;
	padding: 5px 4px;
}

.complex_datatable thead,
.complex_datatable tfoot,
.complex_datatable tbody {
	font-family: 'Roboto Condensed';
	font-weight: 300;
	font-size: 12px;
}

/*LINKS*/
.complex_datatable a {
	color: blue;
	text-decoration: none;
}

.complex_datatable a:hover {
	color: blue;
	text-decoration: underline;
}

.complex_datatable tbody a {
	display: block;
}

/*ABBR*/
abbr {
	color: black;
}

/*CAPTION*/
.complex_datatable caption {
	border-color: inherit;
	font-weight: normal;
	text-align: left;
	border-top-width: 1px;
}

/*TABLE HEADER*/
.complex_datatable thead tr:first-child,
.complex_datatable .thead tr:first-child {
	border-top-width: 2px;
}

.complex_datatable thead th,
.complex_datatable thead td,
.complex_datatable .thead th,
.complex_datatable .thead td {
	font-weight: 500;
	color: black;
	border: 1px solid #b6b6b6;
	background: #f6f6f6;
}


/*CELLS*/
.complex_datatable td,
.complex_datatable th {
	white-space: nowrap;
}

.complex_datatable tbody th a,
.complex_datatable tbody td:first-child a {
	font-weight: 300;
	text-align: left;
	background: none;
	max-width: 100px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/*ROWS*/
.complex_datatable tbody tr:nth-child(3n+0) {
	border-bottom: 1px solid #ddd;
}

.complex_datatable tbody tr:hover {
	background-color: #f6f6f6;
}

/*FORMS*/
.complex_datatable .form_row:first-child {
	border-top: 3px solid #366888;
}

.complex_datatable .form_row:hover {
	background-color: transparent;
}

.complex_datatable .form_row td {
	white-space: normal;
	padding-left: 0;
	padding-right: 0;
	border: 1px solid #7cadcc;
	background: #7cadcc;
}

.complex_datatable .form_row select,
.complex_datatable .form_row input {
	display: block;
	min-width: 100%;
	border: 1px solid #366888;
	margin-bottom: 1px;
	font: inherit;
}

.complex_datatable .form_row button {
	border-color: #366888;
}



/*COLUMNS*/
.complex_datatable .col_border {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.complex_datatable .col_border_left {
	border-left: 1px solid #ddd;
}

.complex_datatable .col_border_right {
	border-right: 1px solid #ddd;
}

/*HIGHLIGHTS*/
.FV > span,
.FVU > span,
.U1 > span,
.U1U > span,
.U1M > span,
.U1P > span,
.U2 > span,
.U2U > span,
.U2M > span,
.U2P > span,
.XX > span,
.XXU > span,
.XU > span,
.XUU > span,
.NA > span  {
	display: inline-block;
	*zoom: 1;
	padding: 1px 2px;
	margin: -1px 0 -3px -3px;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	min-width: 100%;
	min-height: 16px;
	vertical-align: baseline;
}

/*.FV {
	color: #3c6d28;
	background-color: #b4e79f;
}*/

.FV > span {
	color: #3c6d28;
	border-color: #3c6d28;
	background-color: #b4e79f;
}

.FVU > span {
	color: #3c6d28;
	border-color: #3c6d28;
	background-color: #b4e79f;
}

td.FVU {
	background-image:url(images/corner-9CB34D.gif);
	background-repeat: no-repeat;
	background-position: top right;
	/*color: #3c6d28;
	background-color: #b4e79f;*/
}

.U1 > span {
	color: #866228;
	border-color: #866228;
	background-color: #ffd48c;
}

/*.U1 {
	color: #866228;
	background-color: #ffd48c;
}*/

.U1U > span {
	color: #866228;
	border-color: #866228;
	background-color: #ffd48c;
}

td.U1U {
	background-image:url(images/corner-D16E43.gif);
	background-repeat: no-repeat;
	background-position: top right;
	/*color: #866228;
	background-color: #ffd48c;*/
}

.U1M > span {
	color: #866228;
	border-color: #866228;
	background-color: #ffd48c;
}

/*.U1M {
	color: #866228;
	background-color: #ffd48c;
}*/

.U1P > span {
	color: #866228;
	border-color: #866228;
	background-color: #ffd48c;
}

/*.U1P {
	color: #866228;
	background-color: #ffd48c;;
}*/

.U2 > span {
	color: #742c2c;
	border-color: #742c2c;
	background-color: #e38686;
}

/*.U2 {
	color: #742c2c;
	background-color: #e38686;
}*/

.U2U > span {
	color: #742c2c;
	border-color: #742c2c;
	background-color: #e38686;
}

td.U2U {
	background-image:url(images/corner-C22C15.gif);
	background-repeat: no-repeat;
	background-position: top right;
/*	color: #742c2c;
	background-color: #e38686;*/
}

.U2M > span {
	color: #742c2c;
	border-color: #742c2c;
	background-color: #e38686;
}

/*.U2M {
	color: #742c2c;
	background-color: #e38686;
}*/

.U2P > span {
	color: #742c2c;
	border-color: #742c2c;
	background-color: #e38686;
}

/*.U2P {
	color: #742c2c;
	background-color: #e38686;
}*/

.XX > span {
	/*color: #bbb;*/
	border-color: #999;
	background-color: #fff;
}

/*.XX {
	color: inherit;
	background-color: #eee;
}*/

.XXU > span {
	/*color: #bbb;*/
	border-color: #999;
	background-color: #fff;
}

td.XXU {
	background-image:url(images/corner-6F6C66.gif);
	background-repeat: no-repeat;
	background-position: top right;
	/*color: inherit;
	background-color: #eee;*/
}

.XU > span {
	/*color: #bbb;*/
	border-color: #999;
	background-color: #fff;
}

td.XU {
	background-image:url(images/corner-D16E43.gif);
	background-repeat: no-repeat;
	background-position: top right;
/*	color: inherit;
	background-color: #eee;*/
}

.XUU > span {
	/*color: #bbb;*/
	border-color: #999;
	background-color: #fff;
}

td.XUU {
	background-image:url(images/corner-316ac5.gif);
	background-repeat: no-repeat;
	background-position: top right;
	border-color: #999;
	background-color: #fff;
}

.NA > span {
	/*color: #bbb;*/
	border-color: #999;
	background-color: #fff;
}

/*.NA {
	color: #ccc;
	background-color: #eee;
}*/

.assesm {
	color: #666666 !important;
	font-style: italic;
}

/* added */
#filterform {
	display: inline-block;
	border: 1px solid #b6b6b6;
  background-color: #fafafa;
  padding: 12px;
	margin-bottom: 12px;
}

.form_group:before,
.form_group:after {
	display:table;
	content:" ";
}

.form_group:after{
	clear:both;
}

.form_group {
	float: left;
	margin-right: 6px;
}

.form_group label {
	display: block;
	margin-bottom: 6px;
	white-space: nowrap;
}

.offset_top_label {
	float: left;
	margin-top: 22px;
}

.form_group input,
.form_group select {
	width: 100%;
	max-width: 200px;
}

.clearfix:before,
.clearfix:after {
	display:table;
	content:" ";
}

.clearfix:after{
	clear:both;
}

.hidden {
    display: none;
}

.button_text {
	display: inline;
	background: none;
	padding: 0;
	border: 0;
	color: blue;
	font-weight: normal;
}

.button_text:hover {
	background: none;
	text-decoration: underline;
}