@charset 'UTF-8';

/* Generic */
body {
  font-family: sans-serif;
  line-height: 1.4;
}
h1, h2, h3 {
  color: #005e9c;
  font-weight: normal;
}
a {
  text-decoration: none;
} a:after {
  content: '(' attr(href) ')';
  word-wrap: break-word;
  word-break: break-all;
  text-decoration: underline;
}

/* Page */
@page {
  size: A4 portrait;
  margin: .8cm 1.8cm;
}
@page :left {
  margin-right: 1.8cm;
  margin-left: .8cm;
}
@page :right {
  margin-left: 1.8cm;
  margin-right: .8cm;
}

#page-header {
  display: block;
  position: running(header);
}
#page-footer {
  display: block;
  position: running(footer);
}

/* Cover header */
.cover-header img {
  height: 1.8cm;
  width: auto;
  vertical-align: middle
}
.cover-header em {
  display: inline-block;
  border-left: 1pt solid #ccc;
  padding: .25cm .5cm;
  margin-left: .5cm;
  vertical-align: middle;
}

/* Section header */
header {
  margin-top: 24pt;
  margin-bottom: 12pt;
  page-break-inside: avoid;
}
header h2,
header .subtitle {
  margin-top: 0;
  margin-bottom: 0;
}
.subtitle {
  font-size: larger;
  font-style: italic;
}
/* Table simple */
.table-simple {
  border-collapse: collapse;
}
.table-simple caption,
.table-simple th,
.table-simple td {
  padding: 2pt 4pt;
}
.table-simple caption {
  font-weight: bold;
  padding-bottom: 1em;
}
.table-simple thead th {
  border-bottom: 2px solid;
}
.table-simple tbody tr:nth-child(odd) th,
.table-simple tbody tr:nth-child(odd) td {
  background-color: #eee;
}
.table-simple tbody th {
  text-align: left;
}
/* COMPLEX DATATABLE */
.complex_datatable {
  border-collapse: collapse;
  border-color: #ccc;
  border-width: 1pt;
  border-style: solid;
  margin: 1em 0;
}
.complex_datatable td,
.complex_datatable th,
.complex_datatable caption {
  padding: 3pt 5pt;
  text-align: center;
}
.complex_datatable caption { 
  font-weight: normal;
  text-align: left;
}
.complex_datatable thead th,
.complex_datatable thead td {
  border: 1pt solid #ccc;
  background: #eee;
}
.complex_datatable tr:nth-child(3n+0) td {
  border-bottom: 1pt solid #ccc;
}
.complex_datatable td {
  vertical-align: top;
}
.complex_datatable .border {
  border-left: 1pt solid #ccc;
  border-right: 1pt solid #ccc;
}
.complex_datatable .border_left {
  border-left: 1pt solid #ccc;
}
.complex_datatable .border_right {
  border-right: 1pt solid #ccc;
}
/* CONCLUSION */
.conclusion {
  display: inline-block;
  padding: 0 3pt;
  margin: 0 3pt;
  text-align: center;
  border-width: 1pt;
  border-style: solid;
  border-radius: 2pt;
  min-height: 1.4em;
  vertical-align: middle;
  position: relative;
  color: #000;
  width: 20pt;
}
/*td .conclusion {
  min-width: 100%;
}*/
.conclusion.inline {
  margin: 0;
  vertical-align: top;
  min-width: 42px;
  min-height: initial;
  text-align: left;
}
/* CONCLUSION TYPES */
.FV .conclusion,
.FV.conclusion {
  color: #000;
  border-color: #639500;
  background-color: #9aca3b;
}
.FVU .conclusion,
.FVU.conclusion {
  color: #000;
  border-color: #639500;
  background-color: #9aca3b;
}
.U1 .conclusion,
.U1.conclusion {
  color: #000;
  border-color: #b05f00;
  background-color: #e69800;
}
.U1U .conclusion,
.U1U.conclusion {
  color: #000;
  border-color: #b05f00;
  background-color: #e69800;
}
.U1M .conclusion,
.U1M.conclusion {
  color: #000;
  border-color: #b05f00;
  background-color: #e69800;
}
.U1P .conclusion,
.U1P.conclusion {
  color: #000;
  border-color: #b05f00;
  background-color: #e69800;
}
.U2 .conclusion,
.U2.conclusion {
  color: #000;
  border-color: #742c2c;
  background-color: #eb6847;
}
.U2U .conclusion,
.U2U.conclusion {
  color: #000;
  border-color: #742c2c;
  background-color: #eb6847;
}
.U2M .conclusion,
.U2M.conclusion {
  color: #000;
  border-color: #742c2c;
  background-color: #eb6847;
}
.U2P .conclusion,
.U2P.conclusion {
  color: #000;
  border-color: #742c2c;
  background-color: #eb6847;
}
.XX .conclusion,
.XX.conclusion {
  color: #000;
  border-color: #888;
  background-color: #b4b4b4;
}
.XXU .conclusion,
.XXU.conclusion {
  color: #000;
  border-color: #888;
  background-color: #b4b4b4;
}
.XU .conclusion,
.XU.conclusion {
  color: #000;
  border-color: #888;
  background-color: #b4b4b4;
}
.XUU .conclusion,
.XUU.conclusion {
  color: #000;
  border-color: #888;
  background-color: #b4b4b4;
}
.NA .conclusion,
.NA.conclusion {
  color: #000;
  border-color: #4774c7;
  background-color: #78bbee;
}
.assesm {
  color: #666666 !important;
  font-style: italic;
}

/* Table */
.cell-code {
  font-family: monospace;
  font-size: 120%;
}
.cell-number {
  text-align: right;
}

/* Cover summary */
.cover-summary {
  border: 1pt solid #ccc;
  border-spacing: 3pt;
  text-align: left;
  border-radius: 3pt;
}
.cover-summary th,
.cover-summary td {
  padding: 2pt 4pt;
  min-width: 120pt;
}
.cover-summary thead th {
  border-bottom: 1pt solid #ccc;
  text-align: center;
}
.cover-summary tbody th {
  text-transform: capitalize;
  font-weight: normal;
}
.cover-summary tbody td {
  font-weight: bold;
}

.page-break {
  page-break-after: always;
}
