<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      {{ inject_static_file('css/print-factsheet.css') }}
    </style>
    <style>
      .header {
          text-align: right;
      }
      .title {
          font-size: 15pt;
          line-height: 20pt;
      }
      .subtitle {
          font-size: 10pt;
      }
    </style>
    <script>
      function subst() {
        var vars = {};

        var valuePairs = document.location.search.substring(1).split('&');
        for (var i in valuePairs) {
          var valuePair = valuePairs[i].split('=', 2);
          vars[valuePair[0]] = decodeURIComponent(valuePair[1]);
        }
        var header = document.getElementsByClassName('header')[0];
        var header_first = document.getElementsByClassName('header-first')[0];
        if (vars['page'] == 1) {
            header.style.display = 'none';
            header_first.style.display = 'block';
        } else {
            header.style.display = 'block';
            header_first.style.display = 'none';
        }
      }
    </script>
  </head>
  <body onload="subst()">
    <div class="header">
      <div class="title">{{ label }}: {{ subject }}</div>
      <div class="subtitle">Report under the Article 17 of the Habitats Directive</div>
    </div>
    <div class="header-first">
      <div class="logo">
        <img src="{{ url_for('static', filename='img/eea-logo-print.jpg', _external=True) }}">
        <strong>European Environment Agency</strong><br>
        <i>European Topic Centre <br>on Biological Diversity</i>
      </div>
      <p>Report under the Article 17 of the Habitats Directive<br>Period {{ period }}</p>
    </div>
  </body>
</html>
