<p><strong>Ten most frequently reported ‘highly important’ conservation measures
</strong></p>

<table class='table-simple'>
  <thead>
    <tr>
      <th>Code</th>
      <th>Measure</th>
      <th>% reports where noted</th>
    </tr>
  </thead>
  <tbody>
  {% if measures.rowcount %}
    {% for row in measures %}
      <tr>
        <td>{{ row['code'] }}</td>
        <td>{{ row['activity'] }}</td>
        <td>{{ row['pc'] }}</td>
      </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td colspan="3">No ‘highly important’ measures were reported.</td>
    </tr>
  {% endif %}
  </tbody>
</table>

<p>This information is derived from the Member State national reports submitted
to the European Commission under Article 17 of the Habitats Directive in 2013
and covering the period 2007-2012. More detailed information, including the MS
reports, is available at: <a href="{{ url }}">{{ url }}</a></p>
