<form id="filterform" class="inline-form" name="filterform" method="get">

  <div class="form_group">
    <label>{{ summary_filter_form.period.label }}</label>
    {{ summary_filter_form.period }}
  </div>

  <div class="form_group">
    <label>{{ summary_filter_form.group.label }}</label>
    {{ summary_filter_form.group(**{'data-href': groups_url}) }}
  </div>

  <div class="form_group">
    <label>{{ summary_filter_form.subject.label }}</label>
    {{ summary_filter_form.subject(**{'data-href': subjects_url}) }}
  </div>

  <div class="form_group">
    <label>{{ summary_filter_form.region.label }}</label>
    {{ summary_filter_form.region(**{'data-href': regions_url}) }}
  </div>

  <button type="submit" class="offset_top_label">Filter</button>
</form>