<form id="filterform" name="filterform" method="get">

  <fieldset>
    <legend>{{ summary_filter_form.period.label }}</legend>
    {{ summary_filter_form.period }}
  </fieldset>

  <fieldset>
    <legend>{{ summary_filter_form.group.label }}</legend>
    {{ summary_filter_form.group(**{'data-href': groups_url}) }}
  </fieldset>

  <fieldset>
    <legend>{{ summary_filter_form.subject.label }}</legend>
    {{ summary_filter_form.subject(**{'data-href': subjects_url}) }}
  </fieldset>

  <fieldset>
    <legend>{{ summary_filter_form.region.label }}</legend>
    {{ summary_filter_form.region(**{'data-href': regions_url}) }}
  </fieldset>

  <button type="submit">Filter</button>
</form>