{% extends layout_template %}

{% block content %}

  <p>Assessments on the conservation status of the habitat types and species of Community interest have been carried out in EU25 for the period 2001-2006 and in EU 27 for the period 2007-2012, compiled as part of the Habitats Directive - Article 17 reporting process. The data summary sheet for species conservation status provides an overview per biogeographical region. Once a selection has been made the conservation status can be visualised in a map view.
  Choose a period, a group, then a species belonging to that group. Optionally, further refine your query by selecting one of the available biogeographical regions for that habitat.
  </p>

  <p><strong>NOTE</strong>: Texts in blue shows relevant information on mouse over. The conservation status colours are explained on mouse over. Rows in italic shows data not taken into account when performing the assessments (marginal presence, occasional, extinct prior HD, information, etc)
  </p>

  {% include 'summary/filters.html' %}

    {% set colspan_all=23 if region else 24 %}
    {% if current_selection %}

    <div>
        <button type="button" id="wikibutton" url="{{ wiki_url }}">
            View data sheet info</button>
    </div>

    {% include 'common/table_legend.html' %}

    <table class="complex_datatable datatable">
      <caption>
      <b>Current selection</b>:
      {{ current_selection|join(', ') }}.
      {% if annexes %}
          <b>Annexes</b> {{ annexes|join(', ') }}.
      {% endif %}
      {% set show_all_url=url_for(progress_endpoint,
          period=period,
          group=group,
          conclusion='overall assessment') %}
      <a href="{{ show_all_url }}">Show all {{ group }}</a>
      </caption>

      <colgroup>
        <col span="1" class="col_border">
        {% if not region %}<col span="1" class="col_border">{% endif %}

        <col span="4" class="col_border_left">
        <col span="4" class="col_border_left">
        <col span="1" class="col_border">
        <col span="1" class="col_border">
        <col span="1" class="col_border">
        <col span="4" class="col_border_left">
        <col span="2" class="col_border_left">

        <col span="5" class="col_border">
      </colgroup>

      {% include 'common/habitat_table_header.html' with context %}

      <tbody>
      {% for row in objects %}
        {% set visible = can_view(row, restricted_countries) %}
        {% set qa_errors = record_errors(row) %}
        <tr {% if row.is_assesm %}class="assesm"{% endif %}>
          <td>
            {% set original_url=get_original_record_url(row) %}
            {% set country_title = get_title_for_habitat_country(row) %}
            <a class="popup-btn" title="{{ country_title|join('') }}" data-title="Factsheet" href="{{ original_url }}">
              {{ row.eu_country_code }}
            </a>
          </td>
          {% if not region %}<td>{{ row.region }}</td>{% endif %}

          {% if not visible %}
          <td colspan="4">
            {{ row.eu_country_code }} has provided a report to the European Commission under Article 17
          </td>
          {% else %}

          {#- Range columns -#}
          {% include 'summary/habitat/content/range.html' with context %}

          {#- Area columns -#}
          {% include 'summary/habitat/content/area.html' with context %}

          {#- Struct and funct. -#}
          {% include 'summary/habitat/content/struct_func.html' with context %}

          {#- Prospects -#}
          {% include 'summary/habitat/content/future_prosp.html' with context %}

          {#- Overall asses. -#}
          {% include 'summary/habitat/content/overall_assestment.html' with context %}

          {#- Grided maps columns -#}
          {% include 'summary/habitat/content/grided_maps.html' with context %}

          {# padding #}
          <td colspan="7"></td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>

      <tbody class="thead">
        <tr class="section-header">
          <th colspan="{{ colspan_all }}">
            <button onclick="$('#automatic_body').toggleClass('hidden')">Show/Hide Automatic assessments</button>
          </th>
        </tr>
      </tbody>
      <tbody id="automatic_body" class="hidden">
      {% for row in auto_objects %}
      <tr>
        {% include 'summary/common/auto/ms.html' with context %}

        {# Range #}
        {% include 'summary/habitat/auto/range.html' with context %}

        {# Area #}
        {% include 'summary/habitat/auto/area.html' with context %}

        {# Struct Func Overall#}
        {% include 'summary/habitat/auto/struct_funct.html' with context %}

        {# Future prospects #}
        {% include 'summary/habitat/auto/future_prosp.html' with context %}

        {#- Overall asses. -#}
        {% include 'summary/habitat/auto/overall_assestment.html' with context %}

        {#- Grided maps columns -#}
        {% include 'summary/habitat/auto/grided_maps.html' with context %}

        {# padding #}
        <td colspan="7"></td>
      </tr>
      {% endfor %}
      </tbody>

      <tbody class="thead">
        <tr class="section-header">
          <th colspan="{{ colspan_all }}">
           ETC/BD biogeographical assessment &amp; users proposed corrections
          </th>
        </tr>
        <tr>
          <th rowspan="2">MS</th>
          {% if not region %}<th rowspan="2">Reg</th>{% endif %}
          <th colspan="4">Range</th>
          <th colspan="4">Area</th>
          <th rowspan="2">Struct & func.</th>
          <th rowspan="2">Future prosp.</th>
          <th rowspan="2">Overall asses.</th>

          <th colspan="4" rowspan="2"></th>

          <th rowspan="2"><abbr title="Comments">Comm.</abbr></th>
          <th rowspan="2">Date</th>
          <th rowspan="2">Name</th>
          <th rowspan="2"><abbr title="Institution">Instit.</abbr></th>
          <th rowspan="2">MS</th>
        </tr>
        <tr>
          <th>Area</th>
          <th>%XR</th>
          <th><abbr title="Trend">T</abbr></th>
          <th>Ref.</th>

          <th>Area</th>
          <th>%XR</th>
          <th><abbr title="Trend">T</abbr></th>
          <th>Ref.</th>
        </tr>
      </tbody>
      <tbody>
      {% for row in manual_objects %}
      <tr {% if row.deleted %}class="deleted"{% endif %}>
        {# MS and region #}
        {% include 'summary/common/manual/ms.html' %}

        {# Range #}
        {% include 'summary/common/manual/range.html' %}

        {# Area #}
        {% include 'summary/habitat/manual/area.html' %}

        {# Struct Func Overall#}
        {% include 'summary/habitat/manual/future_prosp.html' %}
        {% include 'summary/habitat/manual/struct_func.html' %}
        {% include 'summary/habitat/manual/overall.html' %}


        {# Quality #}
        <td colspan="2"></td>

        {# Actions #}
        {% include 'summary/common/manual/actions.html' with context%}

        {# Comments #}
        {% include 'summary/common/manual/conclusion_details.html' %}

      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p><b>Please select a group and a species.</b></p>
    {% endif %}
{% endblock %}
