{% from '_macros.html' import parse_errors with context %}

  <td {{ parse_errors('range_surface_area', row, qa_errors, '', 'text-right') }}>
    {{ row.range_surface_area|int }}
  </td>
  <td class="{{ CONCLUSION_CLASSES[row.conclusion_range] }} text-center"
      title="{{ COUNTRY_ASSESSMENTS[row.conclusion_range] }}">
    {{ row.percentage_range_surface_area|float }}
  </td>
  <td>{{ row.range_trend }}</td>
  <td {{ parse_errors(['complementary_favourable_range_q',
                       'complementary_favourable_range'],
                       row, qa_errors, '', 'text-right') }}>
      {% set range_q = row.complementary_favourable_range_q or '' %}
      {% set range = row.complementary_favourable_range %}
      {% if range_q or range %}
        {{ range_q }}{{range|int}}
      {% else %}
        N/A
      {% endif %}
  </td>
