{% extends layout_template %}


{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs([
      ('art17', url_for(HOMEPAGE_VIEW_NAME)),
      ('species', None),
      ('summary', None),
    ]) }}
{% endblock %}


{% block content %}
  <p>Assessments on the conservation status of the habitat types and species of Community interest have been carried out in EU25 for the period 2001-2006 and in EU 27 for the period 2007-2012, compiled as part of the Habitats Directive - Article 17 reporting process. The data summary sheet for species conservation status provides an overview per biogeographical region. Once a selection has been made the conservation status can be visualised in a map view.
Choose a period, a group, then a species belonging to that group. Optionally, further refine your query by selecting one of the available biogeographical regions for that habitat.
  </p>

  <p><strong>NOTE</strong>: Texts in blue shows relevant information on mouse over. The conservation status colours are explained on mouse over. Rows in italic shows data not taken into account when performing the assessments (marginal presence, occasional, extinct prior HD, information, etc)
  </p>
  {% include 'summary/filters.html' %}

  {% set colspan_all=28 if region else 29 %}
  {% if current_selection %}

  {% include 'summary/wiki_buttons.html' %}
  {% include 'common/table_legend.html' %}

  <table class="complex_datatable datatable">
    <caption>
      <b>Current selection</b>:
      {{ current_selection|join(', ') }}.
      {% if annexes %}
        <b>Annexes</b> {{ annexes|join(', ') }}.
      {% endif %}
      {% set show_all_url=url_for(progress_endpoint,
          period=dataset.id,
          group=group,
          conclusion='overall assessment') %}
      <a href="{{ show_all_url }}">Show all {{ group }}</a>
    </caption>
    <colgroup>
      <col span="1" class="col_border_right">{% if not region %}
      <col span="1" class="col_border_right">{% endif %}
      {# Range #}
      <col span="1" class="col_border_left">
      <col span="2">
      <col span="1" class="col_border_right">

      {# Population #}
      <col span="1" class="col_border_left">
      <col span="2">
      <col span="1" class="col_border_right">
      {# Habitat #}
      <col span="1" class="col_border_left">
      <col span="3">
      <col span="1" class="col_border_right">
      {# FP #}
      <col span="1" class="col_border">
      {# Overall ass. #}
      <col span="1" class="col_border_left">
      <col span="2">
      <col span="1" class="col_border_right">
      {# Grided maps #}
      <col span="1" class="col_border_left">
      <col span="2">
      <col span="1" class="col_border_right">
      {# Comments #}
      <col span="1" class="col_border_left">
      <col span="3">
      <col span="1" class="col_border_right">
    </colgroup>

    {% include "common/species_table_header.html" with context %}

    <tbody>
    {% for row in objects %}
      {% set visible = can_view(row, restricted_countries) %}
      {% set qa_errors = record_errors(row) %}
      <tr {% if row.is_assesm %}class="assesm"{% endif %}>
        <td>
          {% set original_url=get_original_record_url(row) %}
          {% set country_title = get_title_for_species_country(row) %}
          <a class="popup-btn" title="{{ country_title|join('') }}" data-title="Factsheet" href="{{ original_url }}">
            {{ row.eu_country_code }}
          </a>
        </td>
        {% if not region %}<td>{{ row.region }}</td>{% endif %}

        {% if not visible %}
          <td colspan="2">
            {{ row.eu_country_code }} has provided a report to the European
            Commission under Article 17
          </td>
        {% else %}
          {% include 'summary/species/content/range.html' with context %}
          {% include 'summary/species/content/population.html' with context %}
          {% include 'summary/species/content/habitat.html' with context %}
          {% include 'summary/species/content/future_prospects.html' with context %}
          {% include 'summary/common/content/overall_assessment.html' with context %}
          {% include 'summary/species/content/grided_maps.html' with context %}
          {% include 'summary/species/content/quality.html' with context %}
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>

    <tbody class="thead">
    <tr class="section-header">
      <th colspan="{{ colspan_all }}">
        <button onclick="$('#automatic_body').toggleClass('hidden')">Show/Hide Automatic assessments</button>
      </th>
    </tr>
    </tbody>
    <tbody id="automatic_body" class="hidden">
    {% for row in auto_objects %}
    <tr>
      <td title="{{ ASSESSMENT_DETAILS.get(row.assessment_method, '') }}">
        {{ row.assessment_method or 'N/A' }}
      </td>
      {% if not region %}<td>{{ row.region or 'N/A' }}</td>{% endif %}

      {# Range #}
      {% include 'summary/species/auto/range.html' %}

      {# Population #}
      {% include 'summary/species/auto/population.html' %}

      {# Habitat #}
      {% include 'summary/species/auto/habitat.html' %}

      {# Prospects #}
      {% include 'summary/species/auto/future_prospects.html' %}

      {# Overall #}
      {% include 'summary/common/auto/overall_assessment.html' %}

      {# Grided #}
      {% include 'summary/species/auto/grided_maps.html' %}

      {# Padding #}
      <td colspan="5"></td>
    </tr>
    {% endfor %}
    </tbody>

    {# Manual assessments - conclusions #}
    <tbody class="thead">
    <tr class="section-header">
      <th colspan="{{ colspan_all }}">
        ETC/BD biogeographical assessment &amp; users proposed corrections
      </th>
    </tr>
    <tr>
      <th><abbr title="Decision">Dec.</abbr></th>
      {% if not region %}<th>Reg</th>{% endif %}
      <th>Area</th>
      <th><abbr title="Range conclusion">Range<br/>Concl.</abbr></th>
      <th><abbr title="Trend">T</abbr></th>
      <th>Ref.</th>

      <th>Size&amp;Unit</th>
      <th><abbr title="Population conclusion">Pop.<br/>Concl.</abbr></th>
      <th><abbr title="Trend">T</abbr></th>
      <th>Ref.</th>

      <th>Area</th>
      <th><abbr title="Habitat conclusion">Habitat<br/>Concl.</abbr></th>
      <th></th>
      <th><abbr title="Trend">T</abbr></th>
      <th>Suitable</th>

      <th><abbr title="Future prospects">FP</abbr></th>

      <th>Curr CS<br/>Concl.</th>
      <th><abbr title="Trend">T</abbr></th>
      <th>Prev CS<br/>Concl.</th>
      <th>Nat of ch</th>

      <th colspan="2">Contrib.<br/>target 1</th>
      <th colspan="2"></th>

      <th colspan="5">{# padding #}</th>
    </tr>
    </tbody>
    <tbody>
    {% for row in manual_objects %}
      {% if row != manual_assessment %}
      <tr {% if row.deleted %}class="deleted"{% endif %}>
        {% include 'summary/common/manual/ms.html' %}
        {% include 'summary/common/manual/range.html' %}
        {% include 'summary/species/manual/population.html' %}
        {% include 'summary/species/manual/habitat.html' %}
        {% include 'summary/species/manual/future_prospects.html' %}
        {% include 'summary/common/manual/overall_assessment.html' %}
        {% include 'summary/common/manual/contrib_target1.html' %}
        {% include 'summary/common/manual/actions.html' with context %}

        {% include 'summary/common/manual/conclusion_details.html' %}
      </tr>
      {% else %}
        {% include 'summary/species/manual_form.html' %}
      {% endif %}
    {% endfor %}
    </tbody>

    {# Add manual assessment form #}
    {% if not manual_assessment and can_add_conclusion(dataset, 'species', subject) %}
    <tbody>
      {% include 'summary/species/manual_form.html' %}
    </tbody>
    {% endif %}

  </table>
  {% else %}
  <p><b>Please select a group and a species.</b></p>
  {% endif %}
{% endblock %}
