{% extends layout_template %}


{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs(APP_BREADCRUMBS + [
      ('Species summary', None),
    ]) }}
{% endblock %}


{% block content %}

  <h1>Species asssessments at EU 27 level</h1>

  <p>Assessments on the conservation status of the habitat types and species of Community interest have been carried out in EU25 for the period 2001-2006 and in EU 27 for the period 2007-2012, compiled as part of the Habitats Directive - Article 17 reporting process. The data summary sheet for species conservation status provides an overview per biogeographical region. Once a selection has been made the conservation status can be visualised in a map view.
Choose a period, a group, then a species belonging to that group. Optionally, further refine your query by selecting one of the available biogeographical regions for that habitat.
  </p>

  {% include 'summary/filters.html' %}

  {% set colspan_all=28 if region else 29 %}
  {% if current_selection %}

  {% include 'summary/wiki_buttons.html' %}

  {% include 'common/note.html' %}
  {% include 'common/table_legend.html' %}

  <table class="complex_datatable">
    <caption>
      <b>Current selection</b>:
      {{ current_selection|join(', ') }}.
      {% if annexes %}
        <b>Annexes</b> {{ annexes|join(', ') }}.
      {% endif %}
      {% set show_all_url=url_for(progress_endpoint,
          period=dataset.id,
          group=group,
          conclusion='overall assessment') %}
      <a href="{{ show_all_url }}">Show all {{ group }}</a>
    </caption>

    {% include "common/species_table_header.html" with context %}

    <tbody>
    {% for row in objects %}
      {% set visible = can_view(row, restricted_countries) %}
      {% set qa_errors = record_errors(row) %}
      <tr {% if row.is_assesm %}class="assesm"{% endif %}>

        {% include 'summary/common/content/ms_region.html' %}

        {% if not visible %}
          <td class="border" colspan="2">
            {{ row.eu_country_code }} has provided a report to the European
            Commission under Article 17
          </td>
        {% else %}
          {% include 'summary/species/content/range.html' with context %}
          {% include 'summary/species/content/population.html' with context %}
          {% include 'summary/species/content/habitat.html' with context %}
          {% include 'summary/species/content/future_prospects.html' with context %}
          {% include 'summary/common/content/overall_assessment.html' with context %}
          {% include 'summary/species/content/grided_maps.html' with context %}
          {% include 'summary/species/content/quality.html' with context %}
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>

    <tbody class="thead">
    <tr class="section-header">
      <th class="table-title" colspan="{{ colspan_all }}">
        <div class="table-separator"></div>
        Automatic Assessments
        <button data-toggle onclick="$('#automatic_body').toggleClass('hidden')">
          Show,Hide
        </button>
      </th>
    </tr>
    </tbody>
    <tbody id="automatic_body" class="stripe_3rd hidden">
    {% for row in auto_objects %}
    <tr>
      <td class="border" title="{{ ASSESSMENT_DETAILS.get(row.assessment_method, '') }}">
        {{ row.assessment_method or 'N/A' }}
      </td>
      {% if not region %}<td class="border">{{ row.region or 'N/A' }}</td>{% endif %}

      {# Range #}
      {% include 'summary/species/auto/range.html' %}

      {# Population #}
      {% include 'summary/species/auto/population.html' %}

      {# Habitat #}
      {% include 'summary/species/auto/habitat.html' %}

      {# Prospects #}
      {% include 'summary/species/auto/future_prospects.html' %}

      {# Overall #}
      {% include 'summary/common/auto/overall_assessment.html' %}

      {# Grided #}
      {% include 'summary/species/auto/grided_maps.html' %}

      {# Padding #}
      <td class="border" colspan="5"></td>
    </tr>
    {% endfor %}
    </tbody>

    {# Manual assessments - conclusions #}
    <tbody class="thead">
    <tr class="section-header">
      <th class="table-title" colspan="{{ colspan_all }}">
        <div class="table-separator"></div>
        {% if dataset.schema == '2006' %}
        ETC/BD biogeographical assessment &amp; users proposed corrections
        {% else %}
        EU Biogeographical assessment and proposed corrections
        {% endif %}
      </th>
    </tr>
    {% include 'common/species_manual_table_header.html' %}
    </tbody>

    <tbody>
    {% for row in manual_objects %}
      {% if row == manual_assessment %}
        {% include 'summary/species/manual_form.html' %}
      {% else %}
      <tr id="man-row-{{ loop.index }}" class="{% if row.deleted %}deleted{% endif %} stripe_row">
        {% include 'summary/common/manual/ms.html' %}
        {% include 'summary/common/manual/range.html' %}
        {% include 'summary/species/manual/population.html' %}
        {% include 'summary/species/manual/habitat.html' %}
        {% include 'summary/species/manual/future_prospects.html' %}
        {% include 'summary/common/manual/overall_assessment.html' %}
        {% include 'summary/common/manual/contrib_target1.html' %}
        {% include 'summary/common/manual/actions.html' with context %}

        {% include 'summary/common/manual/conclusion_details.html' %}
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>

    {# Add manual assessment form #}
    {% if not manual_assessment and can_add_conclusion(dataset, 'species',
    subject, region) %}
    <tbody class="form">
      {% if region %}
        {% include 'summary/species/manual_form.html' %}
      {% else %}
        <tr class="form_row">
          <td colspan="{{ colspan_all }}">Please select a Bioregion in order to add a conclusion.</td>
        </tr>
      {% endif %}
    </tbody>
    {% endif %}

  </table>
  {% else %}
  <p><b>Please select a group and a species.</b></p>
  {% endif %}
{% endblock %}
