<div>
    {% if dataset.id == 4 %}
        <p class="note"><strong>Note</strong>:
            The related products are not available for the period 2007-2012bis.
        </p>
    {% endif %}
    <button type="button" id="wikibutton" href="{{ datasheet_url }}" {% if dataset.id == 4 %} disabled {% endif %}>
        View data sheet info
        {% if current_user.is_authenticated %}
          {% if wiki_unread %}({{ wiki_unread }} unread comments){% endif %}
        {% endif %}
    </button>

    <button type="button" id="wikibutton" {% if dataset.id == 4 %} disabled {% endif %}
        href=
            {% if region == '' %}
                "{{ audittrail_merged_url }}"
            {% else %}
                "{{ audittrail_url }}"
            {% endif %}>
        Audit trail</button>

    {% if map_url or dataset.id == 5 %}
      {% if speciescode %}
        {% set sensitive_species = is_sensitive(speciescode) %}
      {% else %}
        {% set sensitive_species = False %}
      {% endif %}
      <button type="button" id="show-map" data-url="{{ map_url }}" {% if dataset.id == 4 %} disabled {% endif %}>Map</button>
    {% endif %}

    {% if region %}
      {% set fs_error = "Please select all bioregions" %}
    {% elif not factsheet_url %}
      {% set fs_error = "Factsheet not available" %}
    {% else %}
    {% if dataset.id == 4 %}
      <span class="disabled button">
        Download factsheet
      </span>
    {% elif dataset.id != 5 %}
      <a href="{{ factsheet_url }}" id="download-fs" class="button"
        target="_blank">
        Download factsheet
      </a>
    {% endif %}
    {% endif %}
    {% if fs_error and dataset.id != 4 and dataset.id != 5 %}
    <span class="disabled button" title="{{ fs_error }}" >
      Download factsheet
    </span>
    {% endif %}
</div>
