<div>
    <button type="button" id="wikibutton" href="{{ datasheet_url }}">
        View data sheet info
        {% if wiki_unread %}({{ wiki_unread }} unread comments){% endif %}
    </button>

    <button type="button" id="wikibutton"
        href=
            {% if region == '' %}
                "{{ audittrail_merged_url }}"
            {% else %}
                "{{ audittrail_url }}"
            {% endif %}>
        Audit trail</button>

    {% if map_url %}
        <button type="button" id="show-map" data-url="{{ map_url }}">Map</button>
    {% endif %}

    {% if region %}
      {% set fs_error = "Please select all bioregions" %}
    {% elif not factsheet_url %}
      {% set fs_error = "Factsheet not available" %}
    {% else %}
    <a href="{{ factsheet_url }}" id="download-fs" class="button"
       target="_blank">
      Download factsheet
    </a>
    {% endif %}
    {% if fs_error %}
    <span class="disabled button" title="{{ fs_error }}">
      Download factsheet
    </span>
    {% endif %}
</div>
