{% extends layout_template %}


{% block breadcrumbs %}
  {% from '_macros.html' import breadcrumbs %}
  {{ breadcrumbs([
      ('art17', url_for(HOMEPAGE_VIEW_NAME)),
      ('auth', None),
      ('registration', url_for('auth.register')),
      ('local account', None),
    ]) }}
{% endblock %}


{% block content %}
  {%- from "security/_macros.html" import
        render_field_with_errors, render_field %}
  <h1>Register</h1>

  <form action="{{ url_for_security('register') }}"
        method="POST" name="register_user_form">
    {{ register_user_form.hidden_tag() }}
    {{ render_field_with_errors(register_user_form.id) }}
    {{ render_field_with_errors(register_user_form.name) }}
    {{ render_field_with_errors(register_user_form.institution) }}
    {{ render_field_with_errors(register_user_form.abbrev) }}
    {{ render_field_with_errors(register_user_form.MS) }}
    {{ render_field_with_errors(register_user_form.email) }}
    {{ render_field_with_errors(register_user_form.password) }}
    {% if register_user_form.password_confirm %}
      {{ render_field_with_errors(register_user_form.password_confirm) }}
    {% endif %}
    {{ render_field(register_user_form.submit) }}
  </form>
{% endblock %}
