{% extends 'layout_popup.html' %}

{% block content %}
<h1>Comments</h1>

{% set comments = record.comments %}
{% if not comments %}
  <p>No comments were added</p>
{% else %}
  <p>
    <strong>Comment colours:</strong>
    <span style="color: rgb(224, 124, 34);">red border shows your comment</span>,
    <span style="color: rgb(135, 179, 207);">blue borders shows the comments that have been read</span>,
    <span style="color: rgb(135, 139, 142);">grey borders shows the comments that have been deleted</span>
  </p>

  <div id="comments">
  {% if not edited_comment and can_post_comment(record) %}
  <p class="jump"><a href="#theform" title="Add a comment for this conclusion">Add a comment</a> &#8595;</p>
  {% endif %}
  <ol>
  {% for comment in comments %}
    {% set is_owner = comment.author.id == g.identity.id %}
    {% set read = comment.read_for(g.identity.id) %}
    {% set deleted = comment.deleted %}
    <li class="comment {% if is_owner %}comment-owner{% elif deleted %}comment-deleted{% elif read %}comment-read{% endif %}"
        id="comment-{{ comment.id }}">
      {% if edited_comment == comment %}
        <form method="post" action="" id="theform">
          {{ form.comment() }}
          <button type="submit" name="submit" value="update">Update</button>
        </form>
      {% else %}
      <dl>
        <dt>
          {{ comment.author.name or comment.author_id }} - {{ comment.author.institution }}
          {% if is_owner %}<a href="?edit={{ comment.id }}#comment-{{ comment.id }}">Edit</a>{% endif %}
        </dt>
        <dd>{{ comment.comment }}</dd>
        <dd>Posted on: {{ comment.post_date }}</dd>
      </dl>
      {% endif %}
    </li>
  {% endfor %}
  </ol>
  </div>

  <p class="jump"><a href="#comments" title="Jump up to the start of the comments &#8593;">Start of the comments</a> &#8593;</p>
{% endif %}

{% if not edited_comment and can_post_comment(record) %}
<form method="post" action="" id="theform">
  {{ form.comment() }}
  <button type="submit" name="submit" value="add">Add</button>
</form>
{% endif %}

{% endblock %}
