{% extends 'layout_popup.html' %}

{% block content %}

<div class="title-section clearfix">
  <h3 class="pull-left">Conclusion comments</h3>
  <div class="pull-right" style="padding: 4px">
    Region: <em>{{ record.region }}</em>
    User: <em>{{ record.user.name or record.user_id | hide_adm_etc_username}} from {{ record.user.institution }}</em>
    MS: <em>{{ record.MS }}</em>
  </div>
</div>

<div class="comment-section">
  {% set comments = record.comments %}
  {% if not comments %}
    <p>No comments were added</p>
  {% else %}

    <div id="comments">
    {% if not edited_comment and can_post_comment(record) %}
      <p class="jump"><a href="#theform" title="Add a comment for this conclusion">Add a comment</a> &#8595;</p>
    {% endif %}

    <ul class="cmnt-list no-list">
    {% for comment in comments %}
      {% set is_owner = comment.author.id == g.identity.id %}
      {% set read = comment.read_for(g.user) %}
      {% set deleted = comment.deleted %}
      {% if is_owner %}
        {% if deleted %}
          {% set comment_type = 'Deleted' %}
        {% else %}
          {% set comment_type = 'Your comment' %}
        {% endif %}
      {% else %}
        {% if read %}
          {% set comment_type = 'Read' %}
        {% else %}
          {% set comment_type = 'Unread' %}
        {% endif %}
      {% endif %}

      <li class="{{ get_css_class(comment) }}"
          id="comment-{{ comment.id }}">
          <div class="clearfix">
            <span class="cmnt-type">{{ comment_type }}</span>
            {% if can_edit_comment(comment) %}
              <a class="btn-text2"
                 href="?edit={{ comment.id }}#comment-{{ comment.id }}">Edit</a>
            {% endif %}
            {% if can_toggle_read(comment) %}
              <a class="btn-text2"
                 href="?toggle={{ comment.id }}&read={{ read }}#comment-{{ comment.id }}">
                {% if read %}Mark as unread{% else %}Mark as read{% endif %}
              </a>
            {% endif %}
            {% if can_delete_comment(comment) %}
              <a class="btn-text2"
                 href="?delete={{ comment.id }}&deleted={{ deleted }}#comment-{{ comment.id }}">
                {% if deleted %}Undelete{% else %}Delete{% endif %}
              </a>
            {% endif %}
          </div>

          {% if edited_comment == comment %}
            {% include 'comments/edit.html' with context %}
          {% else %}
            <div class="cmnt-body">{{ comment.comment | safe }}</div>
          {% endif %}

          <div class="small clearfix">
            <div class="pull-left">
              <strong>{{ comment.author.name | hide_adm_etc_username }}</strong>
              from {{ comment.author.institution or '-' }}
            </div>
            <span class="muted pull-right" title="{{ comment.posted | format_time_cmnt }}">
              {{ comment.post_date }}
            </span>
          </div>
      </li>
    {% endfor %}
    </ul>
    </div>

    <p class="jump"><a href="#comments" title="Jump up to the start of the comments &#8593;">Start of the comments</a> &#8593;</p>
  {% endif %}

  {% if not edited_comment and can_post_comment(record) %}
    {% include 'comments/add.html' with context %}
  {% endif %}
</div>

{% endblock %}
