{% if dataset.schema != '2019' %}
  <td class="center border_left">
    {{ row.range_grid_area|parse_semicolon|str2num('')|safe }}
  </td>

  <td class="center">
    {{ row.percentage_range_grid_area|parse_semicolon|str2num('')|safe }}
  </td>
{% endif %}

<td class="center {% if dataset.schema == '2019' %} border_left {% endif %}">
  {{ row.distribution_grid_area|parse_semicolon|str2num('')|safe }}
</td>

<td class="center border_right">
  {{ row.percentage_distribution_grid_area|parse_semicolon|str2num('')|safe }}
</td>
