{% set form=manual_form %}
{# Range #}
<td>
  {{ form.range_surface_area(size=5) }}
</td>
<td>
  {{ form.method_range() }}
  {{ form.conclusion_range() }}
</td>
<td>
  {{ form.range_trend() }}
</td>
<td>
  {{ form.complementary_favourable_range(size=5) }}
</td>
{# Population #}
<td>
	{{ form.population_size(size=5) }}
	{{ form.population_size_unit() }}
</td>
<td>
	{{ form.method_population() }}
	{{ form.conclusion_population() }}
</td>
<td>{{ form.population_trend() }}</td>
<td>{{ form.complementary_favourable_population(size=5) }}</td>
{# Habitat #}
<td>{{ form.habitat_surface_area(size=5) }}</td>
<td>
	{{ form.method_habitat() }}
	{{ form.conclusion_habitat() }}
</td>
<td></td>
<td>{{ form.habitat_trend() }}</td>
<td>{{ form.complementary_suitable_habitat(size=5) }}</td>
{# FP #}
<td>
	{{ form.method_future() }}
	{{ form.conclusion_future() }}
</td>
{# Overall #}
<td>
	{{ form.method_assessment() }}
	{{ form.conclusion_assessment() }}
</td>
<td>{{ form.conclusion_assessment_trend() }}</td>
<td>{{ form.conclusion_assessment_change() }}</td>
{# Contrib target 1 #}
<td>
	{{ form.method_target1() }}
	{{ form.conclusion_target1() }}
</td>

{# Buttons #}

{% if not manual_assessment %}
<td colspan="9">
  <button type="submit">Add assesment</button>
</td>
{% else %}
{% set row=manual_assessment %}
<td>
  <input type="hidden" name="subject" value="{{ subject }}" />
  <input type="hidden" name="region" value="{{ row.region }}" />
  <input type="hidden" name="user" value="{{ row.user_id }}" />
  <button type="submit" name="submit" value="update">update</button>
</td>
  {% include 'summary/common/manual/conclusion_details.html' %}
{% endif %}
