
  {% set country_title = get_title_for_country(row) %}
  {% set original_url = get_original_record_url(row) %}
  <td class="border" data-tooltip="html">
    <div class="tooltip-html hidden">
      <div class="extra-padding">
        {% if country_title %}
          <p class="br width-600 margin-small">{{ country_title|join('') }}</p>
        {% endif %}
        {% if not row.is_assesm %}
        <p class="margin-small">
          <a href="{{ original_url }}">Open Original Report</a>
          &nbsp;
          <span class="muted large">
            <i class="fa fa-external-link"></i>
          </span>
        </p>
        {% endif %}
      </div>
    </div>
    <a class="clipped popup-btn block"
       data-title="Factsheet" href="{{ original_url }}">
      {{ row.eu_country_code }}
    </a>
  </td>
  {% if not region %}
  <td class="border">{{ row.region }}</td>
  {% endif %}
