
  {% set s_name, s_info, s_type = get_title_for_country(row) %}
  {% set original_url = get_original_record_url(row) %}
  <td colspan="2" class="border" data-tooltip="html">
    <div class="tooltip-html hidden">
      <div class="extra-padding">
        <p class="br width-600 margin-small">
          {% if s_name %}
            Scientific name used in original MS report if different than
            recommended: "{{ s_name|safe }}"<br/>
          {% endif %}
          {% if s_info %}
            {{ s_info|format_info|safe }}</br>
          {% endif %}
          {% if s_type %}
            </br>Presence status in the reported check-list: {{ s_type|safe }}
          {% endif %}
        </p>
        {% if not row.is_assesm %}
          <p class="margin-small">
            <a href="{{ original_url }}">Open Original Report</a>
            &nbsp;
            <span class="muted large">
              <i class="fa fa-external-link"></i>
            </span>
          </p>
        {% endif %}
      </div>
    </div>
    <a class="clipped popup-btn block"
       data-title="Factsheet" href="{{ original_url }}">
      {{ row.eu_country_code }}
    </a>
  </td>
  {% if not region %}
  <td class="border">{{ row.region }}</td>
  {% endif %}
