{% from '_macros.html' import parse_errors with context %}

{% if dataset.schema == '2006' %}
  {% set classes=CONCLUSION_CLASSES.get(row.conclusion_assessment, '')  %}
  <td colspan="4" {{ parse_errors('conclusion_assessment',
                      row, qa_errors, classes=classes) }}>
    <span class="conclusion">{{ row.conclusion_assessment|str1num }}</span>
  </td>

{% else %}
  {% set classes=CONCLUSION_CLASSES.get(row.conclusion_assessment, '') %}
  <td {{ parse_errors('conclusion_assessment',
                      row, qa_errors, classes=classes) }}>
    <span class="conclusion">{{ row.conclusion_assessment|str1num }}</span>
  </td>

  <td class="center">{{ row.conclusion_assessment_trend|na_if_none }}</td>

  {% set classes=CONCLUSION_CLASSES.get(row.conclusion_assessment_prev, '') %}
  <td class="{{ classes }}">
    <span class="conclusion">{{ row.conclusion_assessment_prev|str1num }}</span>
  </td>

  {% if dataset.schema == '2018' %}
  <td class="center">
    {{ row.conclusion_assessment_prev_trend|str1num }}
  </td>
  {% endif %}

  <td class="center {% if dataset.schema != '2018' %} border_right {% endif %}">{{ row.conclusion_assessment_change|na_if_none }}</td>

  {% if dataset.schema == '2018' %}
  <td class="center border_right">
    {{ row.conclusion_assessment_change_trend|str1num }}
  </td>
  {% endif %}
{% endif %}
