{% from '_macros.html' import parse_errors with context %}

<td colspan="2" class="border text-center" title="{{ ASSESSMENT_DETAILS.get(row.assessment_method, '') }}">
  {{ row.assessment_method or 'N/A' }}
</td>

{% if not region %}
  <td class="border text-center">
    {{ row.region or 'N/A' }}
  </td>
{% endif %}

<!-- Range -->

<td class="number border_left text-center">
  {{ row.range_surface_area|parse_semicolon|str2num('')|safe }}
</td>

{% set range = row.percentage_range_surface_area or row.conclusion_range %}
{% if row.assessment_method == '0' or row.assessment_method ==  'method1' %}
  <td class="{{ CONCLUSION_CLASSES[row.conclusion_range] }}">
    <span class="conclusion">{{ range|parse_semicolon|str2num('')|safe }}</span>
  </td>
{% elif range %}
  <td class="{{ row.percentage_range_surface_area|colorate }}">
    <span class="conclusion">{{ row.percentage_range_surface_area|parse_semicolon|str2num('')|safe }}</span>
  </td>
{% else %}
 <td></td>
{% endif %}
      
<td class="center text-center">
  {% if row.assessment_method == '0' %}
    {{ row.range_trend|parse_semicolon|str2num('')|safe }}
  {% endif %}

  {% if row.assessment_method == 'method1' %}
    {{ row.percentage_range_trend|parse_semicolon|str2num('')|safe }}
  {% endif %}
</td>

<td class="center border_right text-center">
  {{ row.complementary_favourable_range|parse_semicolon|str2num('')|safe }}
</td>

<!-- Area -->
<td class="number border_left text-center">
  {{ row.coverage_surface_area_min }}
</td>

<td class="center text-center">
  {{ row.coverage_surface_area_max }}
</td>

<td class="center text-center">
  {{ row.coverage_surface_area }}
</td>

<td class="center">
  {{ row.coverage_estimate_type }}
</td>

<td class="center text-center">
  {{ row.coverage_method }}
</td>

{% set area = row.percentage_coverage_surface_area or row.conclusion_area %}
{% if row.assessment_method == '0' or row.assessment_method ==  'method1' %}
  <td class="{{ CONCLUSION_CLASSES[row.conclusion_area] }}">
    <span class="conclusion">{{ area|parse_semicolon|str2num('')|safe }}</span>
  </td>
{% elif area %}
  <td class="{{ row.percentage_coverage_surface_area|colorate }}">
    <span class="conclusion">{{ area|parse_semicolon|str2num('')|safe }}</span>
  </td>
{% else %}
 <td></td>
{% endif %}

<td class="center text-center">
  {% if row.assessment_method == '0' %}
    {{ row.coverage_trend|parse_semicolon|str2num('')|safe }}
  {% endif %}

  {% if row.assessment_method == 'method1' %}
    {{ row.percentage_coverage_trend|parse_semicolon|str2num('')|safe }}
  {% endif %}
</td>

<td class="center border_right text-center">
  {{ row.complementary_favourable_area|parse_semicolon|str2num('')|safe }}
</td>

<!-- Structure and functions -->
<td class="center">
  {{ row.hab_condition_good|parse_semicolon|safe }}
</td>

<td class="center">
  {{ row.hab_condition_notgood|parse_semicolon|safe  }}
</td>

<td class="center">
  {{ row.hab_condition_unknown|parse_semicolon|safe }}
</td>

{% set hab = row.percentage_structure or row.conclusion_structure %}
{% if row.assessment_method == '0' or row.assessment_method ==  'method1' %}
  <td class="{{ CONCLUSION_CLASSES[row.conclusion_structure] }}">
    <span class="conclusion">{{ hab|parse_semicolon|safe }}</span>
  </td>
{% elif area %}
  <td class="{{ row.percentage_structure|colorate }}">
    <span class="conclusion">{{ hab|parse_semicolon|safe }}</span>
  </td>
{% else %}
 <td></td>
{% endif %}

<td class="center text-center">
  {% if row.assessment_method == '0' %}
    {{ row.hab_condition_trend }}
  {% endif %}

  {% if row.assessment_method == 'method1' %}
    {{ row.percentage_hab_condition_trend|parse_semicolon|str2num('')|safe }}
  {% endif %}
</td>

<!-- Future prospects -->
<td class="center border_left text-center">
  {{ row.future_range|parse_semicolon|safe }}
</td>

<td class="center text-center">
  {{ row.future_area|parse_semicolon|safe }}
</td>

<td class="center text-center">
  {{ row.future_structure|parse_semicolon|safe }}
</td>

{% set future = row.conclusion_future or row.percentage_future %}
{% if row.assessment_method == '0' or row.assessment_method ==  'method1' %}
  <td class="{{ CONCLUSION_CLASSES[row.conclusion_future] }} border_right">
    <span class="conclusion">{{ future|parse_semicolon|safe }}</span>
  </td>
{% elif future %}
  <td class="{{ row.percentage_future|colorate }} border_right">
    <span class="conclusion">{{ row.percentage_future|parse_semicolon|safe }}</span>
  </td>
{% else %}
 <td class="border_right text-center"></td>
{% endif %}

<!-- Overall assessment -->

{% set overall = row.percentage_assessment or row.conclusion_assessment %}
{% if row.assessment_method == '0' or row.assessment_method ==  'method1' %}
  <td class="{{ CONCLUSION_CLASSES[row.conclusion_assessment] }}">
    <span class="conclusion">{{ overall|parse_semicolon|safe }}</span>
  </td>
{% elif overall %}
  <td class="{{ row.percentage_assessment|colorate }}">
    <span class="conclusion">{{ overall|parse_semicolon|safe }}</span>
  </td>
{% else %}
 <td></td>
{% endif %}

{% set classes=CONCLUSION_CLASSES.get(row.conclusion_assessment_trend, '') %}
<td class="{{ classes }}" title="Trend for unfavourable status:
                                {{ row.percentage_assessment_trend_unfavourable|parse_semicolon|safe }}">
  {% set percentage = row.percentage_assessment_trend or row.conclusion_assessment_trend %}
  <span class="conclusion">{{ percentage|parse_semicolon|safe }}</span>
</td>

<td class="{{ CONCLUSION_CLASSES[row.conclusion_assessment_prev] }}">
  <span class="conclusion">{{ row.conclusion_assessment_prev|default('', true)|parse_semicolon|safe }}</span>
</td>

<td class="center text-center">
  {{ row.conclusion_assessment_trend_prev|parse_semicolon|safe }}
</td>

{% set classes=CONCLUSION_CLASSES.get(row.conclusion_assessment_change, '') %}
<td class="{{ classes }}">
  <span class="conclusion">{{ row.percentage_assessment_change|default('', true)|parse_semicolon|safe}}</span>
</td>

<td class="center border_right text-center">
  {{ row.percentage_assessment_trend_change|parse_semicolon|safe }}
</td>

<!-- Distribution area -->
<td></td>

<td></td>

<td class="border_right text-center">
  {{ row.distribution_grid_area|parse_semicolon|str2num('')|safe }}
</td>

<td colspan="5"></td>
