
      </ol>
    </div>
   </nav>
  </div>
 </div>
 <div class="container">
  <div class="row">
   <aside id="global_statusmessage">
    <div>
    </div>
   </aside>
  </div>
  <main class="row row-offcanvas row-offcanvas-right" id="main-container">
   <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row">
     <div class="col-xs-12 col-sm-12">
     </div>
    </div>
    <footer class="row">
     <div class="col-xs-12 col-sm-12">
      <!-- <xsl:copy-of css:select="#viewlet-below-content" /> -->
     </div>
    </footer>
   </div>
   <div id="column1-container">
   </div>
   <div id="column2-container">
   </div>
  