<div class="comment-section">
  <h3>Comments</h3>

  {% if can_add_comment(comments) %}
    <div class="btn-toolbar">
        <button class='edit-btn {% if add_cmnt_form %}disabled{% endif %}'
            href="{{ add_comment_url }}">Add comment</button>
    </div>
    {% if add_cmnt_form %}
        {% include 'wiki/addcomment.html'%}
    {% endif %}
  {% endif %}

{% if not comments %}
    <i>No comments.</i>
{% else %}
  <ul class="cmnt-list no-list">
    {% for comment in comments %}
      {% set edit_cmnt_url = url_for('.ds-edit-comment', page=page,
             comment_id=comment.id, period=request.args['period'],
             subject=request.args['subject'], region=request.args['region']) %}
      {% if g.identity.id == comment.author_id %}
        {% set href = url_for('.ds-manage-comment', comment_id=comment.id,
                              toggle='del', page=page) %}
        {% if comment.deleted %}
          {% set comment_type = 'Deleted' %}
          {% set btn_text  = 'Undelete' %}
        {% else %}
          {% set comment_type = 'Your comment'%}
          {% set btn_text  = 'Delete'%}
        {% endif %}
      {% else %}
        {% set href = url_for('.ds-manage-comment', comment_id=comment.id,
                              toggle='read', page=page) %}
        {% if is_read(comment) %}
          {% set comment_type = 'Read'%}
          {% set btn_text  = 'Mark as unread'%}
        {% else %}
          {% set comment_type = 'Unread'%}
          {% set btn_text  = 'Mark as read'%}
        {% endif %}
      {% endif %}

        <li class="{{ get_css_class(comment) }}" id="{{comment.id}}">
        {% if can_manage_comment() %}
	      <div class="clearfix">
            <span class="cmnt-type">{{ comment_type }}</span>
            <button class="btn-text" href="{{ href }}"
                {% if edit_comment_form %}
                    style="display: none;"
                {% endif %}
                >{{ btn_text }}</button>

            <button class="btn-text edit-btn" href="{{ edit_cmnt_url ~ '#' ~ comment.id }}"
            {% if not can_edit_comment(comment) or edit_comment_form %}
            style="display: none;"{% endif %}>Edit</button>

         </div>
        {% endif %}

        <div class="cmnt-body">
          {% if edit_comment_form and can_edit_comment(comment) %}
            {% include 'wiki/editcomment.html' %}
          {% else %}
            {{ comment.comment | safe }}
          {% endif %}
        </div>

      <div class="small clearfix">
        {% if g.identity.id != comment.author_id %}
        <div class="pull-left">
          <strong>{{ comment.author.name | hide_adm_etc_username }}</strong>
          {% if comment.author.institution %}
            from {{ comment.author.institution }}
          {% endif %}
        </div>
        {% endif %}
        <span class="muted pull-right" title="{{ comment.posted | format_time_cmnt }}">
          {{ comment.posted | format_date_cmnt }}
        </span>
      </div>
    </li>
    {% endfor %}
  </ul>
{% endif %}
</div>
