{% extends 'layout_wiki.html' %}

{% block content %}

<h3>Data Sheet Info</h3>

{{ wiki_body|safe}}

<br/><br/>

{% if user_logged_in %}

    <a href='{{ edit_page_url }}'>Edit page</a>
    <a href='{{ add_comment_url }}'>Add comment</a>
    <a href='{{ page_history_url }}'>Page history</a>

    <br/><br/>

    {% if 'page_history' in request.base_url %}
        {% include 'wiki/datasheetinfo/pagehistory.html' %}

    {% elif 'add_comment' in request.base_url %}
        {% include 'wiki/datasheetinfo/addcomment.html' %}

    {% elif 'edit_page' in request.base_url %}
        {% include 'wiki/datasheetinfo/editpage.html' %}

    {% endif %}

{% endif %}

{% endblock %}
