{% extends 'layout_popup.html' %}

{% block content %}

<div class="title-section clearfix">
  <h2 class="pull-left">Data Sheet Info</h2>
  <div class="pull-right">
      {% if can_edit_wiki() %}
      <button class="edit-btn" href="{{ edit_page_url }}"
          {% if edit_page_form %}style="display: none;"{% endif %}>Edit</button>
      <button class="edit-btn" href="{{ home_url }}"
          {% if not edit_page_form %}style="display: none;"{% endif %}>Cancel</button>
      {% endif %}
{% if can_manage_wiki() %}
    <button onclick="$('#history').toggleClass('hidden')">Page history</button>
{% endif %}
  </div>
</div>

<div class="wiki">

    <div id="active-wiki">
        {% if edit_page_form %}
            {% include 'wiki/datasheetinfo/editpage.html' %}
         {% else %}
             {{ wiki_body|safe}}
         {% endif %}
    </div>
    <div id="preview-wiki" style="display: none;">
    </div>

{% if can_manage_wiki() %}
  {% include 'wiki/datasheetinfo/pagehistory.html' %}
{% endif %}

</div>

{% if g.identity %}

  {% if comments %}
    {% include 'wiki/datasheetinfo/comments.html' %}
  {% endif %}

{% endif %}

</div>
{% endblock %}
