{% extends 'layout_popup.html' %}

{% block content %}

<h3>Data Sheet Info</h3>

{{ wiki_body|safe}}

{% if g.identity %}

{% if comments %}
  {% include 'wiki/datasheetinfo/comments.html' %}
{% endif %}
    <!-- <ul class="cmnt-list no-list">


      <li class="cmnt-notread">

        <div class="clearfix">
          <span class="cmnt-type">Not read</span>
          <button class="button_text">Mark as read</button>
        </div>

        <p>This is someone else's comment.</p>

        <div class="small clearfix">
          <div class="pull-left">
            <strong>Mr. Someone Else</strong>,
            Institution of Departments in Organizations
          </div>
          <span class="muted pull-right">June 13, 2014</span>
        </div>
      </li>




      <li class="cmnt-notread">
        <div class="clearfix">
          <span class="cmnt-type">Not read</span>
          <button class="button_text">Mark as read</button>
        </div>
        <p>I haven't read this. This is someone else's comment.</p>
        <div class="small clearfix">
          <div class="pull-left">
            <strong>Mr. Someone Else</strong>,
            Institution of Departments in Organizations
          </div>
          <span class="muted pull-right">December 13, 2013</span>
        </div>
      </li>

      <li class="cmnt-owned">
        <div class="clearfix">
          <span class="cmnt-type">Your comment</span>
          <button class="button_text">Edit comment</button> |
          <button class="button_text">Delete</button>
        </div>
        <p>This is my comment. My comment is wider and more visible than the rest. This is because I wan't to see what came before and what comes after. Pretty isn't it?</p>
        <div class="clearfix">
          <span class="small muted pull-right">December 12, 2013</span>
        </div>
      </li>

      <li class="cmnt-read">
        <div class="clearfix">
          <span class="cmnt-type">Read this comment</span>
          <button class="button_text">Mark as unread</button>
        </div>
        <p>This is someone else's comment.</p>
        <div class="small clearfix">
          <div class="pull-left">
            <strong>Mr. Someone Else</strong>,
            Institution of Departments in Organizations
          </div>
          <span class="muted pull-right">November 13, 2013</span>
        </div>
      </li>

      <li class="cmnt-deleted">
        <div class="clearfix">
          <span class="cmnt-type">Deleted</span>
          <button class="button_text">Undo</button>
        </div>

        <p>This is a deleted comment.</p>

        <div class="small clearfix">
          <div class="pull-left">
            <strong>Mr. Me Myself</strong>,
            Institution of Departments in Organizations
          </div>
          <span class="muted pull-right">September 5, 2013</span>
        </div>
      </li> 
      <li class="cmnt-notread">
        <div class="clearfix">
          <span class="cmnt-type">Not read</span>
          <button class="button_text">Mark as read</button>
        </div>
        <p>This is a regular, read comment of someone else's.</p>
        <div class="small clearfix">
          <div class="pull-left">
            <strong>Mr. Someone Else</strong>,
            Institution of Departments in Organizations
          </div>
          <span class="muted pull-right">December 13, 2013</span>
        </div>
      </li> 
    </ul> -->






  <div class="hidden">

  <a href='{{ edit_page_url }}'>Edit page</a>
  <a href='{{ add_comment_url }}'>Add comment</a>
  <a href='{{ page_history_url }}'>Page history</a>

  {% if 'page_history' in request.base_url %}
    {% include 'wiki/datasheetinfo/pagehistory.html' %}

  {% elif 'add_comment' in request.base_url %}
    {% include 'wiki/datasheetinfo/addcomment.html' %}

  {% elif 'edit_page' in request.base_url %}
    {% include 'wiki/datasheetinfo/editpage.html' %}

  {% endif %}

{% endif %}
</div>
{% endblock %}
