{% extends 'layout_popup.html' %}

{% block content %}

<div class="title-section clearfix">
  <h2 class="no-margins pull-left">{{ page_title }}</h2>
  <div class="pull-right">
      {% if can_edit_page() and not merged %}
      <button class="edit-btn {% if edit_page_form %}disabled{% endif %}" 
              href="{{ edit_page_url }}">Edit</button>
      
      {% endif %}
{% if can_manage_revisions() and revisions %}
    <button {% if edit_page_form %}
              class="disabled"
            {% else %}
              onclick="$('#history').toggleClass('hidden')"
            {% endif %}>Page history</button>
{% endif %}
  </div>
</div>

<div class="wiki">

    <div id="active-wiki">
        {% if edit_page_form %}
            {% include 'wiki/editpage.html' %}
         {% else %}
            {% for region, region_url, body in wiki_body %}
                <h3><a href="{{ region_url }}">{{ region }}</a></h3>
                {{ body | safe }}
            {% endfor %}
         {% endif %}
    </div>
    <div id="preview-wiki" style="display: none;">
    </div>

{% if can_manage_revisions() %}
  {% include 'wiki/pagehistory.html' %}
{% endif %}

</div>

{% if comments is defined %}
    {% include 'wiki/comments.html' %}
{% endif %}

</div>
{% endblock %}
