{% extends 'layout_popup.html' %}

{% block content %}

{% if back_url %}
<a href="{{ back_url }}">Back</a>
{% endif %}

<div class="title-section clearfix">
  <h2 class="no-margins pull-left">{{ page_title }}</h2>
  <div class="pull-right">
      {% if can_edit_page() and not merged %}
      <button class="edit-btn btn-green {% if edit_page_form %}disabled{% endif %}"
          href="{{ edit_page_url }}">Edit {{ page_title }}</button>

      {% endif %}
{% if can_manage_revisions() and revisions %}
    <button {% if edit_page_form %}
              class="disabled"
            {% else %}
              onclick="$('#history').toggleClass('hidden')"
            {% endif %}>Page history</button>
{% endif %}
  </div>
</div>

<div class="wiki">

    <div id="active-wiki">
        {% if edit_page_form %}
            {% include 'wiki/editpage.html' %}
         {% elif merged and not wiki_body %}
            <p>Please select a region in order to add an Audit Trail record.</p>
         {% else %}
            {% if merged %}
                <p>Please select a region in order to edit.</p>
            {% endif %}
            {% for region, region_url, body in wiki_body %}
                <h3><a href="{{ region_url }}&merged=merged">{{ region }}</a></h3>
                {{ body | safe }}
            {% endfor %}
         {% endif %}
    </div>
    <div id="preview-wiki" style="display: none;">
    </div>

{% if can_manage_revisions() %}
  {% include 'wiki/pagehistory.html' %}
{% endif %}

</div>

{% if comments is defined %}
    {% include 'wiki/comments.html' %}
{% endif %}

</div>
{% endblock %}
