{% from '_macros.html' import parse_errors, reason_title, set_method_title, set_reason_title with context %}

<!-- Range -->

<td {{ parse_errors('range_surface_area', row, qa_errors, classes='number border_left text-center') }}
    {{ set_reason_title(row.range_change_reason) }}>
  {{ row.range_surface_area|str2num or 'N/A' }}
</td>

{% set classes=CONCLUSION_CLASSES.get(row.conclusion_range, '') %}
<td {{ parse_errors(['conclusion_range', 'percentage_range_surface_area'], row, qa_errors, classes=classes) }}>
  <span class="conclusion text-center">{{ row.percentage_range_surface_area|str2num(0) }}</span>
</td>

{% set qtitle, qclasses = parse_qa_errors('range_yearly_magnitude', row,
                                         qa_errors) %}
{% if not qtitle %}
  {% if row.range_yearly_magnitude -%}
    {% set qtitle = 'Yearly magnitude = ' + row.range_yearly_magnitude|string %}
  {%- endif -%}
{% endif %}

<td class="center text-center {{ qclasses }}"
    {{ set_method_title(row.range_trend_method) }}>
  {{ row.range_trend or 'N/A' }}
</td>

<td {{ parse_errors(['complementary_favourable_range_q',
                     'complementary_favourable_range'],
                     row, qa_errors, '', 'number border_right text-center') }}>
  {% set range_q = row.complementary_favourable_range_q or '' %}
  {% set range = row.complementary_favourable_range %}

  {% if range_q %} 
    {{ range_q }}
  {% endif %}
  
  {% if range %}
    {{ range|str2num('') }}
  {% endif %}
</td>

<!-- Area -->

<td class='number border_left text-center')>
  {{ row.coverage_surface_area_min|str2num or 'N/A' }}
</td>

<td class='number center text-center') }}>
  {{ row.coverage_surface_area_max|str2num or 'N/A' }}
</td>

<td class="center text-center"
    {{ set_reason_title(row.coverage_change_reason) }}>
  {% set coverage_surface_area = row.coverage_surface_area or '' %}
  {{ coverage_surface_area|str2num }}
</td>

<td class="center text-center">
  {{ row.coverage_estimate_type }}
</td>

<td class="center text-center">
  {{ row.coverage_method }}
</td>

{% set classes=CONCLUSION_CLASSES.get(row.conclusion_area, '') %}
<td {{ parse_errors(['conclusion_area',
                     'percentage_coverage_surface_area'],
                     row, qa_errors, classes=classes) }}>
  <span class="conclusion">{{ row.percentage_coverage_surface_area|str2num(0) }}</span>
</td>

<td class="center text-center"
    {{ set_method_title(row.coverage_trend_method) }}>
  {{ row.coverage_trend or 'N/A' }}
</td>

<td {{ parse_errors(['complementary_favourable_area_q',
                     'complementary_favourable_area'],
                     row, qa_errors, '', 'number border_right text-center') }}>
  {% set range_q = row.complementary_favourable_area_q or '' %}
  {% set range = row.complementary_favourable_area or '' %}
  
  {% if range_q %}
    {{ range_q }}
  {% endif%}

  {% if range %}
    {{ range|str2num }}
  {% endif %}
</td>

<!-- Structure and functions -->

<td {{ set_method_title(row.hab_condition_method) }}
    class="center text-center">
  {{ row.hab_condition_good_min|str2num }} - {{ row.hab_condition_good_max|str2num }}
</td>

<td class="center text-center">
  {{ row.hab_condition_notgood_min|str2num }} - {{ row.hab_condition_notgood_max|str2num }}
</td>

<td class="center text-center">{{ row.hab_condition_unknown_min|str2num }} - {{ row.hab_condition_unknown_max|str2num }}</td>

{% set classes=CONCLUSION_CLASSES.get(row.conclusion_structure, '') %}
<td {{ parse_errors(['conclusion_structure'], row, qa_errors, classes=classes) }}>
  <span class="conclusion">{{ row.conclusion_structure|str2num }}</span>
</td>

<td {{ set_method_title(row.hab_condition_trend_method) }}
    class="center text-center">
  {{ row.hab_condition_trend|str2num }}
</td>

<!-- Future prospects -->

<td class="center border_left text-center">
  {{ row.future_range|str2num }}
</td>

<td class="center text-center">
  {{ row.future_area|str2num }}
</td>

<td class="center text-center">
  {{ row.future_structure|str2num }}
</td>

{% set classes=CONCLUSION_CLASSES.get(row.conclusion_future, '') + ' border_right' %}
<td {{ parse_errors('conclusion_future', row, qa_errors, classes=classes) }}>
  <span class="conclusion">{{ row.conclusion_future|str1num }}</span>
</td>

<!-- Overall assessment -->

{% set classes=CONCLUSION_CLASSES.get(row.conclusion_assessment, '') %}
<td {{ parse_errors('conclusion_assessment', row, qa_errors, classes=classes) }}>
  <span class="conclusion">{{ row.conclusion_assessment|str1num }}</span>
</td>

<td class="center text-center">{{ row.conclusion_assessment_trend|na_if_none }}</td>

{% set classes=CONCLUSION_CLASSES.get(row.conclusion_assessment_prev, '') %}
<td class="{{ classes }}">
  <span class="conclusion">{{ row.conclusion_assessment_prev|str1num }}</span>
</td>

<td class="center text-center">
  {{ row.conclusion_assessment_trend_prev|str1num }}
</td>

<td class="center text-center">{{ row.conclusion_assessment_change|na_if_none }}</td>

<td class="center border_right text-center">
  {{ row.conclusion_assessment_trend_change|str1num }}
</td>
  
<!-- Distribution area -->

<td class="center text-center">
  {{ row.distribution_grid_area|str1num }}
</td>

<td class="center text-center">
  {{ row.distribution_method|str1num }}
</td>

<td class="center border_right text-center">
  {{ row.percentage_distribution_grid_area|str2num(0) }}
</td>

<td class="border_right" colspan="5"></td>
