
<div class="comment-section">
  <h2>Comments</h2>
  <button>Add comment</button>
  
	<ul class="cmnt-list no-list">
	{% for comment in comments %}

	<li class="{{ comment.css_class }}">
	  <div class="clearfix">
	  	<!-- Ifs -->
	    <span class="cmnt-type">Not read</span>
	    <button class="button_text">Mark as read</button>
	  </div>
	  <div class="cmnt-body">{{ comment.comment | safe }}</div>
	  <div class="small clearfix">
	    <div class="pull-left">
	      <strong>{{ comment.author.name | hide_adm_etc_username }}</strong>,
	      {{ comment.author.institution }}
	    </div>
	    <span class="muted pull-right">December 13, 2013</span>
	  </div>
	</li>

	{% endfor %}
	</ul>
</div>